$primary: #6435c9;
$black: #171820;
$white: #fdfdfe;
$grey: #a4a4a4;
$lightGrey: #ccccd0;
$dark: #2a3334;
$light: #e7e6e3;
$grey2: #828d87;
$secondary: #35d195;

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

body > #root > .App {
	color: $white;
	min-height: 100%;
	overflow: hidden;
	background-color: transparent !important;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	background: linear-gradient(
			90deg,
			rgba(#ff4d4d, 0.6) 10%,
			rgba(#ff8183, 0.6)
		),
		url("../images/flat-mountains-1080p.jpg") no-repeat;
	background-position: 50% 50%;
}

.centered {
	text-align: center;
}

.a-link {
	cursor: pointer;
}

.banner {
	margin-bottom: 0 !important;
	border-radius: 0 !important;
}

.menu {
	i.icon {
		cursor: pointer;
		margin: 0;
		width: 26px;
		height: 26px;
		line-height: 26px;
		border-radius: 4px;
		&:hover {
			background-color: #111;
		}
	}
}

.c4-collapsed {
	.no-display {
		display: none !important;
	}
}

//-- User ---------------------------------------------
@import "./user/UserHeader";
@import "./user/User";
@import "./user/UserCard";
@import "./user/OnlineStatus";
//-- Layouts ------------------------------------------
@import "./layouts/MainLayout";
@import "./layouts/ImageBG";
//-- Server -------------------------------------------
@import "./server/ServerHeader";
@import "./server/ServerList";
@import "./server/ServerSidebar";
//-- Member -------------------------------------------
@import "./member/MemberSidebar";
@import "./member/MemberList";
//-- Channel ------------------------------------------
@import "./channel/ChannelHeader";
@import "./channel/ChannelList";
@import "./channel/ChannelItem";
@import "./channel/ChannelPresence";
//-- Chat ---------------------------------------------
@import "./chat/ChatRoom";
@import "./chat/ChatHistory";
@import "./chat/ChatInput";
@import "./chat/ChatMessage";
@import "./chat/IsTypingList";
//-- VoIP --------------------------------------------
// @import "./voip/VoipHeader";
//-- Options -----------------------------------------
@import "./options/ServerOptions";
//-- Pages -------------------------------------------
@import "./pages/homePage";
@import "./pages/loginPage";
@import "./pages/registerPage";
@import "./pages/passwordResetPage";
@import "./pages/errorPage";
@import "./pages/ProfilePage";
@import "./pages/HoloSpacePage";
//-- Forms --------------------------------------------
@import "./forms/MessageForm";
//-- Navigation ---------------------------------------
@import "./navigation/headers/TopNavigation";
