@import url(https://fonts.googleapis.com/css?family=Oswald:700);
*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  height: 100%;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

body > #root > .App {
  color: #fdfdfe;
  min-height: 100%;
  overflow: hidden;
  background-color: transparent !important; }

.background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient(90deg, rgba(255, 77, 77, 0.6) 10%, rgba(255, 129, 131, 0.6)), url("../images/flat-mountains-1080p.jpg") no-repeat;
  background-position: 50% 50%; }

.centered {
  text-align: center; }

.a-link {
  cursor: pointer; }

i.icon {
  margin: 0;
  display: inline-block;
  padding: 0 !important; }

.banner {
  margin-bottom: 0 !important;
  border-radius: 0 !important; }

.menu i.icon {
  cursor: pointer;
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 4px; }
  .menu i.icon:hover {
    background-color: #111; }

.c4-collapsed .no-display {
  display: none !important; }

.user-header {
  padding: 12px 24px;
  bottom: 0;
  width: 240px;
  position: fixed; }
  .user-header .avatar {
    cursor: pointer;
    width: 32px !important;
    height: 32px !important;
    line-height: 32px;
    text-align: center;
    color: #fff !important; }
    .user-header .avatar:hover {
      opacity: 0.8; }
  .user-header .text {
    margin: 0 0.4em;
    font-size: 16px;
    display: inline-block;
    max-height: 32px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .user-header .text .pin {
      color: #646464;
      font-size: 10px;
      display: block;
      text-align: left !important; }
  .user-header .menu {
    float: right;
    line-height: 32px; }
    .user-header .menu i {
      font-size: 18px;
      margin-left: 5px;
      cursor: pointer;
      transition: color 0.3s;
      vertical-align: middle; }

.user {
  position: relative;
  display: inline-block;
  max-height: 32px;
  vertical-align: middle; }
  .user .status {
    position: absolute;
    width: 0.85em;
    height: 0.85em;
    border-radius: 100%;
    right: 0;
    bottom: 0; }
    .user .status.online--true.Show {
      background-color: #00b5ad !important;
      border: 2px solid #00e8de; }
    .user .status.online--true.Away {
      background-color: #fbbd08 !important;
      border: 2px solid #fcca3a; }
    .user .status.online--true.Busy {
      background-color: #db2828 !important;
      border: 2px solid #e25454; }
    .user .status.online--false.Away, .user .status.online--false.Busy, .user .status.online--false.Show {
      background-color: #767676 !important;
      border: 2px solid #909090; }

.user-card {
  min-width: 350px; }
  .user-card .header {
    position: relative;
    margin-top: 3em; }
    .user-card .header .user {
      min-height: 58px !important;
      position: absolute;
      top: 5px;
      left: 5px; }
    .user-card .header .avatar {
      cursor: pointer;
      width: 64px !important;
      height: 64px !important;
      line-height: 64px;
      text-align: center;
      color: #fff !important; }
    .user-card .header .text {
      margin-top: 0.5em;
      margin-left: 4.5em; }
      .user-card .header .text small {
        display: block; }
      .user-card .header .text .pin {
        color: #666;
        font-size: 12px; }

.main-layout {
  display: grid;
  grid-template-columns: 80px 1fr;
  height: 100vh;
  overflow: hidden;
  /*
	___ _____ _________ ______
	|  |_c2t_|___c3t___|     |
	|  |     |         |     |
	|c1| c2m |   c3m   | c4t |
	|  |     |         |_____|
	|__|_____|_________|_c4b_|	
	*/
  /*
	___ _______________ ______
	|  |______c3t______|     |
	|  |               |     |
	|c1|      c3m      | c4t | 
	|  |               |_____|
	|__|_______________|_c4b_|
	*/
  /*
	___ _____ ____________ ___
	|  |_c2t_|_____c3t____|  |
	|  |     |            |c |
	|c1| c2m |     c3m    |4t|
	|  |     |            |__|
	|__|_____|____________|4b|	
	*/ }
  .main-layout .grid-row {
    height: 100vh; }
  .main-layout .grid-row.full {
    display: grid;
    grid-template-columns: 240px 1fr 240px; }
  .main-layout .grid-row.c2-collapsed {
    display: grid;
    grid-template-columns: 0fr 1fr 240px;
    /*
		___ __________________ ___
		|  |________c3t_______|  |
		|  |                  |c |
		|c1|        c3m       |4t| 
		|  |                  |__|
		|__|__________________|4b|			
		*/ }
    .main-layout .grid-row.c2-collapsed.c4-collapsed {
      display: grid;
      grid-template-columns: 0fr 1fr 80px; }
  .main-layout .grid-row.c4-collapsed {
    display: grid;
    grid-template-columns: 240px 1fr 80px; }
  .main-layout .col,
  .main-layout .row {
    color: #fdfdfe;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow: hidden; }
  .main-layout .stretch {
    flex: 1; }
  .main-layout .c1 {
    background-color: #111;
    background-color: rgba(17, 17, 17, 0.8) !important; }
  .main-layout .c2m,
  .main-layout .c2t {
    background-color: #303030; }
  .main-layout .c2m {
    background-color: rgba(48, 48, 48, 0.8) !important; }
  .main-layout .c3m,
  .main-layout .c3t {
    background-color: #424242; }
  .main-layout .c3m {
    background-color: rgba(66, 66, 66, 0.8) !important; }
  .main-layout .c4b,
  .main-layout .c4t {
    background-color: #212121; }
  .main-layout .c4t {
    background-color: rgba(33, 33, 33, 0.8) !important; }

.server-header {
  height: 56px;
  line-height: 56px;
  padding: 0 24px; }
  .server-header .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .server-header .menu {
    float: right; }
    .server-header .menu i {
      font-size: 18px;
      margin-left: 5px;
      cursor: pointer;
      transition: color 0.3s; }

.server-list {
  flex: 1 1 auto;
  height: 0;
  overflow-y: auto; }
  .server-list .server.current .avatar {
    border-radius: 15% !important; }
  .server-list .avatar {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px;
    text-align: center;
    color: #fff !important;
    cursor: pointer; }
    .server-list .avatar:hover {
      border-radius: 15%; }

.server-sidebar .btn {
  margin: 0.8em 0; }

.member-sidebar .header {
  line-height: 56px; }

.member-sidebar .trigger {
  font-size: 18px;
  margin: 0 24px !important;
  cursor: pointer;
  transition: color 0.3s; }
  .member-sidebar .trigger:hover {
    color: #6435c9; }

.member-list {
  flex: 1 1 auto;
  height: 0;
  overflow-y: auto; }
  .member-list .avatar {
    cursor: pointer;
    width: 32px !important;
    height: 32px !important;
    line-height: 32px;
    text-align: center;
    color: #fff !important; }
  .member-list .member {
    margin: 0.5em auto;
    background-color: transparent;
    transition: all 0.5s ease-out; }
    .member-list .member:hover {
      background: black;
      /* For browsers that do not support gradients */
      background: linear-gradient(to right, black, transparent); }
    .member-list .member .text {
      margin-left: 0.4em;
      margin-right: 0.2em;
      vertical-align: middle; }

.c4-collapsed .member i.icon.sun {
  position: absolute; }

.channel-header {
  padding: 0 50px;
  line-height: 56px !important;
  height: 56px !important; }
  .channel-header .trigger {
    font-size: 18px;
    margin: 0 24px !important;
    cursor: pointer;
    transition: color 0.3s; }
    .channel-header .trigger:hover {
      color: #6435c9; }
  .channel-header .current-channel {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .channel-header .current-channel .name {
      font-size: 18px; }
      .channel-header .current-channel .name i {
        font-size: 16px;
        color: #999;
        margin-right: 5px; }
    .channel-header .current-channel .topic {
      border-left: 1px solid #999;
      color: #999;
      padding-left: 7px;
      margin-left: 7px; }
  .channel-header .menu {
    float: right; }
    .channel-header .menu i {
      font-size: 18px;
      margin-right: 5px;
      cursor: pointer;
      transition: color 0.3s; }

.channel-list {
  padding: 1em 0;
  flex: 1 1 auto;
  height: 0;
  overflow-y: auto; }
  .channel-list .title {
    color: #fff !important;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 26px; }
    .channel-list .title .add-channel .menu {
      float: right; }
  .channel-list .content {
    color: #999; }
  .channel-list i {
    color: #fff; }
  .channel-list .menu i {
    font-size: 18px;
    margin-right: 24px;
    cursor: pointer;
    transition: color 0.3s; }

.channel-item {
  color: #999;
  border-left: 4px solid transparent;
  height: 40px;
  line-height: 40px;
  position: relative; }
  .channel-item .channel-item-header {
    padding-left: 1.2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .channel-item .channel-item-header .hashtag {
      margin-right: 0.5em;
      font-size: 11px; }
  .channel-item i,
  .channel-item a {
    color: #999 !important; }
  .channel-item .menu {
    visibility: hidden !important; }
  .channel-item:hover, .channel-item.current {
    border-left: 4px solid #6435c9;
    background: #424242;
    /* For browsers that do not support gradients */
    background: linear-gradient(to right, #424242, rgba(66, 66, 66, 0)); }
    .channel-item:hover i,
    .channel-item:hover a,
    .channel-item:hover .text, .channel-item.current i,
    .channel-item.current a,
    .channel-item.current .text {
      color: white !important; }
    .channel-item:hover .menu, .channel-item.current .menu {
      visibility: visible !important;
      position: relative;
      z-index: 3; }
  .channel-item.current:after {
    content: "";
    display: block;
    border: 20px solid transparent;
    border-right-color: rgba(200, 200, 200, 0.1);
    position: absolute;
    bottom: 0;
    right: 0; }

.channel-accordion-item {
  color: #999;
  margin-top: 0 !important; }
  .channel-accordion-item i,
  .channel-accordion-item a {
    color: #999 !important; }
  .channel-accordion-item .menu {
    visibility: hidden !important; }
  .channel-accordion-item .title {
    padding: 0 !important;
    line-height: 40px !important;
    height: 40px;
    border-left: 4px solid transparent;
    padding-left: 0.9em !important;
    position: relative; }
    .channel-accordion-item .title .dropdown.icon {
      vertical-align: middle !important; }
    .channel-accordion-item .title .channel-item-header {
      cursor: pointer; }
      .channel-accordion-item .title .channel-item-header .text,
      .channel-accordion-item .title .channel-item-header a {
        text-transform: none;
        font-weight: normal;
        color: #999; }
      .channel-accordion-item .title .channel-item-header .menu {
        float: right; }
    .channel-accordion-item .title:hover {
      border-left: 4px solid #6435c9;
      background: #424242;
      /* For browsers that do not support gradients */
      background: linear-gradient(to right, #424242, rgba(66, 66, 66, 0)); }
      .channel-accordion-item .title:hover i,
      .channel-accordion-item .title:hover a,
      .channel-accordion-item .title:hover .text {
        color: white !important; }
      .channel-accordion-item .title:hover .menu {
        visibility: visible !important;
        position: relative;
        z-index: 3; }

.channel-accordion-item.current .title {
  border-left: 4px solid #6435c9;
  background: #424242;
  /* For browsers that do not support gradients */
  background: linear-gradient(to right, #424242, rgba(66, 66, 66, 0)); }
  .channel-accordion-item.current .title i,
  .channel-accordion-item.current .title a,
  .channel-accordion-item.current .title .text {
    color: white !important; }
  .channel-accordion-item.current .title .menu {
    visibility: visible !important;
    position: relative;
    z-index: 3; }
  .channel-accordion-item.current .title:after {
    content: "";
    display: block;
    border: 20px solid transparent;
    border-right-color: rgba(200, 200, 200, 0.1);
    position: absolute;
    bottom: 0;
    right: 0; }

.channel-presence {
  padding-left: 2.7em; }
  .channel-presence .avatar {
    width: 24px !important;
    height: 24px !important;
    line-height: 24px;
    text-align: center;
    color: #fff !important; }
  .channel-presence .member {
    margin: 0.5em auto;
    color: #999; }
    .channel-presence .member:hover {
      color: #fff; }
    .channel-presence .member .text {
      vertical-align: middle; }

.chat-room {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.chat-history {
  display: flex;
  flex: 1 1 auto;
  height: 0;
  overflow-y: scroll;
  padding: 24px 14.5px 24px 24px; }
  .chat-history .ui.divider {
    margin: 0 !important; }
  .chat-history .avatar {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px;
    text-align: center;
    color: #fff !important; }

.chat-input {
  padding-top: 18px;
  padding-bottom: 30px;
  border-top: 1px solid rgba(155, 155, 155, 0.7);
  margin: 0 24px;
  position: relative; }

.chat-message {
  margin: 1em 0; }
  .chat-message .avatar {
    float: left; }
  .chat-message .content {
    margin-left: 3.6em; }
    .chat-message .content .message-blocks .block .actions {
      cursor: pointer;
      margin-left: 0.5em;
      visibility: hidden;
      text-decoration: none; }
    .chat-message .content .message-blocks .block .edited {
      margin-left: 0.5em;
      color: #999;
      font-style: italic; }
    .chat-message .content .message-blocks .block:hover {
      text-decoration: underline; }
      .chat-message .content .message-blocks .block:hover .actions {
        visibility: visible; }
    .chat-message .content .header {
      font-size: 16px;
      color: #fff;
      font-weight: bold; }
    .chat-message .content .date {
      color: #ddd;
      margin-left: 0.5em; }
    .chat-message .content .description {
      margin-top: 0.4em; }

.is-typing-list {
  color: #999;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic; }

.home-page {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden; }
  .home-page .some-stars {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1881px 1205px #FFF, 146px 1360px #FFF, 1637px 1999px #FFF, 1076px 1938px #FFF, 1477px 385px #FFF, 1619px 1422px #FFF, 188px 1289px #FFF, 582px 1623px #FFF, 56px 1105px #FFF, 213px 1996px #FFF, 1190px 1112px #FFF, 606px 1481px #FFF, 1445px 1192px #FFF, 468px 1278px #FFF, 1617px 1353px #FFF, 873px 47px #FFF, 1045px 745px #FFF, 712px 743px #FFF, 1921px 1250px #FFF, 1584px 1464px #FFF, 1903px 1582px #FFF, 1275px 1968px #FFF, 689px 327px #FFF, 1924px 1563px #FFF, 1013px 919px #FFF, 1500px 31px #FFF, 187px 267px #FFF, 1600px 239px #FFF, 152px 220px #FFF, 976px 1710px #FFF, 1724px 1694px #FFF, 1293px 138px #FFF, 1684px 1922px #FFF, 1959px 420px #FFF, 1021px 577px #FFF, 1400px 1829px #FFF, 823px 1055px #FFF, 1313px 972px #FFF, 119px 1799px #FFF, 595px 1501px #FFF, 1009px 1830px #FFF, 1327px 58px #FFF, 1746px 1040px #FFF, 746px 1866px #FFF, 1137px 1551px #FFF, 1738px 1119px #FFF, 231px 801px #FFF, 161px 554px #FFF, 1476px 568px #FFF, 1983px 567px #FFF, 1898px 646px #FFF, 1821px 1828px #FFF, 787px 886px #FFF, 838px 1007px #FFF, 466px 1934px #FFF, 1610px 1866px #FFF, 1500px 835px #FFF, 656px 1808px #FFF, 387px 1231px #FFF, 1608px 55px #FFF, 1654px 1009px #FFF, 1023px 1299px #FFF, 629px 1495px #FFF, 1233px 258px #FFF, 1884px 1295px #FFF, 631px 1984px #FFF, 1289px 1451px #FFF, 1834px 1658px #FFF, 1394px 1544px #FFF, 1147px 1866px #FFF, 1381px 111px #FFF, 1817px 976px #FFF, 549px 36px #FFF, 1029px 1395px #FFF, 1691px 68px #FFF, 1418px 85px #FFF, 1711px 896px #FFF, 1355px 372px #FFF, 1024px 1258px #FFF, 93px 1501px #FFF, 1069px 1901px #FFF, 1181px 1951px #FFF, 164px 1450px #FFF, 321px 1642px #FFF, 1334px 1628px #FFF, 1102px 123px #FFF, 1513px 964px #FFF, 992px 431px #FFF, 650px 1531px #FFF, 1907px 573px #FFF, 345px 113px #FFF, 943px 1721px #FFF, 1940px 958px #FFF, 854px 1222px #FFF, 782px 1511px #FFF, 1050px 900px #FFF, 187px 160px #FFF, 231px 796px #FFF, 212px 1890px #FFF, 672px 12px #FFF, 22px 1015px #FFF, 1396px 814px #FFF, 1230px 982px #FFF, 1940px 811px #FFF, 1680px 997px #FFF, 148px 1724px #FFF, 836px 385px #FFF, 1228px 1251px #FFF, 1439px 1428px #FFF, 1453px 112px #FFF, 1675px 442px #FFF, 1394px 206px #FFF, 440px 1611px #FFF, 570px 389px #FFF, 1927px 1223px #FFF, 537px 366px #FFF, 241px 206px #FFF, 21px 1660px #FFF, 491px 1875px #FFF, 1078px 1228px #FFF, 594px 1550px #FFF, 835px 384px #FFF, 1182px 1181px #FFF, 1807px 1987px #FFF, 1038px 1868px #FFF, 890px 147px #FFF, 1455px 1244px #FFF, 1365px 828px #FFF, 359px 1721px #FFF, 883px 577px #FFF, 1113px 1289px #FFF, 1251px 1825px #FFF, 368px 1738px #FFF, 1904px 1125px #FFF, 135px 1588px #FFF, 363px 1196px #FFF, 1796px 1534px #FFF, 1147px 1758px #FFF, 823px 207px #FFF, 645px 1786px #FFF, 1889px 1507px #FFF, 1055px 1523px #FFF, 1811px 127px #FFF, 144px 476px #FFF, 4px 1021px #FFF, 1901px 671px #FFF, 861px 1025px #FFF, 1229px 163px #FFF, 1628px 1368px #FFF, 1072px 643px #FFF, 1690px 562px #FFF, 1740px 1255px #FFF, 430px 899px #FFF, 272px 1804px #FFF, 1214px 1733px #FFF, 1370px 1789px #FFF, 1243px 1548px #FFF, 1248px 1769px #FFF, 136px 1226px #FFF, 414px 570px #FFF, 907px 492px #FFF, 1925px 450px #FFF, 417px 1677px #FFF, 1360px 397px #FFF, 92px 714px #FFF, 1738px 919px #FFF, 580px 414px #FFF, 1261px 1148px #FFF, 113px 600px #FFF, 1220px 1829px #FFF, 953px 1791px #FFF, 455px 56px #FFF, 722px 1633px #FFF, 194px 1799px #FFF, 1502px 260px #FFF, 1283px 1089px #FFF, 257px 957px #FFF, 1958px 277px #FFF, 1592px 1800px #FFF, 737px 518px #FFF, 1603px 1189px #FFF, 496px 1890px #FFF, 1339px 354px #FFF, 118px 936px #FFF, 1418px 359px #FFF, 315px 480px #FFF, 1824px 1397px #FFF, 1427px 85px #FFF, 1516px 1613px #FFF, 56px 308px #FFF, 1913px 17px #FFF, 1758px 191px #FFF, 1329px 106px #FFF, 828px 1135px #FFF, 1344px 862px #FFF, 747px 1313px #FFF, 1310px 1119px #FFF, 1149px 198px #FFF, 978px 394px #FFF, 1510px 1810px #FFF;
    animation: parallaxStar 100s linear infinite; }
    .home-page .some-stars:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 1881px 1205px #FFF, 146px 1360px #FFF, 1637px 1999px #FFF, 1076px 1938px #FFF, 1477px 385px #FFF, 1619px 1422px #FFF, 188px 1289px #FFF, 582px 1623px #FFF, 56px 1105px #FFF, 213px 1996px #FFF, 1190px 1112px #FFF, 606px 1481px #FFF, 1445px 1192px #FFF, 468px 1278px #FFF, 1617px 1353px #FFF, 873px 47px #FFF, 1045px 745px #FFF, 712px 743px #FFF, 1921px 1250px #FFF, 1584px 1464px #FFF, 1903px 1582px #FFF, 1275px 1968px #FFF, 689px 327px #FFF, 1924px 1563px #FFF, 1013px 919px #FFF, 1500px 31px #FFF, 187px 267px #FFF, 1600px 239px #FFF, 152px 220px #FFF, 976px 1710px #FFF, 1724px 1694px #FFF, 1293px 138px #FFF, 1684px 1922px #FFF, 1959px 420px #FFF, 1021px 577px #FFF, 1400px 1829px #FFF, 823px 1055px #FFF, 1313px 972px #FFF, 119px 1799px #FFF, 595px 1501px #FFF, 1009px 1830px #FFF, 1327px 58px #FFF, 1746px 1040px #FFF, 746px 1866px #FFF, 1137px 1551px #FFF, 1738px 1119px #FFF, 231px 801px #FFF, 161px 554px #FFF, 1476px 568px #FFF, 1983px 567px #FFF, 1898px 646px #FFF, 1821px 1828px #FFF, 787px 886px #FFF, 838px 1007px #FFF, 466px 1934px #FFF, 1610px 1866px #FFF, 1500px 835px #FFF, 656px 1808px #FFF, 387px 1231px #FFF, 1608px 55px #FFF, 1654px 1009px #FFF, 1023px 1299px #FFF, 629px 1495px #FFF, 1233px 258px #FFF, 1884px 1295px #FFF, 631px 1984px #FFF, 1289px 1451px #FFF, 1834px 1658px #FFF, 1394px 1544px #FFF, 1147px 1866px #FFF, 1381px 111px #FFF, 1817px 976px #FFF, 549px 36px #FFF, 1029px 1395px #FFF, 1691px 68px #FFF, 1418px 85px #FFF, 1711px 896px #FFF, 1355px 372px #FFF, 1024px 1258px #FFF, 93px 1501px #FFF, 1069px 1901px #FFF, 1181px 1951px #FFF, 164px 1450px #FFF, 321px 1642px #FFF, 1334px 1628px #FFF, 1102px 123px #FFF, 1513px 964px #FFF, 992px 431px #FFF, 650px 1531px #FFF, 1907px 573px #FFF, 345px 113px #FFF, 943px 1721px #FFF, 1940px 958px #FFF, 854px 1222px #FFF, 782px 1511px #FFF, 1050px 900px #FFF, 187px 160px #FFF, 231px 796px #FFF, 212px 1890px #FFF, 672px 12px #FFF, 22px 1015px #FFF, 1396px 814px #FFF, 1230px 982px #FFF, 1940px 811px #FFF, 1680px 997px #FFF, 148px 1724px #FFF, 836px 385px #FFF, 1228px 1251px #FFF, 1439px 1428px #FFF, 1453px 112px #FFF, 1675px 442px #FFF, 1394px 206px #FFF, 440px 1611px #FFF, 570px 389px #FFF, 1927px 1223px #FFF, 537px 366px #FFF, 241px 206px #FFF, 21px 1660px #FFF, 491px 1875px #FFF, 1078px 1228px #FFF, 594px 1550px #FFF, 835px 384px #FFF, 1182px 1181px #FFF, 1807px 1987px #FFF, 1038px 1868px #FFF, 890px 147px #FFF, 1455px 1244px #FFF, 1365px 828px #FFF, 359px 1721px #FFF, 883px 577px #FFF, 1113px 1289px #FFF, 1251px 1825px #FFF, 368px 1738px #FFF, 1904px 1125px #FFF, 135px 1588px #FFF, 363px 1196px #FFF, 1796px 1534px #FFF, 1147px 1758px #FFF, 823px 207px #FFF, 645px 1786px #FFF, 1889px 1507px #FFF, 1055px 1523px #FFF, 1811px 127px #FFF, 144px 476px #FFF, 4px 1021px #FFF, 1901px 671px #FFF, 861px 1025px #FFF, 1229px 163px #FFF, 1628px 1368px #FFF, 1072px 643px #FFF, 1690px 562px #FFF, 1740px 1255px #FFF, 430px 899px #FFF, 272px 1804px #FFF, 1214px 1733px #FFF, 1370px 1789px #FFF, 1243px 1548px #FFF, 1248px 1769px #FFF, 136px 1226px #FFF, 414px 570px #FFF, 907px 492px #FFF, 1925px 450px #FFF, 417px 1677px #FFF, 1360px 397px #FFF, 92px 714px #FFF, 1738px 919px #FFF, 580px 414px #FFF, 1261px 1148px #FFF, 113px 600px #FFF, 1220px 1829px #FFF, 953px 1791px #FFF, 455px 56px #FFF, 722px 1633px #FFF, 194px 1799px #FFF, 1502px 260px #FFF, 1283px 1089px #FFF, 257px 957px #FFF, 1958px 277px #FFF, 1592px 1800px #FFF, 737px 518px #FFF, 1603px 1189px #FFF, 496px 1890px #FFF, 1339px 354px #FFF, 118px 936px #FFF, 1418px 359px #FFF, 315px 480px #FFF, 1824px 1397px #FFF, 1427px 85px #FFF, 1516px 1613px #FFF, 56px 308px #FFF, 1913px 17px #FFF, 1758px 191px #FFF, 1329px 106px #FFF, 828px 1135px #FFF, 1344px 862px #FFF, 747px 1313px #FFF, 1310px 1119px #FFF, 1149px 198px #FFF, 978px 394px #FFF, 1510px 1810px #FFF; }
  .home-page .stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 179px 1257px #FFF, 119px 1885px #FFF, 820px 1120px #FFF, 1611px 1775px #FFF, 1257px 1316px #FFF, 1946px 1226px #FFF, 597px 481px #FFF, 929px 412px #FFF, 1165px 302px #FFF, 481px 82px #FFF, 40px 37px #FFF, 516px 335px #FFF, 1685px 310px #FFF, 189px 1439px #FFF, 1767px 75px #FFF, 538px 1551px #FFF, 322px 1858px #FFF, 1552px 1783px #FFF, 1320px 1116px #FFF, 891px 931px #FFF, 1330px 1463px #FFF, 1722px 133px #FFF, 1537px 1236px #FFF, 352px 1349px #FFF, 205px 344px #FFF, 1433px 1461px #FFF, 951px 833px #FFF, 1449px 914px #FFF, 1194px 293px #FFF, 1097px 1218px #FFF, 543px 200px #FFF, 728px 190px #FFF, 1196px 788px #FFF, 1554px 7px #FFF, 1066px 966px #FFF, 858px 81px #FFF, 968px 1904px #FFF, 23px 1840px #FFF, 1794px 245px #FFF, 804px 1941px #FFF, 1456px 1991px #FFF, 194px 303px #FFF, 216px 1585px #FFF, 12px 1765px #FFF, 547px 516px #FFF, 1492px 906px #FFF, 130px 2000px #FFF, 297px 104px #FFF, 596px 1384px #FFF, 373px 1460px #FFF, 1571px 393px #FFF, 42px 1986px #FFF, 1014px 1072px #FFF, 1252px 682px #FFF, 331px 1121px #FFF, 138px 1921px #FFF, 1125px 829px #FFF, 1581px 568px #FFF, 339px 1593px #FFF, 116px 675px #FFF, 1777px 1355px #FFF, 1012px 3px #FFF, 546px 541px #FFF, 16px 1596px #FFF, 904px 407px #FFF, 384px 274px #FFF, 1231px 1370px #FFF, 342px 89px #FFF, 1597px 178px #FFF, 1154px 783px #FFF, 1131px 87px #FFF, 762px 1250px #FFF, 1466px 1520px #FFF, 1986px 1611px #FFF, 1221px 1028px #FFF, 63px 596px #FFF, 1574px 958px #FFF, 486px 1537px #FFF, 1774px 387px #FFF, 437px 1909px #FFF, 433px 967px #FFF, 758px 174px #FFF, 1756px 1692px #FFF, 1573px 535px #FFF, 1584px 1081px #FFF, 1744px 802px #FFF, 874px 1385px #FFF, 115px 1710px #FFF, 563px 1058px #FFF, 1315px 81px #FFF, 1867px 1004px #FFF, 1313px 1997px #FFF, 128px 666px #FFF, 581px 1399px #FFF, 1160px 1613px #FFF, 979px 269px #FFF, 999px 1537px #FFF, 1246px 1045px #FFF, 1254px 1296px #FFF, 1602px 1671px #FFF, 1593px 920px #FFF, 1212px 1269px #FFF, 1153px 1020px #FFF, 1007px 1228px #FFF, 1508px 1563px #FFF, 1963px 197px #FFF, 696px 117px #FFF, 1489px 208px #FFF, 1251px 308px #FFF, 1757px 1334px #FFF, 533px 610px #FFF, 633px 1470px #FFF, 338px 852px #FFF, 1529px 1554px #FFF, 785px 844px #FFF, 1989px 1592px #FFF, 286px 1920px #FFF, 575px 570px #FFF, 1880px 808px #FFF, 440px 1431px #FFF, 1991px 448px #FFF, 1039px 1511px #FFF, 926px 701px #FFF, 744px 1327px #FFF, 1176px 961px #FFF, 918px 469px #FFF, 1794px 244px #FFF, 550px 1327px #FFF, 808px 1333px #FFF, 1265px 1992px #FFF, 1108px 89px #FFF, 1210px 121px #FFF, 1019px 1070px #FFF, 357px 294px #FFF, 1976px 1424px #FFF, 1444px 1215px #FFF, 1094px 270px #FFF, 536px 21px #FFF, 1462px 956px #FFF, 1147px 1520px #FFF, 406px 819px #FFF, 1422px 417px #FFF, 157px 341px #FFF, 1536px 24px #FFF, 785px 117px #FFF, 709px 798px #FFF, 1687px 1543px #FFF, 1005px 770px #FFF, 675px 1177px #FFF, 724px 1261px #FFF, 96px 991px #FFF, 1409px 1195px #FFF, 1020px 139px #FFF, 1166px 369px #FFF, 175px 568px #FFF, 1885px 927px #FFF, 678px 738px #FFF, 1851px 1740px #FFF, 1690px 1609px #FFF, 1308px 456px #FFF, 1983px 471px #FFF, 1752px 1826px #FFF, 323px 1666px #FFF, 328px 1370px #FFF, 381px 857px #FFF, 1791px 718px #FFF, 758px 987px #FFF, 529px 231px #FFF, 495px 1502px #FFF, 1054px 1777px #FFF, 484px 1946px #FFF, 878px 1785px #FFF, 1603px 338px #FFF, 1547px 829px #FFF, 1694px 1384px #FFF, 1101px 233px #FFF, 1570px 1192px #FFF, 1633px 155px #FFF, 852px 7px #FFF, 1335px 22px #FFF, 85px 991px #FFF, 1718px 1198px #FFF, 406px 54px #FFF, 1333px 249px #FFF, 308px 163px #FFF, 1031px 1973px #FFF, 877px 1891px #FFF, 364px 511px #FFF, 246px 358px #FFF, 432px 1537px #FFF, 6px 1106px #FFF, 340px 364px #FFF, 872px 485px #FFF, 1781px 1081px #FFF, 1032px 1774px #FFF, 1860px 423px #FFF, 1416px 115px #FFF, 1525px 935px #FFF, 312px 1785px #FFF, 404px 637px #FFF, 1143px 1047px #FFF, 1072px 1592px #FFF, 1387px 166px #FFF, 206px 1065px #FFF, 775px 331px #FFF, 1709px 577px #FFF, 1754px 1629px #FFF, 1192px 840px #FFF, 1951px 512px #FFF, 381px 821px #FFF, 1727px 474px #FFF, 628px 1745px #FFF, 1640px 1692px #FFF, 534px 1478px #FFF, 235px 1252px #FFF, 679px 17px #FFF, 1367px 1048px #FFF, 1129px 147px #FFF, 598px 982px #FFF, 1357px 1190px #FFF, 953px 615px #FFF, 1415px 1563px #FFF, 1019px 1627px #FFF, 1344px 1694px #FFF, 1868px 556px #FFF, 659px 1851px #FFF, 1787px 1098px #FFF, 1372px 1972px #FFF, 529px 1687px #FFF, 707px 124px #FFF, 1200px 112px #FFF, 327px 569px #FFF, 82px 1276px #FFF, 1909px 946px #FFF, 444px 74px #FFF, 484px 1275px #FFF, 1242px 173px #FFF, 1724px 1909px #FFF, 1995px 1586px #FFF, 1549px 1470px #FFF, 1815px 1425px #FFF, 636px 325px #FFF, 729px 1404px #FFF, 1224px 665px #FFF, 295px 1487px #FFF, 1185px 1297px #FFF, 1178px 1039px #FFF, 1340px 619px #FFF, 666px 990px #FFF, 543px 1946px #FFF, 1616px 971px #FFF, 987px 567px #FFF, 1126px 825px #FFF, 1685px 1717px #FFF, 1348px 1425px #FFF, 893px 1015px #FFF, 522px 429px #FFF, 1997px 1257px #FFF, 1404px 1926px #FFF, 503px 1634px #FFF, 1661px 1699px #FFF, 861px 200px #FFF, 1874px 1555px #FFF, 996px 1733px #FFF, 295px 1838px #FFF, 34px 649px #FFF, 1951px 1353px #FFF, 1100px 213px #FFF, 358px 1295px #FFF, 363px 388px #FFF, 1018px 823px #FFF, 1704px 1759px #FFF, 195px 729px #FFF, 1983px 1658px #FFF, 305px 331px #FFF, 230px 156px #FFF, 907px 19px #FFF, 956px 590px #FFF, 425px 1919px #FFF, 1368px 168px #FFF, 18px 1410px #FFF, 157px 994px #FFF, 216px 799px #FFF, 1664px 1701px #FFF, 1857px 1485px #FFF, 107px 289px #FFF, 548px 497px #FFF, 764px 1648px #FFF, 1326px 226px #FFF, 236px 1301px #FFF, 287px 1345px #FFF, 1961px 684px #FFF, 1646px 803px #FFF, 1907px 1686px #FFF, 1315px 1009px #FFF, 1396px 1326px #FFF, 473px 70px #FFF, 964px 647px #FFF, 1517px 1861px #FFF, 436px 1429px #FFF, 953px 661px #FFF, 1162px 626px #FFF, 1752px 378px #FFF, 622px 318px #FFF, 1717px 407px #FFF, 1338px 804px #FFF, 570px 1211px #FFF, 1433px 1474px #FFF, 1957px 306px #FFF, 1694px 823px #FFF, 970px 1142px #FFF, 1773px 241px #FFF, 557px 474px #FFF, 1768px 803px #FFF, 1610px 1477px #FFF, 1302px 1598px #FFF, 674px 878px #FFF, 651px 787px #FFF, 224px 1853px #FFF, 1916px 24px #FFF, 1489px 884px #FFF, 1660px 1319px #FFF, 454px 485px #FFF, 881px 956px #FFF, 697px 148px #FFF, 496px 552px #FFF, 1590px 1817px #FFF, 383px 295px #FFF, 4px 1020px #FFF, 1145px 238px #FFF, 86px 3px #FFF, 716px 692px #FFF, 1134px 406px #FFF, 1509px 232px #FFF, 1407px 1453px #FFF, 1406px 1962px #FFF, 584px 94px #FFF, 925px 582px #FFF, 734px 1879px #FFF, 1895px 1669px #FFF, 705px 866px #FFF, 51px 1441px #FFF, 552px 995px #FFF, 1303px 232px #FFF, 1819px 735px #FFF, 1258px 1809px #FFF, 789px 1602px #FFF, 349px 363px #FFF, 1951px 1081px #FFF, 1376px 1013px #FFF, 276px 1966px #FFF, 678px 269px #FFF, 1541px 1107px #FFF, 1731px 500px #FFF, 549px 1227px #FFF, 1956px 1935px #FFF, 1691px 1584px #FFF, 1343px 1464px #FFF, 1643px 1951px #FFF, 850px 1949px #FFF, 231px 455px #FFF, 828px 702px #FFF, 601px 900px #FFF, 84px 1712px #FFF, 1126px 1724px #FFF, 1803px 727px #FFF, 204px 102px #FFF, 1277px 151px #FFF, 1509px 1936px #FFF, 1333px 911px #FFF, 937px 1493px #FFF, 1024px 223px #FFF, 1103px 1129px #FFF, 392px 440px #FFF, 1915px 618px #FFF, 1082px 978px #FFF, 329px 836px #FFF, 1682px 1941px #FFF, 1982px 1889px #FFF, 1195px 1444px #FFF, 1758px 251px #FFF, 1270px 1973px #FFF, 867px 1133px #FFF, 980px 111px #FFF, 1184px 130px #FFF, 500px 634px #FFF, 1202px 1232px #FFF, 596px 1895px #FFF, 1233px 114px #FFF, 197px 1346px #FFF, 1303px 108px #FFF, 528px 101px #FFF, 1020px 1014px #FFF, 1270px 47px #FFF, 533px 1945px #FFF, 457px 698px #FFF, 1567px 1174px #FFF, 1502px 920px #FFF, 1767px 396px #FFF, 471px 1335px #FFF, 827px 640px #FFF, 481px 904px #FFF, 300px 202px #FFF, 1348px 1394px #FFF, 832px 1589px #FFF, 1349px 1104px #FFF, 748px 423px #FFF, 169px 1701px #FFF, 749px 468px #FFF, 1815px 1296px #FFF, 1791px 1110px #FFF, 398px 175px #FFF, 178px 1962px #FFF, 1515px 676px #FFF, 836px 1686px #FFF, 986px 1784px #FFF, 382px 764px #FFF, 1051px 586px #FFF, 1435px 1006px #FFF, 1341px 846px #FFF, 1641px 497px #FFF, 260px 97px #FFF, 553px 1659px #FFF, 1267px 1317px #FFF, 401px 268px #FFF, 1969px 1845px #FFF, 896px 4px #FFF, 1354px 713px #FFF, 863px 310px #FFF, 1564px 1970px #FFF, 1890px 218px #FFF, 1406px 1652px #FFF, 1335px 78px #FFF, 1054px 498px #FFF, 657px 1593px #FFF, 1525px 600px #FFF, 698px 1104px #FFF, 48px 1943px #FFF, 1931px 1321px #FFF, 924px 798px #FFF, 1150px 1268px #FFF, 784px 920px #FFF, 1064px 1713px #FFF, 454px 389px #FFF, 1339px 1707px #FFF, 1029px 511px #FFF, 733px 173px #FFF, 1359px 1917px #FFF, 310px 267px #FFF, 1582px 766px #FFF, 623px 205px #FFF, 1487px 1282px #FFF, 310px 577px #FFF, 394px 1985px #FFF, 38px 253px #FFF, 840px 291px #FFF, 476px 1273px #FFF, 1228px 1443px #FFF, 1003px 743px #FFF, 175px 437px #FFF, 55px 1539px #FFF, 251px 454px #FFF, 920px 964px #FFF, 1849px 769px #FFF, 1926px 985px #FFF, 890px 1595px #FFF, 1750px 419px #FFF, 1013px 1400px #FFF, 1202px 1831px #FFF, 624px 320px #FFF, 316px 1183px #FFF, 1486px 474px #FFF, 1224px 949px #FFF, 1606px 971px #FFF, 1431px 479px #FFF, 1840px 282px #FFF, 1437px 525px #FFF, 1013px 1892px #FFF, 1408px 939px #FFF, 1695px 1480px #FFF, 418px 899px #FFF, 1434px 400px #FFF, 1736px 417px #FFF, 182px 1613px #FFF, 467px 1259px #FFF, 928px 540px #FFF, 1758px 1418px #FFF, 1148px 395px #FFF, 993px 1888px #FFF, 178px 1796px #FFF, 1158px 1557px #FFF, 133px 1271px #FFF, 1254px 1984px #FFF, 999px 1616px #FFF, 812px 1210px #FFF, 660px 1926px #FFF, 1490px 112px #FFF, 608px 1602px #FFF, 82px 1379px #FFF, 58px 1414px #FFF, 1737px 204px #FFF, 1435px 163px #FFF, 1279px 1679px #FFF, 367px 610px #FFF, 1149px 1203px #FFF, 594px 1968px #FFF, 1346px 123px #FFF, 1687px 664px #FFF, 1011px 885px #FFF, 1368px 1075px #FFF, 296px 1832px #FFF, 1166px 1830px #FFF, 1242px 203px #FFF, 424px 1056px #FFF, 1673px 1684px #FFF, 177px 606px #FFF, 1737px 1744px #FFF, 1582px 367px #FFF, 1651px 5px #FFF, 101px 774px #FFF, 1510px 1765px #FFF, 812px 119px #FFF, 844px 1247px #FFF, 537px 877px #FFF, 1937px 1446px #FFF, 966px 1862px #FFF, 1308px 886px #FFF, 443px 1541px #FFF, 1744px 1932px #FFF, 1971px 1702px #FFF, 1170px 1432px #FFF, 625px 520px #FFF, 521px 1097px #FFF, 607px 130px #FFF, 634px 1515px #FFF, 224px 1407px #FFF, 1190px 1099px #FFF, 163px 1104px #FFF, 1899px 20px #FFF, 1260px 9px #FFF, 343px 711px #FFF, 820px 2000px #FFF, 1716px 275px #FFF, 1427px 366px #FFF, 337px 654px #FFF, 541px 1229px #FFF, 617px 594px #FFF, 1304px 156px #FFF, 92px 1569px #FFF, 367px 1024px #FFF, 812px 319px #FFF, 1826px 626px #FFF, 1519px 1081px #FFF, 1855px 1240px #FFF, 1768px 618px #FFF, 277px 1404px #FFF, 282px 1683px #FFF, 126px 573px #FFF, 1311px 409px #FFF, 1876px 914px #FFF, 797px 739px #FFF, 1228px 254px #FFF, 1506px 1984px #FFF, 799px 534px #FFF, 258px 1296px #FFF, 1353px 852px #FFF, 577px 1345px #FFF, 838px 1014px #FFF, 37px 1420px #FFF, 129px 699px #FFF, 1534px 1552px #FFF, 359px 51px #FFF, 899px 1635px #FFF, 1769px 1115px #FFF, 1540px 572px #FFF, 763px 1397px #FFF, 358px 1408px #FFF, 348px 805px #FFF, 1415px 1617px #FFF, 997px 1899px #FFF, 901px 643px #FFF, 905px 1098px #FFF, 1058px 1506px #FFF, 1482px 1171px #FFF, 235px 1490px #FFF, 3px 963px #FFF, 882px 229px #FFF, 1357px 507px #FFF, 1033px 1754px #FFF, 787px 145px #FFF, 292px 547px #FFF, 593px 1609px #FFF, 1811px 111px #FFF, 1990px 1086px #FFF, 368px 144px #FFF, 622px 359px #FFF, 1949px 836px #FFF, 500px 433px #FFF, 1684px 659px #FFF, 272px 28px #FFF, 49px 153px #FFF, 780px 844px #FFF, 1541px 752px #FFF, 11px 1903px #FFF, 1555px 1333px #FFF, 805px 200px #FFF, 487px 232px #FFF, 1861px 825px #FFF, 925px 1220px #FFF, 453px 554px #FFF, 729px 833px #FFF, 1336px 844px #FFF, 1211px 998px #FFF, 327px 1606px #FFF, 1296px 1180px #FFF, 1867px 144px #FFF, 1799px 639px #FFF, 1660px 1770px #FFF, 1923px 1320px #FFF, 933px 1256px #FFF, 865px 768px #FFF, 1660px 409px #FFF, 1942px 998px #FFF, 1034px 951px #FFF, 925px 542px #FFF, 1713px 1715px #FFF, 1743px 1164px #FFF, 1891px 446px #FFF, 592px 1942px #FFF, 143px 1446px #FFF, 1203px 995px #FFF, 1541px 834px #FFF, 420px 1466px #FFF, 1721px 815px #FFF, 825px 1148px #FFF, 609px 218px #FFF, 485px 244px #FFF, 1182px 1730px #FFF, 340px 208px #FFF, 1074px 1141px #FFF, 1866px 825px #FFF, 1932px 698px #FFF, 1701px 1972px #FFF, 616px 245px #FFF, 527px 206px #FFF, 842px 1008px #FFF, 468px 1364px #FFF, 788px 941px #FFF, 77px 269px #FFF, 534px 1315px #FFF, 376px 1892px #FFF, 1247px 155px #FFF, 159px 1891px #FFF, 1354px 821px #FFF, 97px 1945px #FFF, 788px 581px #FFF, 1029px 171px #FFF, 1018px 1244px #FFF, 1px 1115px #FFF, 612px 641px #FFF, 708px 1166px #FFF, 1854px 330px #FFF, 1426px 1181px #FFF, 1834px 1971px #FFF, 1528px 1804px #FFF, 337px 968px #FFF, 668px 388px #FFF, 1050px 1526px #FFF, 673px 1829px #FFF, 1202px 985px #FFF, 1828px 269px #FFF, 1185px 1086px #FFF, 28px 1664px #FFF, 1882px 466px #FFF, 1069px 686px #FFF, 800px 1254px #FFF, 1402px 646px #FFF, 427px 848px #FFF, 1277px 1858px #FFF, 593px 1010px #FFF, 294px 368px #FFF, 1102px 1748px #FFF, 220px 1343px #FFF, 978px 1047px #FFF, 1410px 1215px #FFF, 1025px 33px #FFF, 217px 1749px #FFF, 1279px 250px #FFF, 434px 1264px #FFF, 943px 612px #FFF, 1196px 612px #FFF, 1813px 1520px #FFF, 1735px 1974px #FFF, 1754px 779px #FFF, 797px 1737px #FFF, 572px 1228px #FFF, 156px 467px #FFF, 12px 1713px #FFF, 1667px 1649px #FFF, 849px 1745px #FFF;
    animation: parallaxStar 50s linear infinite; }
    .home-page .stars:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 179px 1257px #FFF, 119px 1885px #FFF, 820px 1120px #FFF, 1611px 1775px #FFF, 1257px 1316px #FFF, 1946px 1226px #FFF, 597px 481px #FFF, 929px 412px #FFF, 1165px 302px #FFF, 481px 82px #FFF, 40px 37px #FFF, 516px 335px #FFF, 1685px 310px #FFF, 189px 1439px #FFF, 1767px 75px #FFF, 538px 1551px #FFF, 322px 1858px #FFF, 1552px 1783px #FFF, 1320px 1116px #FFF, 891px 931px #FFF, 1330px 1463px #FFF, 1722px 133px #FFF, 1537px 1236px #FFF, 352px 1349px #FFF, 205px 344px #FFF, 1433px 1461px #FFF, 951px 833px #FFF, 1449px 914px #FFF, 1194px 293px #FFF, 1097px 1218px #FFF, 543px 200px #FFF, 728px 190px #FFF, 1196px 788px #FFF, 1554px 7px #FFF, 1066px 966px #FFF, 858px 81px #FFF, 968px 1904px #FFF, 23px 1840px #FFF, 1794px 245px #FFF, 804px 1941px #FFF, 1456px 1991px #FFF, 194px 303px #FFF, 216px 1585px #FFF, 12px 1765px #FFF, 547px 516px #FFF, 1492px 906px #FFF, 130px 2000px #FFF, 297px 104px #FFF, 596px 1384px #FFF, 373px 1460px #FFF, 1571px 393px #FFF, 42px 1986px #FFF, 1014px 1072px #FFF, 1252px 682px #FFF, 331px 1121px #FFF, 138px 1921px #FFF, 1125px 829px #FFF, 1581px 568px #FFF, 339px 1593px #FFF, 116px 675px #FFF, 1777px 1355px #FFF, 1012px 3px #FFF, 546px 541px #FFF, 16px 1596px #FFF, 904px 407px #FFF, 384px 274px #FFF, 1231px 1370px #FFF, 342px 89px #FFF, 1597px 178px #FFF, 1154px 783px #FFF, 1131px 87px #FFF, 762px 1250px #FFF, 1466px 1520px #FFF, 1986px 1611px #FFF, 1221px 1028px #FFF, 63px 596px #FFF, 1574px 958px #FFF, 486px 1537px #FFF, 1774px 387px #FFF, 437px 1909px #FFF, 433px 967px #FFF, 758px 174px #FFF, 1756px 1692px #FFF, 1573px 535px #FFF, 1584px 1081px #FFF, 1744px 802px #FFF, 874px 1385px #FFF, 115px 1710px #FFF, 563px 1058px #FFF, 1315px 81px #FFF, 1867px 1004px #FFF, 1313px 1997px #FFF, 128px 666px #FFF, 581px 1399px #FFF, 1160px 1613px #FFF, 979px 269px #FFF, 999px 1537px #FFF, 1246px 1045px #FFF, 1254px 1296px #FFF, 1602px 1671px #FFF, 1593px 920px #FFF, 1212px 1269px #FFF, 1153px 1020px #FFF, 1007px 1228px #FFF, 1508px 1563px #FFF, 1963px 197px #FFF, 696px 117px #FFF, 1489px 208px #FFF, 1251px 308px #FFF, 1757px 1334px #FFF, 533px 610px #FFF, 633px 1470px #FFF, 338px 852px #FFF, 1529px 1554px #FFF, 785px 844px #FFF, 1989px 1592px #FFF, 286px 1920px #FFF, 575px 570px #FFF, 1880px 808px #FFF, 440px 1431px #FFF, 1991px 448px #FFF, 1039px 1511px #FFF, 926px 701px #FFF, 744px 1327px #FFF, 1176px 961px #FFF, 918px 469px #FFF, 1794px 244px #FFF, 550px 1327px #FFF, 808px 1333px #FFF, 1265px 1992px #FFF, 1108px 89px #FFF, 1210px 121px #FFF, 1019px 1070px #FFF, 357px 294px #FFF, 1976px 1424px #FFF, 1444px 1215px #FFF, 1094px 270px #FFF, 536px 21px #FFF, 1462px 956px #FFF, 1147px 1520px #FFF, 406px 819px #FFF, 1422px 417px #FFF, 157px 341px #FFF, 1536px 24px #FFF, 785px 117px #FFF, 709px 798px #FFF, 1687px 1543px #FFF, 1005px 770px #FFF, 675px 1177px #FFF, 724px 1261px #FFF, 96px 991px #FFF, 1409px 1195px #FFF, 1020px 139px #FFF, 1166px 369px #FFF, 175px 568px #FFF, 1885px 927px #FFF, 678px 738px #FFF, 1851px 1740px #FFF, 1690px 1609px #FFF, 1308px 456px #FFF, 1983px 471px #FFF, 1752px 1826px #FFF, 323px 1666px #FFF, 328px 1370px #FFF, 381px 857px #FFF, 1791px 718px #FFF, 758px 987px #FFF, 529px 231px #FFF, 495px 1502px #FFF, 1054px 1777px #FFF, 484px 1946px #FFF, 878px 1785px #FFF, 1603px 338px #FFF, 1547px 829px #FFF, 1694px 1384px #FFF, 1101px 233px #FFF, 1570px 1192px #FFF, 1633px 155px #FFF, 852px 7px #FFF, 1335px 22px #FFF, 85px 991px #FFF, 1718px 1198px #FFF, 406px 54px #FFF, 1333px 249px #FFF, 308px 163px #FFF, 1031px 1973px #FFF, 877px 1891px #FFF, 364px 511px #FFF, 246px 358px #FFF, 432px 1537px #FFF, 6px 1106px #FFF, 340px 364px #FFF, 872px 485px #FFF, 1781px 1081px #FFF, 1032px 1774px #FFF, 1860px 423px #FFF, 1416px 115px #FFF, 1525px 935px #FFF, 312px 1785px #FFF, 404px 637px #FFF, 1143px 1047px #FFF, 1072px 1592px #FFF, 1387px 166px #FFF, 206px 1065px #FFF, 775px 331px #FFF, 1709px 577px #FFF, 1754px 1629px #FFF, 1192px 840px #FFF, 1951px 512px #FFF, 381px 821px #FFF, 1727px 474px #FFF, 628px 1745px #FFF, 1640px 1692px #FFF, 534px 1478px #FFF, 235px 1252px #FFF, 679px 17px #FFF, 1367px 1048px #FFF, 1129px 147px #FFF, 598px 982px #FFF, 1357px 1190px #FFF, 953px 615px #FFF, 1415px 1563px #FFF, 1019px 1627px #FFF, 1344px 1694px #FFF, 1868px 556px #FFF, 659px 1851px #FFF, 1787px 1098px #FFF, 1372px 1972px #FFF, 529px 1687px #FFF, 707px 124px #FFF, 1200px 112px #FFF, 327px 569px #FFF, 82px 1276px #FFF, 1909px 946px #FFF, 444px 74px #FFF, 484px 1275px #FFF, 1242px 173px #FFF, 1724px 1909px #FFF, 1995px 1586px #FFF, 1549px 1470px #FFF, 1815px 1425px #FFF, 636px 325px #FFF, 729px 1404px #FFF, 1224px 665px #FFF, 295px 1487px #FFF, 1185px 1297px #FFF, 1178px 1039px #FFF, 1340px 619px #FFF, 666px 990px #FFF, 543px 1946px #FFF, 1616px 971px #FFF, 987px 567px #FFF, 1126px 825px #FFF, 1685px 1717px #FFF, 1348px 1425px #FFF, 893px 1015px #FFF, 522px 429px #FFF, 1997px 1257px #FFF, 1404px 1926px #FFF, 503px 1634px #FFF, 1661px 1699px #FFF, 861px 200px #FFF, 1874px 1555px #FFF, 996px 1733px #FFF, 295px 1838px #FFF, 34px 649px #FFF, 1951px 1353px #FFF, 1100px 213px #FFF, 358px 1295px #FFF, 363px 388px #FFF, 1018px 823px #FFF, 1704px 1759px #FFF, 195px 729px #FFF, 1983px 1658px #FFF, 305px 331px #FFF, 230px 156px #FFF, 907px 19px #FFF, 956px 590px #FFF, 425px 1919px #FFF, 1368px 168px #FFF, 18px 1410px #FFF, 157px 994px #FFF, 216px 799px #FFF, 1664px 1701px #FFF, 1857px 1485px #FFF, 107px 289px #FFF, 548px 497px #FFF, 764px 1648px #FFF, 1326px 226px #FFF, 236px 1301px #FFF, 287px 1345px #FFF, 1961px 684px #FFF, 1646px 803px #FFF, 1907px 1686px #FFF, 1315px 1009px #FFF, 1396px 1326px #FFF, 473px 70px #FFF, 964px 647px #FFF, 1517px 1861px #FFF, 436px 1429px #FFF, 953px 661px #FFF, 1162px 626px #FFF, 1752px 378px #FFF, 622px 318px #FFF, 1717px 407px #FFF, 1338px 804px #FFF, 570px 1211px #FFF, 1433px 1474px #FFF, 1957px 306px #FFF, 1694px 823px #FFF, 970px 1142px #FFF, 1773px 241px #FFF, 557px 474px #FFF, 1768px 803px #FFF, 1610px 1477px #FFF, 1302px 1598px #FFF, 674px 878px #FFF, 651px 787px #FFF, 224px 1853px #FFF, 1916px 24px #FFF, 1489px 884px #FFF, 1660px 1319px #FFF, 454px 485px #FFF, 881px 956px #FFF, 697px 148px #FFF, 496px 552px #FFF, 1590px 1817px #FFF, 383px 295px #FFF, 4px 1020px #FFF, 1145px 238px #FFF, 86px 3px #FFF, 716px 692px #FFF, 1134px 406px #FFF, 1509px 232px #FFF, 1407px 1453px #FFF, 1406px 1962px #FFF, 584px 94px #FFF, 925px 582px #FFF, 734px 1879px #FFF, 1895px 1669px #FFF, 705px 866px #FFF, 51px 1441px #FFF, 552px 995px #FFF, 1303px 232px #FFF, 1819px 735px #FFF, 1258px 1809px #FFF, 789px 1602px #FFF, 349px 363px #FFF, 1951px 1081px #FFF, 1376px 1013px #FFF, 276px 1966px #FFF, 678px 269px #FFF, 1541px 1107px #FFF, 1731px 500px #FFF, 549px 1227px #FFF, 1956px 1935px #FFF, 1691px 1584px #FFF, 1343px 1464px #FFF, 1643px 1951px #FFF, 850px 1949px #FFF, 231px 455px #FFF, 828px 702px #FFF, 601px 900px #FFF, 84px 1712px #FFF, 1126px 1724px #FFF, 1803px 727px #FFF, 204px 102px #FFF, 1277px 151px #FFF, 1509px 1936px #FFF, 1333px 911px #FFF, 937px 1493px #FFF, 1024px 223px #FFF, 1103px 1129px #FFF, 392px 440px #FFF, 1915px 618px #FFF, 1082px 978px #FFF, 329px 836px #FFF, 1682px 1941px #FFF, 1982px 1889px #FFF, 1195px 1444px #FFF, 1758px 251px #FFF, 1270px 1973px #FFF, 867px 1133px #FFF, 980px 111px #FFF, 1184px 130px #FFF, 500px 634px #FFF, 1202px 1232px #FFF, 596px 1895px #FFF, 1233px 114px #FFF, 197px 1346px #FFF, 1303px 108px #FFF, 528px 101px #FFF, 1020px 1014px #FFF, 1270px 47px #FFF, 533px 1945px #FFF, 457px 698px #FFF, 1567px 1174px #FFF, 1502px 920px #FFF, 1767px 396px #FFF, 471px 1335px #FFF, 827px 640px #FFF, 481px 904px #FFF, 300px 202px #FFF, 1348px 1394px #FFF, 832px 1589px #FFF, 1349px 1104px #FFF, 748px 423px #FFF, 169px 1701px #FFF, 749px 468px #FFF, 1815px 1296px #FFF, 1791px 1110px #FFF, 398px 175px #FFF, 178px 1962px #FFF, 1515px 676px #FFF, 836px 1686px #FFF, 986px 1784px #FFF, 382px 764px #FFF, 1051px 586px #FFF, 1435px 1006px #FFF, 1341px 846px #FFF, 1641px 497px #FFF, 260px 97px #FFF, 553px 1659px #FFF, 1267px 1317px #FFF, 401px 268px #FFF, 1969px 1845px #FFF, 896px 4px #FFF, 1354px 713px #FFF, 863px 310px #FFF, 1564px 1970px #FFF, 1890px 218px #FFF, 1406px 1652px #FFF, 1335px 78px #FFF, 1054px 498px #FFF, 657px 1593px #FFF, 1525px 600px #FFF, 698px 1104px #FFF, 48px 1943px #FFF, 1931px 1321px #FFF, 924px 798px #FFF, 1150px 1268px #FFF, 784px 920px #FFF, 1064px 1713px #FFF, 454px 389px #FFF, 1339px 1707px #FFF, 1029px 511px #FFF, 733px 173px #FFF, 1359px 1917px #FFF, 310px 267px #FFF, 1582px 766px #FFF, 623px 205px #FFF, 1487px 1282px #FFF, 310px 577px #FFF, 394px 1985px #FFF, 38px 253px #FFF, 840px 291px #FFF, 476px 1273px #FFF, 1228px 1443px #FFF, 1003px 743px #FFF, 175px 437px #FFF, 55px 1539px #FFF, 251px 454px #FFF, 920px 964px #FFF, 1849px 769px #FFF, 1926px 985px #FFF, 890px 1595px #FFF, 1750px 419px #FFF, 1013px 1400px #FFF, 1202px 1831px #FFF, 624px 320px #FFF, 316px 1183px #FFF, 1486px 474px #FFF, 1224px 949px #FFF, 1606px 971px #FFF, 1431px 479px #FFF, 1840px 282px #FFF, 1437px 525px #FFF, 1013px 1892px #FFF, 1408px 939px #FFF, 1695px 1480px #FFF, 418px 899px #FFF, 1434px 400px #FFF, 1736px 417px #FFF, 182px 1613px #FFF, 467px 1259px #FFF, 928px 540px #FFF, 1758px 1418px #FFF, 1148px 395px #FFF, 993px 1888px #FFF, 178px 1796px #FFF, 1158px 1557px #FFF, 133px 1271px #FFF, 1254px 1984px #FFF, 999px 1616px #FFF, 812px 1210px #FFF, 660px 1926px #FFF, 1490px 112px #FFF, 608px 1602px #FFF, 82px 1379px #FFF, 58px 1414px #FFF, 1737px 204px #FFF, 1435px 163px #FFF, 1279px 1679px #FFF, 367px 610px #FFF, 1149px 1203px #FFF, 594px 1968px #FFF, 1346px 123px #FFF, 1687px 664px #FFF, 1011px 885px #FFF, 1368px 1075px #FFF, 296px 1832px #FFF, 1166px 1830px #FFF, 1242px 203px #FFF, 424px 1056px #FFF, 1673px 1684px #FFF, 177px 606px #FFF, 1737px 1744px #FFF, 1582px 367px #FFF, 1651px 5px #FFF, 101px 774px #FFF, 1510px 1765px #FFF, 812px 119px #FFF, 844px 1247px #FFF, 537px 877px #FFF, 1937px 1446px #FFF, 966px 1862px #FFF, 1308px 886px #FFF, 443px 1541px #FFF, 1744px 1932px #FFF, 1971px 1702px #FFF, 1170px 1432px #FFF, 625px 520px #FFF, 521px 1097px #FFF, 607px 130px #FFF, 634px 1515px #FFF, 224px 1407px #FFF, 1190px 1099px #FFF, 163px 1104px #FFF, 1899px 20px #FFF, 1260px 9px #FFF, 343px 711px #FFF, 820px 2000px #FFF, 1716px 275px #FFF, 1427px 366px #FFF, 337px 654px #FFF, 541px 1229px #FFF, 617px 594px #FFF, 1304px 156px #FFF, 92px 1569px #FFF, 367px 1024px #FFF, 812px 319px #FFF, 1826px 626px #FFF, 1519px 1081px #FFF, 1855px 1240px #FFF, 1768px 618px #FFF, 277px 1404px #FFF, 282px 1683px #FFF, 126px 573px #FFF, 1311px 409px #FFF, 1876px 914px #FFF, 797px 739px #FFF, 1228px 254px #FFF, 1506px 1984px #FFF, 799px 534px #FFF, 258px 1296px #FFF, 1353px 852px #FFF, 577px 1345px #FFF, 838px 1014px #FFF, 37px 1420px #FFF, 129px 699px #FFF, 1534px 1552px #FFF, 359px 51px #FFF, 899px 1635px #FFF, 1769px 1115px #FFF, 1540px 572px #FFF, 763px 1397px #FFF, 358px 1408px #FFF, 348px 805px #FFF, 1415px 1617px #FFF, 997px 1899px #FFF, 901px 643px #FFF, 905px 1098px #FFF, 1058px 1506px #FFF, 1482px 1171px #FFF, 235px 1490px #FFF, 3px 963px #FFF, 882px 229px #FFF, 1357px 507px #FFF, 1033px 1754px #FFF, 787px 145px #FFF, 292px 547px #FFF, 593px 1609px #FFF, 1811px 111px #FFF, 1990px 1086px #FFF, 368px 144px #FFF, 622px 359px #FFF, 1949px 836px #FFF, 500px 433px #FFF, 1684px 659px #FFF, 272px 28px #FFF, 49px 153px #FFF, 780px 844px #FFF, 1541px 752px #FFF, 11px 1903px #FFF, 1555px 1333px #FFF, 805px 200px #FFF, 487px 232px #FFF, 1861px 825px #FFF, 925px 1220px #FFF, 453px 554px #FFF, 729px 833px #FFF, 1336px 844px #FFF, 1211px 998px #FFF, 327px 1606px #FFF, 1296px 1180px #FFF, 1867px 144px #FFF, 1799px 639px #FFF, 1660px 1770px #FFF, 1923px 1320px #FFF, 933px 1256px #FFF, 865px 768px #FFF, 1660px 409px #FFF, 1942px 998px #FFF, 1034px 951px #FFF, 925px 542px #FFF, 1713px 1715px #FFF, 1743px 1164px #FFF, 1891px 446px #FFF, 592px 1942px #FFF, 143px 1446px #FFF, 1203px 995px #FFF, 1541px 834px #FFF, 420px 1466px #FFF, 1721px 815px #FFF, 825px 1148px #FFF, 609px 218px #FFF, 485px 244px #FFF, 1182px 1730px #FFF, 340px 208px #FFF, 1074px 1141px #FFF, 1866px 825px #FFF, 1932px 698px #FFF, 1701px 1972px #FFF, 616px 245px #FFF, 527px 206px #FFF, 842px 1008px #FFF, 468px 1364px #FFF, 788px 941px #FFF, 77px 269px #FFF, 534px 1315px #FFF, 376px 1892px #FFF, 1247px 155px #FFF, 159px 1891px #FFF, 1354px 821px #FFF, 97px 1945px #FFF, 788px 581px #FFF, 1029px 171px #FFF, 1018px 1244px #FFF, 1px 1115px #FFF, 612px 641px #FFF, 708px 1166px #FFF, 1854px 330px #FFF, 1426px 1181px #FFF, 1834px 1971px #FFF, 1528px 1804px #FFF, 337px 968px #FFF, 668px 388px #FFF, 1050px 1526px #FFF, 673px 1829px #FFF, 1202px 985px #FFF, 1828px 269px #FFF, 1185px 1086px #FFF, 28px 1664px #FFF, 1882px 466px #FFF, 1069px 686px #FFF, 800px 1254px #FFF, 1402px 646px #FFF, 427px 848px #FFF, 1277px 1858px #FFF, 593px 1010px #FFF, 294px 368px #FFF, 1102px 1748px #FFF, 220px 1343px #FFF, 978px 1047px #FFF, 1410px 1215px #FFF, 1025px 33px #FFF, 217px 1749px #FFF, 1279px 250px #FFF, 434px 1264px #FFF, 943px 612px #FFF, 1196px 612px #FFF, 1813px 1520px #FFF, 1735px 1974px #FFF, 1754px 779px #FFF, 797px 1737px #FFF, 572px 1228px #FFF, 156px 467px #FFF, 12px 1713px #FFF, 1667px 1649px #FFF, 849px 1745px #FFF; }
  .home-page .moar-stars {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 445px 1336px #FFF, 1848px 951px #FFF, 1480px 1680px #FFF, 661px 544px #FFF, 1604px 1050px #FFF, 815px 341px #FFF, 860px 1584px #FFF, 1576px 1414px #FFF, 1135px 288px #FFF, 1451px 1087px #FFF, 426px 1217px #FFF, 565px 728px #FFF, 1797px 1976px #FFF, 1340px 753px #FFF, 1027px 1143px #FFF, 1033px 291px #FFF, 641px 1348px #FFF, 590px 364px #FFF, 1446px 522px #FFF, 1195px 831px #FFF, 649px 892px #FFF, 1612px 1257px #FFF, 1955px 552px #FFF, 391px 1260px #FFF, 752px 594px #FFF, 874px 1498px #FFF, 1347px 619px #FFF, 343px 345px #FFF, 870px 1806px #FFF, 66px 1624px #FFF, 302px 1594px #FFF, 375px 392px #FFF, 1960px 1277px #FFF, 811px 1388px #FFF, 346px 803px #FFF, 1823px 1654px #FFF, 571px 1086px #FFF, 1250px 591px #FFF, 340px 388px #FFF, 1134px 1208px #FFF, 1127px 539px #FFF, 149px 1283px #FFF, 540px 641px #FFF, 776px 571px #FFF, 807px 1526px #FFF, 1078px 949px #FFF, 116px 591px #FFF, 861px 1546px #FFF, 657px 140px #FFF, 571px 1610px #FFF, 165px 705px #FFF, 439px 1619px #FFF, 1632px 248px #FFF, 997px 190px #FFF, 556px 1100px #FFF, 30px 201px #FFF, 1746px 1619px #FFF, 1258px 284px #FFF, 1814px 1938px #FFF, 1816px 326px #FFF, 870px 725px #FFF, 320px 906px #FFF, 1564px 92px #FFF, 1007px 964px #FFF, 208px 59px #FFF, 409px 1266px #FFF, 194px 773px #FFF, 911px 1693px #FFF, 390px 418px #FFF, 1541px 1093px #FFF, 627px 1612px #FFF, 376px 1831px #FFF, 1739px 1597px #FFF, 1370px 386px #FFF, 1211px 1428px #FFF, 199px 1833px #FFF, 742px 1154px #FFF, 702px 751px #FFF, 109px 1405px #FFF, 1436px 1123px #FFF, 203px 1637px #FFF, 609px 1747px #FFF, 1247px 471px #FFF, 872px 447px #FFF, 1850px 911px #FFF, 328px 981px #FFF, 1642px 253px #FFF, 455px 1010px #FFF, 758px 948px #FFF, 559px 1971px #FFF, 1025px 866px #FFF, 1593px 1816px #FFF, 1417px 953px #FFF, 1330px 581px #FFF, 1542px 612px #FFF, 1173px 352px #FFF, 1963px 1588px #FFF, 153px 1298px #FFF, 1475px 1982px #FFF, 1162px 552px #FFF;
    animation: parallaxStar 150s linear infinite; }
    .home-page .moar-stars:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: 445px 1336px #FFF, 1848px 951px #FFF, 1480px 1680px #FFF, 661px 544px #FFF, 1604px 1050px #FFF, 815px 341px #FFF, 860px 1584px #FFF, 1576px 1414px #FFF, 1135px 288px #FFF, 1451px 1087px #FFF, 426px 1217px #FFF, 565px 728px #FFF, 1797px 1976px #FFF, 1340px 753px #FFF, 1027px 1143px #FFF, 1033px 291px #FFF, 641px 1348px #FFF, 590px 364px #FFF, 1446px 522px #FFF, 1195px 831px #FFF, 649px 892px #FFF, 1612px 1257px #FFF, 1955px 552px #FFF, 391px 1260px #FFF, 752px 594px #FFF, 874px 1498px #FFF, 1347px 619px #FFF, 343px 345px #FFF, 870px 1806px #FFF, 66px 1624px #FFF, 302px 1594px #FFF, 375px 392px #FFF, 1960px 1277px #FFF, 811px 1388px #FFF, 346px 803px #FFF, 1823px 1654px #FFF, 571px 1086px #FFF, 1250px 591px #FFF, 340px 388px #FFF, 1134px 1208px #FFF, 1127px 539px #FFF, 149px 1283px #FFF, 540px 641px #FFF, 776px 571px #FFF, 807px 1526px #FFF, 1078px 949px #FFF, 116px 591px #FFF, 861px 1546px #FFF, 657px 140px #FFF, 571px 1610px #FFF, 165px 705px #FFF, 439px 1619px #FFF, 1632px 248px #FFF, 997px 190px #FFF, 556px 1100px #FFF, 30px 201px #FFF, 1746px 1619px #FFF, 1258px 284px #FFF, 1814px 1938px #FFF, 1816px 326px #FFF, 870px 725px #FFF, 320px 906px #FFF, 1564px 92px #FFF, 1007px 964px #FFF, 208px 59px #FFF, 409px 1266px #FFF, 194px 773px #FFF, 911px 1693px #FFF, 390px 418px #FFF, 1541px 1093px #FFF, 627px 1612px #FFF, 376px 1831px #FFF, 1739px 1597px #FFF, 1370px 386px #FFF, 1211px 1428px #FFF, 199px 1833px #FFF, 742px 1154px #FFF, 702px 751px #FFF, 109px 1405px #FFF, 1436px 1123px #FFF, 203px 1637px #FFF, 609px 1747px #FFF, 1247px 471px #FFF, 872px 447px #FFF, 1850px 911px #FFF, 328px 981px #FFF, 1642px 253px #FFF, 455px 1010px #FFF, 758px 948px #FFF, 559px 1971px #FFF, 1025px 866px #FFF, 1593px 1816px #FFF, 1417px 953px #FFF, 1330px 581px #FFF, 1542px 612px #FFF, 1173px 352px #FFF, 1963px 1588px #FFF, 153px 1298px #FFF, 1475px 1982px #FFF, 1162px 552px #FFF; }
  .home-page .title {
    margin-top: 1rem;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    color: white;
    text-transform: uppercase;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .home-page .social-icons {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 9; }
    .home-page .social-icons button {
      border-radius: 0 !important; }

@keyframes parallaxStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

.login-page {
  height: 100vh;
  background-image: url("./../../assets/images/login_bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .login-page a {
    color: #6435c9 !important; }
  .login-page .grid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0; }
  .login-page .logo-seg {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9); }
  .login-page .form-seg {
    background-color: rgba(247, 206, 217, 0.4); }

.register-page {
  height: 100vh;
  background-image: url("./../../assets/images/signup_bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .register-page a {
    color: #6435c9 !important; }
  .register-page .grid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0; }
  .register-page .logo-seg {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9); }
  .register-page .form-seg {
    background-color: rgba(104, 181, 157, 0.4); }

.password-reset-page {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .password-reset-page .grid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0; }

.error-page {
  background-color: #222;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  width: 100vw; }
  .error-page .content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .error-page .content h1 {
      font-size: 12rem; }
    .error-page .content h2 {
      font-size: 2em; }
    .error-page .content a {
      text-transform: uppercase; }

.message-form i.icon {
  cursor: pointer;
  margin: 0 !important; }

.home-page-navigation {
  padding: 2em 2.5em; }
  .home-page-navigation .text {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #a2aab2;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    vertical-align: middle; }
  .home-page-navigation .menu-span.text {
    margin-left: 0.85em; }
  .home-page-navigation .menu-btn .icon,
  .home-page-navigation .menu-btn .text {
    display: inline-block;
    vertical-align: middle; }
  .home-page-navigation .menu-btn .line {
    background-color: #a2aab2;
    height: 3px;
    width: 45px;
    margin-bottom: 7px;
    transition: all 500ms ease-in-out; }
  .home-page-navigation .menu-btn .line-center {
    position: relative;
    margin-left: -15px;
    transition: all 500ms ease-in-out; }
    .home-page-navigation .menu-btn .line-center:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #a2aab2;
      transition: all 500ms ease-in-out;
      z-index: 9; }
  .home-page-navigation .menu-btn:hover .line {
    margin-left: -5px; }
  .home-page-navigation .menu-btn.open .icon .line-center {
    margin-left: -15px;
    transform: rotate(45deg);
    height: 3px;
    width: 45px; }
    .home-page-navigation .menu-btn.open .icon .line-center::after {
      transform: rotate(-90deg); }
  .home-page-navigation .menu-btn.open .icon .line-outer {
    display: none; }
  .home-page-navigation .menu-btn.open.btn-toggle-menu .text {
    display: none; }
  .home-page-navigation .search-btn .circle {
    position: relative;
    background-color: transparent;
    height: 23px;
    width: 23px;
    border: 3.5px solid #a2aab2;
    border-radius: 100%;
    transition: all 500ms ease-in-out;
    z-index: 1; }
  .home-page-navigation .search-btn .handle {
    display: block;
    position: absolute;
    border-width: 0;
    background-color: transparent;
    bottom: 0;
    right: 36%;
    height: 36px;
    width: 3.5px;
    transform: rotate(-45deg); }
    .home-page-navigation .search-btn .handle:after {
      content: '';
      display: block;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, #a2aab2 75%);
      height: 36px;
      width: 3.5px;
      transition: all 500ms ease-in-out; }
  .home-page-navigation .search-btn.open .circle {
    transform: scale(0.03);
    background: #a2aab2;
    border-color: #a2aab2; }
  .home-page-navigation .search-btn.open .handle {
    background-color: #a2aab2;
    transition: all 500ms ease-in-out; }
    .home-page-navigation .search-btn.open .handle:after {
      background-color: #a2aab2;
      transform-origin: center;
      transform: rotate(90deg); }
