@import url(https://fonts.googleapis.com/css?family=Oswald:700);
*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  height: 100%;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

body > #root > .App {
  color: #fdfdfe;
  min-height: 100%;
  overflow: hidden;
  background-color: transparent !important; }

.background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient(90deg, rgba(255, 77, 77, 0.6) 10%, rgba(255, 129, 131, 0.6)), url("../images/flat-mountains-1080p.jpg") no-repeat;
  background-position: 50% 50%; }

.centered {
  text-align: center; }

.a-link {
  cursor: pointer; }

.banner {
  margin-bottom: 0 !important;
  border-radius: 0 !important; }

.menu i.icon {
  cursor: pointer;
  margin: 0;
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 4px; }
  .menu i.icon:hover {
    background-color: #111; }

.c4-collapsed .no-display {
  display: none !important; }

.user-header {
  padding: 12px 24px;
  bottom: 0;
  width: 240px;
  position: fixed; }
  .user-header .avatar {
    cursor: pointer;
    width: 32px !important;
    height: 32px !important;
    line-height: 32px;
    text-align: center;
    color: #fff !important; }
    .user-header .avatar:hover {
      opacity: 0.8; }
  .user-header .text {
    margin: 0 0.4em;
    font-size: 16px;
    display: inline-block;
    max-height: 32px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .user-header .text .pin {
      color: #646464;
      font-size: 10px;
      display: block;
      text-align: left !important; }
  .user-header .menu {
    float: right;
    line-height: 32px; }
    .user-header .menu i {
      font-size: 18px;
      margin-left: 5px;
      cursor: pointer;
      transition: color 0.3s;
      vertical-align: middle; }

.user {
  position: relative;
  display: inline-block;
  max-height: 32px;
  vertical-align: middle; }
  .user .status {
    position: absolute;
    width: 0.85em;
    height: 0.85em;
    border-radius: 100%;
    right: 0;
    bottom: 0; }
    .user .status.online--true.Show {
      background-color: #00b5ad !important;
      border: 2px solid #00e8de; }
    .user .status.online--true.Away {
      background-color: #fbbd08 !important;
      border: 2px solid #fcca3a; }
    .user .status.online--true.Busy {
      background-color: #db2828 !important;
      border: 2px solid #e25454; }
    .user .status.online--false.Away, .user .status.online--false.Busy, .user .status.online--false.Show {
      background-color: #767676 !important;
      border: 2px solid #909090; }

.user-card {
  min-width: 350px; }
  .user-card .header {
    position: relative;
    margin-top: 3em; }
    .user-card .header .user {
      min-height: 58px !important;
      position: absolute;
      top: 5px;
      left: 5px; }
    .user-card .header .avatar {
      cursor: pointer;
      width: 64px !important;
      height: 64px !important;
      line-height: 64px;
      text-align: center;
      color: #fff !important; }
    .user-card .header .text {
      margin-top: 0.5em;
      margin-left: 4.5em; }
      .user-card .header .text small {
        display: block; }
      .user-card .header .text .pin {
        color: #666;
        font-size: 12px; }

.main-layout {
  display: grid;
  grid-template-columns: 80px 1fr;
  height: 100vh;
  overflow: hidden;
  /*
	___ _____ _________ ______
	|  |_c2t_|___c3t___|     |
	|  |     |         |     |
	|c1| c2m |   c3m   | c4t |
	|  |     |         |_____|
	|__|_____|_________|_c4b_|	
	*/
  /*
	___ _______________ ______
	|  |______c3t______|     |
	|  |               |     |
	|c1|      c3m      | c4t | 
	|  |               |_____|
	|__|_______________|_c4b_|
	*/
  /*
	___ _____ ____________ ___
	|  |_c2t_|_____c3t____|  |
	|  |     |            |c |
	|c1| c2m |     c3m    |4t|
	|  |     |            |__|
	|__|_____|____________|4b|	
	*/ }
  .main-layout .grid-row {
    height: 100vh;
    display: grid; }
  .main-layout .grid-row.full {
    grid-template-columns: 240px 1fr 240px; }
  .main-layout .grid-row.c2-collapsed {
    grid-template-columns: 0fr 1fr 240px;
    /*
		___ __________________ ___
		|  |________c3t_______|  |
		|  |                  |c |
		|c1|        c3m       |4t| 
		|  |                  |__|
		|__|__________________|4b|			
		*/ }
    .main-layout .grid-row.c2-collapsed.c4-collapsed {
      grid-template-columns: 0fr 1fr 80px; }
  .main-layout .grid-row.c4-collapsed {
    grid-template-columns: 240px 1fr 80px; }
  .main-layout .col,
  .main-layout .row {
    color: #fdfdfe;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow: hidden; }
  .main-layout .stretch {
    flex: 1; }
  .main-layout .c1 {
    background-color: #111;
    background-color: rgba(17, 17, 17, 0.8) !important; }
  .main-layout .c2m,
  .main-layout .c2t {
    background-color: #303030; }
  .main-layout .c2m {
    background-color: rgba(48, 48, 48, 0.8) !important; }
  .main-layout .c3m,
  .main-layout .c3t {
    background-color: #424242; }
  .main-layout .c3m {
    background-color: rgba(66, 66, 66, 0.8) !important; }
  .main-layout .c4b,
  .main-layout .c4t {
    background-color: #212121; }
  .main-layout .c4t {
    background-color: rgba(33, 33, 33, 0.8) !important; }

.server-header {
  height: 56px;
  line-height: 56px;
  padding: 0 24px; }
  .server-header .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .server-header .menu {
    float: right; }
    .server-header .menu i {
      font-size: 18px;
      margin-left: 5px;
      cursor: pointer;
      transition: color 0.3s; }

.server-list {
  flex: 1 1 auto;
  height: 0;
  overflow-y: auto; }
  .server-list .server.current .avatar {
    border-radius: 15% !important; }
  .server-list .avatar {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px;
    text-align: center;
    color: #fff !important;
    cursor: pointer; }
    .server-list .avatar:hover {
      border-radius: 15%; }

.server-sidebar .btn {
  margin: 0.8em 0; }

.member-sidebar .header {
  line-height: 56px; }

.member-sidebar .trigger {
  font-size: 18px;
  margin: 0 24px !important;
  cursor: pointer;
  transition: color 0.3s; }
  .member-sidebar .trigger:hover {
    color: #6435c9; }

.member-list {
  flex: 1 1 auto;
  height: 0;
  overflow-y: auto; }
  .member-list .online .avatar {
    filter: none; }
  .member-list .offline .avatar {
    filter: grayscale(100%); }
    .member-list .offline .avatar:hover {
      filter: none; }
  .member-list .avatar {
    cursor: pointer;
    width: 32px !important;
    height: 32px !important;
    line-height: 32px;
    text-align: center;
    color: #fff !important; }
  .member-list .member {
    margin: 0.5em auto;
    background-color: transparent;
    transition: all 0.5s ease-out; }
    .member-list .member:hover {
      background: black;
      /* For browsers that do not support gradients */
      background: linear-gradient(to right, black, transparent); }
    .member-list .member .text {
      margin-left: 0.4em;
      margin-right: 0.2em;
      vertical-align: middle; }

.c4-collapsed .member i.icon.sun {
  position: absolute; }

.channel-header {
  padding: 0 50px;
  min-height: 56px !important;
  max-height: 56px !important;
  line-height: 56px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .channel-header .trigger {
    font-size: 18px;
    margin: 0 24px !important;
    cursor: pointer;
    transition: color 0.3s; }
    .channel-header .trigger:hover {
      color: #6435c9; }
  .channel-header .current-channel .name {
    font-size: 18px; }
    .channel-header .current-channel .name i {
      font-size: 16px;
      color: #999;
      margin-right: 5px; }
  .channel-header .current-channel .topic {
    border-left: 1px solid #999;
    color: #999;
    padding-left: 7px;
    margin-left: 7px; }
  .channel-header .menu {
    float: right; }
    .channel-header .menu i {
      font-size: 18px;
      margin-right: 5px;
      cursor: pointer;
      transition: color 0.3s; }

.channel-list {
  padding: 1em 0;
  flex: 1 1 auto;
  height: 0;
  overflow-y: auto; }
  .channel-list .title {
    color: #fff !important;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 26px; }
    .channel-list .title .add-channel .menu {
      float: right; }
  .channel-list .content {
    color: #999; }
  .channel-list i {
    color: #fff; }
  .channel-list .menu i {
    font-size: 18px;
    margin-right: 24px;
    cursor: pointer;
    transition: color 0.3s; }

.channel-item {
  color: #999;
  border-left: 4px solid transparent;
  height: 40px;
  line-height: 40px;
  position: relative; }
  .channel-item .channel-item-header {
    padding-left: 1.2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .channel-item .channel-item-header .hashtag {
      margin-right: 0.5em;
      font-size: 11px; }
  .channel-item i,
  .channel-item a {
    color: #999 !important; }
  .channel-item .menu {
    visibility: hidden !important; }
  .channel-item:hover, .channel-item.current {
    border-left: 4px solid #6435c9;
    background: #424242;
    /* For browsers that do not support gradients */
    background: linear-gradient(to right, #424242, rgba(66, 66, 66, 0)); }
    .channel-item:hover i,
    .channel-item:hover a,
    .channel-item:hover .text, .channel-item.current i,
    .channel-item.current a,
    .channel-item.current .text {
      color: white !important; }
    .channel-item:hover .menu, .channel-item.current .menu {
      visibility: visible !important;
      position: relative;
      z-index: 3; }
  .channel-item.current:after {
    content: "";
    display: block;
    border: 20px solid transparent;
    border-right-color: rgba(200, 200, 200, 0.1);
    position: absolute;
    bottom: 0;
    right: 0; }

.channel-accordion-item {
  color: #999;
  margin-top: 0 !important; }
  .channel-accordion-item i,
  .channel-accordion-item a {
    color: #999 !important; }
  .channel-accordion-item .menu {
    visibility: hidden !important; }
  .channel-accordion-item .title {
    padding: 0 !important;
    line-height: 40px !important;
    height: 40px;
    border-left: 4px solid transparent;
    padding-left: 0.9em !important;
    position: relative; }
    .channel-accordion-item .title .dropdown.icon {
      vertical-align: middle !important; }
    .channel-accordion-item .title .channel-item-header {
      cursor: pointer; }
      .channel-accordion-item .title .channel-item-header .text,
      .channel-accordion-item .title .channel-item-header a {
        text-transform: none;
        font-weight: normal;
        color: #999; }
      .channel-accordion-item .title .channel-item-header .menu {
        float: right; }
    .channel-accordion-item .title:hover {
      border-left: 4px solid #6435c9;
      background: #424242;
      /* For browsers that do not support gradients */
      background: linear-gradient(to right, #424242, rgba(66, 66, 66, 0)); }
      .channel-accordion-item .title:hover i,
      .channel-accordion-item .title:hover a,
      .channel-accordion-item .title:hover .text {
        color: white !important; }
      .channel-accordion-item .title:hover .menu {
        visibility: visible !important;
        position: relative;
        z-index: 3; }

.channel-accordion-item.current .title {
  border-left: 4px solid #6435c9;
  background: #424242;
  /* For browsers that do not support gradients */
  background: linear-gradient(to right, #424242, rgba(66, 66, 66, 0)); }
  .channel-accordion-item.current .title i,
  .channel-accordion-item.current .title a,
  .channel-accordion-item.current .title .text {
    color: white !important; }
  .channel-accordion-item.current .title .menu {
    visibility: visible !important;
    position: relative;
    z-index: 3; }
  .channel-accordion-item.current .title:after {
    content: "";
    display: block;
    border: 20px solid transparent;
    border-right-color: rgba(200, 200, 200, 0.1);
    position: absolute;
    bottom: 0;
    right: 0; }

.channel-presence {
  padding-left: 2.7em; }
  .channel-presence .avatar {
    width: 24px !important;
    height: 24px !important;
    line-height: 24px;
    text-align: center;
    color: #fff !important; }
  .channel-presence .member {
    margin: 0.5em auto;
    color: #999; }
    .channel-presence .member:hover {
      color: #fff; }
    .channel-presence .member .text {
      vertical-align: middle; }

.chat-room {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.chat-history {
  display: flex;
  flex: 1 1 auto;
  height: 0;
  overflow-y: scroll;
  padding: 24px 14.5px 24px 24px; }
  .chat-history .ui.divider {
    margin: 0 !important; }
  .chat-history .avatar {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px;
    text-align: center;
    color: #fff !important; }

.chat-input {
  padding-top: 18px;
  padding-bottom: 30px;
  border-top: 1px solid rgba(155, 155, 155, 0.7);
  margin: 0 24px;
  position: relative; }

.chat-message {
  margin: 1em 0; }
  .chat-message .avatar {
    float: left; }
  .chat-message .content {
    margin-left: 3.6em; }
    .chat-message .content .message-blocks .block .actions {
      cursor: pointer;
      margin-left: 0.5em;
      visibility: hidden;
      text-decoration: none; }
    .chat-message .content .message-blocks .block .edited {
      margin-left: 0.5em;
      color: #999;
      font-style: italic; }
    .chat-message .content .message-blocks .block:hover {
      text-decoration: underline; }
      .chat-message .content .message-blocks .block:hover .actions {
        visibility: visible; }
    .chat-message .content .header {
      font-size: 16px;
      color: #fff;
      font-weight: bold; }
    .chat-message .content .date {
      color: #ddd;
      margin-left: 0.5em; }
    .chat-message .content .description {
      margin-top: 0.4em; }

.is-typing-list {
  color: #999;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic; }

.home-page {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden; }
  .home-page .some-stars {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1166px 1513px #FFF, 20px 129px #FFF, 213px 910px #FFF, 344px 1779px #FFF, 24px 1249px #FFF, 736px 308px #FFF, 275px 889px #FFF, 1475px 648px #FFF, 1569px 147px #FFF, 591px 180px #FFF, 1510px 1399px #FFF, 909px 747px #FFF, 994px 95px #FFF, 728px 1323px #FFF, 1999px 963px #FFF, 1660px 1515px #FFF, 1911px 1430px #FFF, 1397px 1905px #FFF, 1426px 254px #FFF, 495px 1872px #FFF, 1655px 56px #FFF, 917px 1669px #FFF, 1093px 258px #FFF, 335px 773px #FFF, 117px 662px #FFF, 247px 905px #FFF, 1599px 96px #FFF, 1362px 445px #FFF, 1933px 1982px #FFF, 858px 1560px #FFF, 1920px 1341px #FFF, 973px 1621px #FFF, 672px 546px #FFF, 637px 867px #FFF, 1717px 1097px #FFF, 584px 1920px #FFF, 299px 187px #FFF, 1497px 327px #FFF, 144px 1766px #FFF, 336px 86px #FFF, 1184px 1379px #FFF, 32px 1521px #FFF, 1047px 1805px #FFF, 624px 426px #FFF, 866px 1701px #FFF, 1714px 1872px #FFF, 1935px 1836px #FFF, 1530px 1110px #FFF, 1065px 1112px #FFF, 1831px 651px #FFF, 740px 892px #FFF, 1763px 574px #FFF, 837px 166px #FFF, 1515px 218px #FFF, 112px 1770px #FFF, 1995px 79px #FFF, 1069px 55px #FFF, 1775px 1966px #FFF, 709px 373px #FFF, 1601px 647px #FFF, 142px 485px #FFF, 493px 1905px #FFF, 1406px 467px #FFF, 493px 76px #FFF, 1785px 812px #FFF, 342px 1995px #FFF, 670px 267px #FFF, 462px 1967px #FFF, 1485px 1904px #FFF, 1585px 1661px #FFF, 842px 1713px #FFF, 989px 1130px #FFF, 895px 1462px #FFF, 816px 626px #FFF, 83px 1305px #FFF, 22px 1822px #FFF, 671px 495px #FFF, 811px 901px #FFF, 880px 1426px #FFF, 1295px 1638px #FFF, 1516px 705px #FFF, 1637px 1406px #FFF, 1685px 272px #FFF, 132px 1774px #FFF, 627px 1701px #FFF, 1671px 1902px #FFF, 1771px 726px #FFF, 680px 1474px #FFF, 1761px 1080px #FFF, 642px 90px #FFF, 1972px 1087px #FFF, 1775px 348px #FFF, 245px 591px #FFF, 1385px 53px #FFF, 159px 1223px #FFF, 27px 733px #FFF, 1532px 47px #FFF, 1593px 321px #FFF, 348px 1046px #FFF, 584px 641px #FFF, 1301px 1935px #FFF, 1542px 1816px #FFF, 159px 593px #FFF, 1198px 136px #FFF, 640px 934px #FFF, 250px 1472px #FFF, 1418px 1058px #FFF, 344px 688px #FFF, 809px 784px #FFF, 773px 557px #FFF, 316px 259px #FFF, 645px 1236px #FFF, 117px 1296px #FFF, 1805px 629px #FFF, 184px 1202px #FFF, 1387px 1044px #FFF, 1683px 708px #FFF, 476px 380px #FFF, 1994px 309px #FFF, 1451px 974px #FFF, 358px 1764px #FFF, 245px 1393px #FFF, 1910px 637px #FFF, 1855px 1941px #FFF, 1748px 343px #FFF, 1743px 1607px #FFF, 715px 1953px #FFF, 165px 1167px #FFF, 1009px 326px #FFF, 1264px 1153px #FFF, 1816px 1101px #FFF, 894px 805px #FFF, 521px 1585px #FFF, 1961px 1637px #FFF, 747px 909px #FFF, 256px 1474px #FFF, 339px 782px #FFF, 1000px 1001px #FFF, 456px 87px #FFF, 759px 1331px #FFF, 1088px 346px #FFF, 434px 1615px #FFF, 1584px 1665px #FFF, 1923px 1628px #FFF, 1112px 1509px #FFF, 727px 1113px #FFF, 1257px 342px #FFF, 75px 1018px #FFF, 593px 1285px #FFF, 934px 1967px #FFF, 1694px 362px #FFF, 1994px 674px #FFF, 321px 396px #FFF, 1370px 389px #FFF, 1536px 1782px #FFF, 1228px 154px #FFF, 738px 1069px #FFF, 1770px 722px #FFF, 354px 1822px #FFF, 558px 187px #FFF, 587px 1794px #FFF, 629px 661px #FFF, 1870px 1153px #FFF, 1804px 676px #FFF, 1769px 379px #FFF, 729px 557px #FFF, 1809px 1376px #FFF, 280px 547px #FFF, 1699px 1886px #FFF, 1776px 1926px #FFF, 806px 469px #FFF, 1459px 42px #FFF, 600px 1005px #FFF, 1378px 163px #FFF, 1425px 1524px #FFF, 591px 1782px #FFF, 1220px 539px #FFF, 1021px 940px #FFF, 1209px 1201px #FFF, 369px 747px #FFF, 1548px 618px #FFF, 1507px 74px #FFF, 870px 1234px #FFF, 1532px 1920px #FFF, 620px 376px #FFF, 407px 536px #FFF, 238px 928px #FFF, 1005px 791px #FFF, 634px 1119px #FFF, 1808px 78px #FFF, 992px 1154px #FFF, 1756px 954px #FFF, 902px 227px #FFF, 809px 1681px #FFF, 1311px 1495px #FFF, 96px 681px #FFF, 675px 640px #FFF, 708px 1378px #FFF, 87px 1192px #FFF, 1079px 1828px #FFF;
    animation: parallaxStar 100s linear infinite; }
    .home-page .some-stars:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 1166px 1513px #FFF, 20px 129px #FFF, 213px 910px #FFF, 344px 1779px #FFF, 24px 1249px #FFF, 736px 308px #FFF, 275px 889px #FFF, 1475px 648px #FFF, 1569px 147px #FFF, 591px 180px #FFF, 1510px 1399px #FFF, 909px 747px #FFF, 994px 95px #FFF, 728px 1323px #FFF, 1999px 963px #FFF, 1660px 1515px #FFF, 1911px 1430px #FFF, 1397px 1905px #FFF, 1426px 254px #FFF, 495px 1872px #FFF, 1655px 56px #FFF, 917px 1669px #FFF, 1093px 258px #FFF, 335px 773px #FFF, 117px 662px #FFF, 247px 905px #FFF, 1599px 96px #FFF, 1362px 445px #FFF, 1933px 1982px #FFF, 858px 1560px #FFF, 1920px 1341px #FFF, 973px 1621px #FFF, 672px 546px #FFF, 637px 867px #FFF, 1717px 1097px #FFF, 584px 1920px #FFF, 299px 187px #FFF, 1497px 327px #FFF, 144px 1766px #FFF, 336px 86px #FFF, 1184px 1379px #FFF, 32px 1521px #FFF, 1047px 1805px #FFF, 624px 426px #FFF, 866px 1701px #FFF, 1714px 1872px #FFF, 1935px 1836px #FFF, 1530px 1110px #FFF, 1065px 1112px #FFF, 1831px 651px #FFF, 740px 892px #FFF, 1763px 574px #FFF, 837px 166px #FFF, 1515px 218px #FFF, 112px 1770px #FFF, 1995px 79px #FFF, 1069px 55px #FFF, 1775px 1966px #FFF, 709px 373px #FFF, 1601px 647px #FFF, 142px 485px #FFF, 493px 1905px #FFF, 1406px 467px #FFF, 493px 76px #FFF, 1785px 812px #FFF, 342px 1995px #FFF, 670px 267px #FFF, 462px 1967px #FFF, 1485px 1904px #FFF, 1585px 1661px #FFF, 842px 1713px #FFF, 989px 1130px #FFF, 895px 1462px #FFF, 816px 626px #FFF, 83px 1305px #FFF, 22px 1822px #FFF, 671px 495px #FFF, 811px 901px #FFF, 880px 1426px #FFF, 1295px 1638px #FFF, 1516px 705px #FFF, 1637px 1406px #FFF, 1685px 272px #FFF, 132px 1774px #FFF, 627px 1701px #FFF, 1671px 1902px #FFF, 1771px 726px #FFF, 680px 1474px #FFF, 1761px 1080px #FFF, 642px 90px #FFF, 1972px 1087px #FFF, 1775px 348px #FFF, 245px 591px #FFF, 1385px 53px #FFF, 159px 1223px #FFF, 27px 733px #FFF, 1532px 47px #FFF, 1593px 321px #FFF, 348px 1046px #FFF, 584px 641px #FFF, 1301px 1935px #FFF, 1542px 1816px #FFF, 159px 593px #FFF, 1198px 136px #FFF, 640px 934px #FFF, 250px 1472px #FFF, 1418px 1058px #FFF, 344px 688px #FFF, 809px 784px #FFF, 773px 557px #FFF, 316px 259px #FFF, 645px 1236px #FFF, 117px 1296px #FFF, 1805px 629px #FFF, 184px 1202px #FFF, 1387px 1044px #FFF, 1683px 708px #FFF, 476px 380px #FFF, 1994px 309px #FFF, 1451px 974px #FFF, 358px 1764px #FFF, 245px 1393px #FFF, 1910px 637px #FFF, 1855px 1941px #FFF, 1748px 343px #FFF, 1743px 1607px #FFF, 715px 1953px #FFF, 165px 1167px #FFF, 1009px 326px #FFF, 1264px 1153px #FFF, 1816px 1101px #FFF, 894px 805px #FFF, 521px 1585px #FFF, 1961px 1637px #FFF, 747px 909px #FFF, 256px 1474px #FFF, 339px 782px #FFF, 1000px 1001px #FFF, 456px 87px #FFF, 759px 1331px #FFF, 1088px 346px #FFF, 434px 1615px #FFF, 1584px 1665px #FFF, 1923px 1628px #FFF, 1112px 1509px #FFF, 727px 1113px #FFF, 1257px 342px #FFF, 75px 1018px #FFF, 593px 1285px #FFF, 934px 1967px #FFF, 1694px 362px #FFF, 1994px 674px #FFF, 321px 396px #FFF, 1370px 389px #FFF, 1536px 1782px #FFF, 1228px 154px #FFF, 738px 1069px #FFF, 1770px 722px #FFF, 354px 1822px #FFF, 558px 187px #FFF, 587px 1794px #FFF, 629px 661px #FFF, 1870px 1153px #FFF, 1804px 676px #FFF, 1769px 379px #FFF, 729px 557px #FFF, 1809px 1376px #FFF, 280px 547px #FFF, 1699px 1886px #FFF, 1776px 1926px #FFF, 806px 469px #FFF, 1459px 42px #FFF, 600px 1005px #FFF, 1378px 163px #FFF, 1425px 1524px #FFF, 591px 1782px #FFF, 1220px 539px #FFF, 1021px 940px #FFF, 1209px 1201px #FFF, 369px 747px #FFF, 1548px 618px #FFF, 1507px 74px #FFF, 870px 1234px #FFF, 1532px 1920px #FFF, 620px 376px #FFF, 407px 536px #FFF, 238px 928px #FFF, 1005px 791px #FFF, 634px 1119px #FFF, 1808px 78px #FFF, 992px 1154px #FFF, 1756px 954px #FFF, 902px 227px #FFF, 809px 1681px #FFF, 1311px 1495px #FFF, 96px 681px #FFF, 675px 640px #FFF, 708px 1378px #FFF, 87px 1192px #FFF, 1079px 1828px #FFF; }
  .home-page .stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 517px 1959px #FFF, 1984px 598px #FFF, 1851px 515px #FFF, 993px 1333px #FFF, 1009px 609px #FFF, 333px 198px #FFF, 479px 1461px #FFF, 31px 1398px #FFF, 659px 162px #FFF, 605px 1860px #FFF, 872px 777px #FFF, 1011px 1751px #FFF, 1970px 1468px #FFF, 1690px 825px #FFF, 1856px 383px #FFF, 757px 1379px #FFF, 365px 1677px #FFF, 121px 89px #FFF, 1033px 1734px #FFF, 646px 786px #FFF, 1473px 1999px #FFF, 281px 324px #FFF, 1035px 1317px #FFF, 1874px 1237px #FFF, 1817px 1482px #FFF, 1990px 339px #FFF, 953px 149px #FFF, 1665px 1432px #FFF, 581px 1640px #FFF, 1226px 1470px #FFF, 3px 674px #FFF, 423px 1637px #FFF, 1517px 486px #FFF, 1802px 1290px #FFF, 1410px 790px #FFF, 1990px 364px #FFF, 888px 1662px #FFF, 1572px 1061px #FFF, 101px 1028px #FFF, 651px 1037px #FFF, 872px 190px #FFF, 650px 332px #FFF, 1246px 1970px #FFF, 759px 287px #FFF, 1874px 612px #FFF, 597px 1318px #FFF, 257px 1920px #FFF, 1552px 814px #FFF, 1530px 571px #FFF, 1396px 1661px #FFF, 262px 1126px #FFF, 777px 1951px #FFF, 1792px 1343px #FFF, 936px 1797px #FFF, 1776px 1844px #FFF, 658px 546px #FFF, 110px 624px #FFF, 1707px 253px #FFF, 715px 811px #FFF, 1733px 1179px #FFF, 720px 974px #FFF, 739px 882px #FFF, 555px 795px #FFF, 186px 906px #FFF, 809px 1945px #FFF, 1684px 966px #FFF, 667px 1767px #FFF, 1161px 1448px #FFF, 1344px 1728px #FFF, 1210px 421px #FFF, 202px 1835px #FFF, 1481px 707px #FFF, 1975px 1139px #FFF, 1244px 1955px #FFF, 213px 730px #FFF, 1648px 6px #FFF, 867px 1644px #FFF, 1284px 198px #FFF, 1121px 500px #FFF, 1051px 777px #FFF, 308px 1172px #FFF, 124px 1788px #FFF, 1185px 773px #FFF, 285px 1309px #FFF, 676px 1841px #FFF, 342px 1839px #FFF, 373px 1577px #FFF, 1754px 660px #FFF, 1644px 1527px #FFF, 407px 810px #FFF, 1035px 1407px #FFF, 135px 1507px #FFF, 935px 35px #FFF, 1994px 134px #FFF, 1079px 727px #FFF, 1628px 1329px #FFF, 199px 1148px #FFF, 1346px 997px #FFF, 13px 1745px #FFF, 883px 687px #FFF, 1310px 1027px #FFF, 904px 1545px #FFF, 508px 1958px #FFF, 1816px 1085px #FFF, 965px 1033px #FFF, 639px 362px #FFF, 278px 412px #FFF, 1599px 1319px #FFF, 1320px 114px #FFF, 1302px 1719px #FFF, 1129px 726px #FFF, 1024px 240px #FFF, 751px 766px #FFF, 1842px 1715px #FFF, 2px 1031px #FFF, 1527px 140px #FFF, 1536px 21px #FFF, 655px 890px #FFF, 1460px 478px #FFF, 439px 1478px #FFF, 1552px 979px #FFF, 389px 1668px #FFF, 363px 1299px #FFF, 1186px 518px #FFF, 168px 1277px #FFF, 630px 1596px #FFF, 1341px 1116px #FFF, 798px 1020px #FFF, 1774px 978px #FFF, 1724px 1796px #FFF, 1451px 1772px #FFF, 464px 1778px #FFF, 1647px 430px #FFF, 1347px 130px #FFF, 898px 1029px #FFF, 689px 505px #FFF, 1068px 867px #FFF, 618px 203px #FFF, 659px 1734px #FFF, 1862px 370px #FFF, 1692px 1825px #FFF, 305px 932px #FFF, 22px 316px #FFF, 609px 415px #FFF, 1585px 932px #FFF, 367px 1284px #FFF, 1607px 1647px #FFF, 201px 1948px #FFF, 237px 688px #FFF, 944px 1314px #FFF, 1142px 1696px #FFF, 1509px 368px #FFF, 424px 1004px #FFF, 675px 1778px #FFF, 334px 1987px #FFF, 267px 577px #FFF, 298px 473px #FFF, 788px 777px #FFF, 1582px 485px #FFF, 1335px 888px #FFF, 1665px 883px #FFF, 296px 1597px #FFF, 760px 1294px #FFF, 1987px 1363px #FFF, 753px 902px #FFF, 1048px 833px #FFF, 875px 437px #FFF, 447px 264px #FFF, 1435px 484px #FFF, 112px 707px #FFF, 520px 1032px #FFF, 1409px 1137px #FFF, 1529px 738px #FFF, 1503px 184px #FFF, 105px 927px #FFF, 1016px 883px #FFF, 1956px 1424px #FFF, 469px 874px #FFF, 643px 87px #FFF, 1185px 1903px #FFF, 978px 96px #FFF, 238px 1463px #FFF, 356px 1755px #FFF, 710px 335px #FFF, 489px 1930px #FFF, 1381px 524px #FFF, 797px 570px #FFF, 654px 408px #FFF, 13px 1608px #FFF, 213px 1730px #FFF, 503px 1667px #FFF, 1897px 166px #FFF, 1814px 6px #FFF, 94px 1804px #FFF, 1282px 996px #FFF, 662px 981px #FFF, 1484px 1121px #FFF, 950px 1192px #FFF, 752px 1218px #FFF, 415px 6px #FFF, 1563px 1318px #FFF, 633px 143px #FFF, 1745px 242px #FFF, 1129px 241px #FFF, 63px 1949px #FFF, 1466px 838px #FFF, 937px 1242px #FFF, 206px 605px #FFF, 1722px 1667px #FFF, 308px 771px #FFF, 1924px 1058px #FFF, 1970px 37px #FFF, 1410px 989px #FFF, 109px 497px #FFF, 889px 943px #FFF, 191px 1541px #FFF, 573px 1876px #FFF, 748px 1084px #FFF, 1995px 132px #FFF, 1741px 934px #FFF, 1776px 487px #FFF, 1870px 863px #FFF, 1864px 137px #FFF, 1210px 1396px #FFF, 613px 1663px #FFF, 108px 1197px #FFF, 1067px 1418px #FFF, 1172px 47px #FFF, 1616px 1031px #FFF, 763px 942px #FFF, 715px 314px #FFF, 1436px 1237px #FFF, 303px 319px #FFF, 992px 1800px #FFF, 586px 1359px #FFF, 1819px 1233px #FFF, 1946px 1958px #FFF, 373px 1557px #FFF, 1103px 1025px #FFF, 726px 991px #FFF, 304px 1938px #FFF, 410px 1146px #FFF, 373px 1290px #FFF, 142px 1690px #FFF, 155px 1030px #FFF, 1358px 1967px #FFF, 1045px 871px #FFF, 1772px 1024px #FFF, 1538px 26px #FFF, 671px 872px #FFF, 1144px 603px #FFF, 873px 85px #FFF, 1534px 1298px #FFF, 1409px 514px #FFF, 48px 834px #FFF, 1899px 719px #FFF, 74px 364px #FFF, 1714px 362px #FFF, 22px 1688px #FFF, 1582px 331px #FFF, 712px 823px #FFF, 84px 1864px #FFF, 1442px 64px #FFF, 1207px 610px #FFF, 1235px 1102px #FFF, 325px 402px #FFF, 913px 1494px #FFF, 1115px 1781px #FFF, 1248px 1609px #FFF, 802px 203px #FFF, 1633px 1311px #FFF, 899px 499px #FFF, 28px 1956px #FFF, 663px 1154px #FFF, 230px 1212px #FFF, 1028px 462px #FFF, 850px 1349px #FFF, 1726px 1190px #FFF, 1762px 1878px #FFF, 1547px 841px #FFF, 379px 1295px #FFF, 424px 1780px #FFF, 1388px 276px #FFF, 990px 1515px #FFF, 455px 938px #FFF, 516px 612px #FFF, 1308px 879px #FFF, 329px 165px #FFF, 1009px 1854px #FFF, 78px 893px #FFF, 1911px 612px #FFF, 875px 855px #FFF, 201px 1568px #FFF, 1975px 626px #FFF, 865px 1532px #FFF, 1981px 1154px #FFF, 958px 1919px #FFF, 833px 339px #FFF, 1711px 1837px #FFF, 670px 1911px #FFF, 1843px 838px #FFF, 1937px 1569px #FFF, 456px 1885px #FFF, 1082px 425px #FFF, 1692px 1430px #FFF, 1786px 733px #FFF, 613px 1261px #FFF, 457px 470px #FFF, 1616px 711px #FFF, 1414px 798px #FFF, 1370px 1945px #FFF, 904px 721px #FFF, 349px 379px #FFF, 1125px 633px #FFF, 1805px 1908px #FFF, 1743px 614px #FFF, 1162px 223px #FFF, 1608px 863px #FFF, 1838px 984px #FFF, 693px 962px #FFF, 1066px 1778px #FFF, 1750px 1062px #FFF, 333px 1187px #FFF, 853px 1650px #FFF, 1614px 67px #FFF, 1061px 1055px #FFF, 518px 47px #FFF, 965px 220px #FFF, 43px 1774px #FFF, 598px 1948px #FFF, 1843px 640px #FFF, 1564px 1515px #FFF, 1279px 1848px #FFF, 1795px 1856px #FFF, 1053px 1529px #FFF, 1612px 1461px #FFF, 1768px 1834px #FFF, 1367px 435px #FFF, 282px 1823px #FFF, 1649px 1974px #FFF, 1668px 479px #FFF, 634px 736px #FFF, 734px 746px #FFF, 179px 1517px #FFF, 174px 1531px #FFF, 1780px 1625px #FFF, 1866px 1719px #FFF, 624px 968px #FFF, 1379px 1244px #FFF, 1290px 454px #FFF, 1198px 1215px #FFF, 286px 808px #FFF, 1550px 1706px #FFF, 1381px 1000px #FFF, 1534px 15px #FFF, 1588px 1714px #FFF, 731px 207px #FFF, 1324px 930px #FFF, 825px 153px #FFF, 451px 1370px #FFF, 253px 1328px #FFF, 739px 1116px #FFF, 1630px 966px #FFF, 1320px 1526px #FFF, 532px 143px #FFF, 1393px 740px #FFF, 1980px 1025px #FFF, 671px 34px #FFF, 1057px 358px #FFF, 864px 729px #FFF, 1447px 1879px #FFF, 1211px 1999px #FFF, 1286px 653px #FFF, 1255px 491px #FFF, 1314px 312px #FFF, 958px 704px #FFF, 328px 584px #FFF, 1996px 1656px #FFF, 865px 882px #FFF, 791px 1935px #FFF, 72px 1182px #FFF, 1365px 858px #FFF, 207px 487px #FFF, 992px 170px #FFF, 1106px 1027px #FFF, 965px 481px #FFF, 1994px 1625px #FFF, 1465px 1470px #FFF, 1266px 1071px #FFF, 847px 1371px #FFF, 1853px 1342px #FFF, 1647px 1159px #FFF, 1554px 1366px #FFF, 1636px 153px #FFF, 318px 1955px #FFF, 1474px 129px #FFF, 148px 1255px #FFF, 1150px 1956px #FFF, 527px 1333px #FFF, 261px 997px #FFF, 671px 42px #FFF, 1668px 377px #FFF, 1955px 250px #FFF, 906px 290px #FFF, 612px 1749px #FFF, 1161px 1045px #FFF, 628px 122px #FFF, 1839px 367px #FFF, 1763px 75px #FFF, 433px 1770px #FFF, 1551px 533px #FFF, 1521px 1981px #FFF, 144px 1707px #FFF, 1232px 818px #FFF, 1905px 326px #FFF, 1710px 355px #FFF, 116px 685px #FFF, 414px 295px #FFF, 518px 23px #FFF, 1480px 562px #FFF, 959px 1021px #FFF, 1724px 1081px #FFF, 1922px 1104px #FFF, 453px 1311px #FFF, 79px 206px #FFF, 747px 1095px #FFF, 1742px 1832px #FFF, 440px 746px #FFF, 1281px 283px #FFF, 1785px 758px #FFF, 1693px 533px #FFF, 1188px 1664px #FFF, 1306px 1995px #FFF, 1363px 136px #FFF, 1838px 900px #FFF, 920px 1465px #FFF, 245px 752px #FFF, 1453px 306px #FFF, 411px 1342px #FFF, 925px 756px #FFF, 205px 353px #FFF, 706px 290px #FFF, 1966px 1298px #FFF, 221px 1731px #FFF, 1021px 1620px #FFF, 1923px 842px #FFF, 18px 726px #FFF, 232px 1302px #FFF, 1312px 448px #FFF, 1725px 1148px #FFF, 519px 378px #FFF, 1307px 721px #FFF, 1784px 620px #FFF, 235px 1326px #FFF, 157px 215px #FFF, 408px 574px #FFF, 291px 1377px #FFF, 2px 1795px #FFF, 659px 7px #FFF, 589px 889px #FFF, 140px 157px #FFF, 200px 1914px #FFF, 1782px 477px #FFF, 1764px 117px #FFF, 1749px 1584px #FFF, 1528px 303px #FFF, 1685px 1601px #FFF, 181px 1633px #FFF, 894px 123px #FFF, 747px 284px #FFF, 1784px 491px #FFF, 1625px 216px #FFF, 1410px 1221px #FFF, 1724px 1151px #FFF, 87px 1998px #FFF, 1662px 26px #FFF, 1619px 1652px #FFF, 1350px 360px #FFF, 1864px 1824px #FFF, 970px 1901px #FFF, 774px 823px #FFF, 1306px 116px #FFF, 1574px 1959px #FFF, 640px 366px #FFF, 234px 47px #FFF, 1176px 1833px #FFF, 939px 406px #FFF, 200px 1604px #FFF, 1077px 1830px #FFF, 1101px 776px #FFF, 441px 495px #FFF, 1252px 176px #FFF, 1842px 1567px #FFF, 618px 591px #FFF, 1760px 239px #FFF, 673px 94px #FFF, 1447px 1086px #FFF, 1272px 1761px #FFF, 309px 1629px #FFF, 1322px 1121px #FFF, 2000px 1116px #FFF, 1520px 232px #FFF, 565px 298px #FFF, 745px 1142px #FFF, 407px 13px #FFF, 486px 496px #FFF, 126px 1316px #FFF, 137px 1944px #FFF, 783px 1830px #FFF, 423px 377px #FFF, 1191px 284px #FFF, 264px 35px #FFF, 1851px 569px #FFF, 442px 1627px #FFF, 1401px 700px #FFF, 1822px 1528px #FFF, 1429px 910px #FFF, 724px 357px #FFF, 526px 1020px #FFF, 262px 307px #FFF, 688px 1903px #FFF, 239px 844px #FFF, 192px 867px #FFF, 1416px 209px #FFF, 1483px 960px #FFF, 1217px 104px #FFF, 858px 1137px #FFF, 1637px 1676px #FFF, 291px 1404px #FFF, 339px 328px #FFF, 445px 752px #FFF, 514px 1969px #FFF, 1533px 146px #FFF, 572px 535px #FFF, 1334px 1824px #FFF, 76px 98px #FFF, 457px 724px #FFF, 1887px 899px #FFF, 1353px 924px #FFF, 819px 936px #FFF, 1237px 1267px #FFF, 1158px 1876px #FFF, 276px 1744px #FFF, 1867px 229px #FFF, 1826px 1993px #FFF, 42px 1356px #FFF, 1975px 225px #FFF, 1256px 1121px #FFF, 1416px 1700px #FFF, 1415px 1350px #FFF, 1558px 278px #FFF, 817px 1899px #FFF, 664px 488px #FFF, 829px 97px #FFF, 1302px 1900px #FFF, 586px 1909px #FFF, 1328px 116px #FFF, 883px 1022px #FFF, 457px 1411px #FFF, 1427px 1391px #FFF, 175px 117px #FFF, 930px 302px #FFF, 1198px 703px #FFF, 460px 1519px #FFF, 1044px 473px #FFF, 1494px 1586px #FFF, 1550px 1921px #FFF, 21px 1834px #FFF, 819px 1798px #FFF, 1893px 549px #FFF, 1870px 798px #FFF, 1604px 1613px #FFF, 1183px 1222px #FFF, 1172px 1847px #FFF, 1926px 1498px #FFF, 1181px 115px #FFF, 79px 1224px #FFF, 95px 1171px #FFF, 1365px 1380px #FFF, 1261px 177px #FFF, 1210px 1937px #FFF, 1875px 1014px #FFF, 209px 406px #FFF, 44px 1949px #FFF, 415px 1912px #FFF, 1431px 1049px #FFF, 1234px 1253px #FFF, 757px 1771px #FFF, 1014px 865px #FFF, 1116px 1437px #FFF, 1564px 281px #FFF, 465px 1975px #FFF, 1708px 1075px #FFF, 164px 28px #FFF, 1209px 1910px #FFF, 912px 1164px #FFF, 191px 1676px #FFF, 1406px 1042px #FFF, 1306px 185px #FFF, 1607px 1743px #FFF, 1408px 433px #FFF, 1019px 942px #FFF, 200px 932px #FFF, 473px 661px #FFF, 774px 258px #FFF, 1790px 1324px #FFF, 164px 1971px #FFF, 1769px 1012px #FFF, 806px 1723px #FFF, 973px 137px #FFF, 1635px 1885px #FFF, 578px 1661px #FFF, 1805px 1479px #FFF, 1123px 1519px #FFF, 337px 1916px #FFF, 1856px 1476px #FFF, 980px 1403px #FFF, 1168px 1819px #FFF, 1319px 455px #FFF, 51px 1660px #FFF, 1862px 1651px #FFF, 1585px 1551px #FFF, 949px 1081px #FFF, 303px 722px #FFF, 1867px 23px #FFF, 1294px 708px #FFF, 101px 1286px #FFF, 770px 971px #FFF, 1152px 372px #FFF, 593px 533px #FFF, 471px 1428px #FFF, 1770px 369px #FFF, 1766px 42px #FFF, 503px 1476px #FFF, 983px 268px #FFF, 403px 1619px #FFF, 290px 833px #FFF, 1419px 1171px #FFF, 816px 1940px #FFF, 260px 1243px #FFF, 1577px 1084px #FFF, 1533px 714px #FFF, 1855px 1868px #FFF, 1904px 884px #FFF, 425px 1155px #FFF, 13px 1663px #FFF, 894px 648px #FFF, 1537px 1764px #FFF, 1248px 224px #FFF, 71px 551px #FFF, 609px 1078px #FFF, 237px 995px #FFF, 1085px 306px #FFF, 1827px 830px #FFF, 676px 644px #FFF, 311px 232px #FFF, 1691px 608px #FFF, 981px 1830px #FFF, 287px 1324px #FFF, 115px 1728px #FFF, 477px 496px #FFF, 1098px 1905px #FFF, 1516px 1594px #FFF, 351px 311px #FFF, 302px 1533px #FFF, 1493px 716px #FFF, 1813px 245px #FFF, 1709px 387px #FFF, 999px 1109px #FFF, 903px 1430px #FFF, 945px 560px #FFF, 1621px 1077px #FFF, 1178px 739px #FFF, 83px 435px #FFF, 1751px 1714px #FFF, 1770px 1603px #FFF, 1380px 1525px #FFF, 308px 971px #FFF, 1213px 1675px #FFF, 1190px 1279px #FFF, 224px 1595px #FFF, 100px 1032px #FFF, 642px 1272px #FFF, 1182px 1720px #FFF, 574px 152px #FFF, 118px 13px #FFF, 813px 656px #FFF, 727px 688px #FFF, 924px 1973px #FFF, 763px 1569px #FFF, 69px 1723px #FFF, 1965px 1837px #FFF, 165px 1047px #FFF, 122px 1772px #FFF, 724px 713px #FFF, 131px 1216px #FFF, 1089px 1390px #FFF, 911px 1386px #FFF, 861px 1683px #FFF, 1180px 856px #FFF;
    animation: parallaxStar 50s linear infinite; }
    .home-page .stars:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 517px 1959px #FFF, 1984px 598px #FFF, 1851px 515px #FFF, 993px 1333px #FFF, 1009px 609px #FFF, 333px 198px #FFF, 479px 1461px #FFF, 31px 1398px #FFF, 659px 162px #FFF, 605px 1860px #FFF, 872px 777px #FFF, 1011px 1751px #FFF, 1970px 1468px #FFF, 1690px 825px #FFF, 1856px 383px #FFF, 757px 1379px #FFF, 365px 1677px #FFF, 121px 89px #FFF, 1033px 1734px #FFF, 646px 786px #FFF, 1473px 1999px #FFF, 281px 324px #FFF, 1035px 1317px #FFF, 1874px 1237px #FFF, 1817px 1482px #FFF, 1990px 339px #FFF, 953px 149px #FFF, 1665px 1432px #FFF, 581px 1640px #FFF, 1226px 1470px #FFF, 3px 674px #FFF, 423px 1637px #FFF, 1517px 486px #FFF, 1802px 1290px #FFF, 1410px 790px #FFF, 1990px 364px #FFF, 888px 1662px #FFF, 1572px 1061px #FFF, 101px 1028px #FFF, 651px 1037px #FFF, 872px 190px #FFF, 650px 332px #FFF, 1246px 1970px #FFF, 759px 287px #FFF, 1874px 612px #FFF, 597px 1318px #FFF, 257px 1920px #FFF, 1552px 814px #FFF, 1530px 571px #FFF, 1396px 1661px #FFF, 262px 1126px #FFF, 777px 1951px #FFF, 1792px 1343px #FFF, 936px 1797px #FFF, 1776px 1844px #FFF, 658px 546px #FFF, 110px 624px #FFF, 1707px 253px #FFF, 715px 811px #FFF, 1733px 1179px #FFF, 720px 974px #FFF, 739px 882px #FFF, 555px 795px #FFF, 186px 906px #FFF, 809px 1945px #FFF, 1684px 966px #FFF, 667px 1767px #FFF, 1161px 1448px #FFF, 1344px 1728px #FFF, 1210px 421px #FFF, 202px 1835px #FFF, 1481px 707px #FFF, 1975px 1139px #FFF, 1244px 1955px #FFF, 213px 730px #FFF, 1648px 6px #FFF, 867px 1644px #FFF, 1284px 198px #FFF, 1121px 500px #FFF, 1051px 777px #FFF, 308px 1172px #FFF, 124px 1788px #FFF, 1185px 773px #FFF, 285px 1309px #FFF, 676px 1841px #FFF, 342px 1839px #FFF, 373px 1577px #FFF, 1754px 660px #FFF, 1644px 1527px #FFF, 407px 810px #FFF, 1035px 1407px #FFF, 135px 1507px #FFF, 935px 35px #FFF, 1994px 134px #FFF, 1079px 727px #FFF, 1628px 1329px #FFF, 199px 1148px #FFF, 1346px 997px #FFF, 13px 1745px #FFF, 883px 687px #FFF, 1310px 1027px #FFF, 904px 1545px #FFF, 508px 1958px #FFF, 1816px 1085px #FFF, 965px 1033px #FFF, 639px 362px #FFF, 278px 412px #FFF, 1599px 1319px #FFF, 1320px 114px #FFF, 1302px 1719px #FFF, 1129px 726px #FFF, 1024px 240px #FFF, 751px 766px #FFF, 1842px 1715px #FFF, 2px 1031px #FFF, 1527px 140px #FFF, 1536px 21px #FFF, 655px 890px #FFF, 1460px 478px #FFF, 439px 1478px #FFF, 1552px 979px #FFF, 389px 1668px #FFF, 363px 1299px #FFF, 1186px 518px #FFF, 168px 1277px #FFF, 630px 1596px #FFF, 1341px 1116px #FFF, 798px 1020px #FFF, 1774px 978px #FFF, 1724px 1796px #FFF, 1451px 1772px #FFF, 464px 1778px #FFF, 1647px 430px #FFF, 1347px 130px #FFF, 898px 1029px #FFF, 689px 505px #FFF, 1068px 867px #FFF, 618px 203px #FFF, 659px 1734px #FFF, 1862px 370px #FFF, 1692px 1825px #FFF, 305px 932px #FFF, 22px 316px #FFF, 609px 415px #FFF, 1585px 932px #FFF, 367px 1284px #FFF, 1607px 1647px #FFF, 201px 1948px #FFF, 237px 688px #FFF, 944px 1314px #FFF, 1142px 1696px #FFF, 1509px 368px #FFF, 424px 1004px #FFF, 675px 1778px #FFF, 334px 1987px #FFF, 267px 577px #FFF, 298px 473px #FFF, 788px 777px #FFF, 1582px 485px #FFF, 1335px 888px #FFF, 1665px 883px #FFF, 296px 1597px #FFF, 760px 1294px #FFF, 1987px 1363px #FFF, 753px 902px #FFF, 1048px 833px #FFF, 875px 437px #FFF, 447px 264px #FFF, 1435px 484px #FFF, 112px 707px #FFF, 520px 1032px #FFF, 1409px 1137px #FFF, 1529px 738px #FFF, 1503px 184px #FFF, 105px 927px #FFF, 1016px 883px #FFF, 1956px 1424px #FFF, 469px 874px #FFF, 643px 87px #FFF, 1185px 1903px #FFF, 978px 96px #FFF, 238px 1463px #FFF, 356px 1755px #FFF, 710px 335px #FFF, 489px 1930px #FFF, 1381px 524px #FFF, 797px 570px #FFF, 654px 408px #FFF, 13px 1608px #FFF, 213px 1730px #FFF, 503px 1667px #FFF, 1897px 166px #FFF, 1814px 6px #FFF, 94px 1804px #FFF, 1282px 996px #FFF, 662px 981px #FFF, 1484px 1121px #FFF, 950px 1192px #FFF, 752px 1218px #FFF, 415px 6px #FFF, 1563px 1318px #FFF, 633px 143px #FFF, 1745px 242px #FFF, 1129px 241px #FFF, 63px 1949px #FFF, 1466px 838px #FFF, 937px 1242px #FFF, 206px 605px #FFF, 1722px 1667px #FFF, 308px 771px #FFF, 1924px 1058px #FFF, 1970px 37px #FFF, 1410px 989px #FFF, 109px 497px #FFF, 889px 943px #FFF, 191px 1541px #FFF, 573px 1876px #FFF, 748px 1084px #FFF, 1995px 132px #FFF, 1741px 934px #FFF, 1776px 487px #FFF, 1870px 863px #FFF, 1864px 137px #FFF, 1210px 1396px #FFF, 613px 1663px #FFF, 108px 1197px #FFF, 1067px 1418px #FFF, 1172px 47px #FFF, 1616px 1031px #FFF, 763px 942px #FFF, 715px 314px #FFF, 1436px 1237px #FFF, 303px 319px #FFF, 992px 1800px #FFF, 586px 1359px #FFF, 1819px 1233px #FFF, 1946px 1958px #FFF, 373px 1557px #FFF, 1103px 1025px #FFF, 726px 991px #FFF, 304px 1938px #FFF, 410px 1146px #FFF, 373px 1290px #FFF, 142px 1690px #FFF, 155px 1030px #FFF, 1358px 1967px #FFF, 1045px 871px #FFF, 1772px 1024px #FFF, 1538px 26px #FFF, 671px 872px #FFF, 1144px 603px #FFF, 873px 85px #FFF, 1534px 1298px #FFF, 1409px 514px #FFF, 48px 834px #FFF, 1899px 719px #FFF, 74px 364px #FFF, 1714px 362px #FFF, 22px 1688px #FFF, 1582px 331px #FFF, 712px 823px #FFF, 84px 1864px #FFF, 1442px 64px #FFF, 1207px 610px #FFF, 1235px 1102px #FFF, 325px 402px #FFF, 913px 1494px #FFF, 1115px 1781px #FFF, 1248px 1609px #FFF, 802px 203px #FFF, 1633px 1311px #FFF, 899px 499px #FFF, 28px 1956px #FFF, 663px 1154px #FFF, 230px 1212px #FFF, 1028px 462px #FFF, 850px 1349px #FFF, 1726px 1190px #FFF, 1762px 1878px #FFF, 1547px 841px #FFF, 379px 1295px #FFF, 424px 1780px #FFF, 1388px 276px #FFF, 990px 1515px #FFF, 455px 938px #FFF, 516px 612px #FFF, 1308px 879px #FFF, 329px 165px #FFF, 1009px 1854px #FFF, 78px 893px #FFF, 1911px 612px #FFF, 875px 855px #FFF, 201px 1568px #FFF, 1975px 626px #FFF, 865px 1532px #FFF, 1981px 1154px #FFF, 958px 1919px #FFF, 833px 339px #FFF, 1711px 1837px #FFF, 670px 1911px #FFF, 1843px 838px #FFF, 1937px 1569px #FFF, 456px 1885px #FFF, 1082px 425px #FFF, 1692px 1430px #FFF, 1786px 733px #FFF, 613px 1261px #FFF, 457px 470px #FFF, 1616px 711px #FFF, 1414px 798px #FFF, 1370px 1945px #FFF, 904px 721px #FFF, 349px 379px #FFF, 1125px 633px #FFF, 1805px 1908px #FFF, 1743px 614px #FFF, 1162px 223px #FFF, 1608px 863px #FFF, 1838px 984px #FFF, 693px 962px #FFF, 1066px 1778px #FFF, 1750px 1062px #FFF, 333px 1187px #FFF, 853px 1650px #FFF, 1614px 67px #FFF, 1061px 1055px #FFF, 518px 47px #FFF, 965px 220px #FFF, 43px 1774px #FFF, 598px 1948px #FFF, 1843px 640px #FFF, 1564px 1515px #FFF, 1279px 1848px #FFF, 1795px 1856px #FFF, 1053px 1529px #FFF, 1612px 1461px #FFF, 1768px 1834px #FFF, 1367px 435px #FFF, 282px 1823px #FFF, 1649px 1974px #FFF, 1668px 479px #FFF, 634px 736px #FFF, 734px 746px #FFF, 179px 1517px #FFF, 174px 1531px #FFF, 1780px 1625px #FFF, 1866px 1719px #FFF, 624px 968px #FFF, 1379px 1244px #FFF, 1290px 454px #FFF, 1198px 1215px #FFF, 286px 808px #FFF, 1550px 1706px #FFF, 1381px 1000px #FFF, 1534px 15px #FFF, 1588px 1714px #FFF, 731px 207px #FFF, 1324px 930px #FFF, 825px 153px #FFF, 451px 1370px #FFF, 253px 1328px #FFF, 739px 1116px #FFF, 1630px 966px #FFF, 1320px 1526px #FFF, 532px 143px #FFF, 1393px 740px #FFF, 1980px 1025px #FFF, 671px 34px #FFF, 1057px 358px #FFF, 864px 729px #FFF, 1447px 1879px #FFF, 1211px 1999px #FFF, 1286px 653px #FFF, 1255px 491px #FFF, 1314px 312px #FFF, 958px 704px #FFF, 328px 584px #FFF, 1996px 1656px #FFF, 865px 882px #FFF, 791px 1935px #FFF, 72px 1182px #FFF, 1365px 858px #FFF, 207px 487px #FFF, 992px 170px #FFF, 1106px 1027px #FFF, 965px 481px #FFF, 1994px 1625px #FFF, 1465px 1470px #FFF, 1266px 1071px #FFF, 847px 1371px #FFF, 1853px 1342px #FFF, 1647px 1159px #FFF, 1554px 1366px #FFF, 1636px 153px #FFF, 318px 1955px #FFF, 1474px 129px #FFF, 148px 1255px #FFF, 1150px 1956px #FFF, 527px 1333px #FFF, 261px 997px #FFF, 671px 42px #FFF, 1668px 377px #FFF, 1955px 250px #FFF, 906px 290px #FFF, 612px 1749px #FFF, 1161px 1045px #FFF, 628px 122px #FFF, 1839px 367px #FFF, 1763px 75px #FFF, 433px 1770px #FFF, 1551px 533px #FFF, 1521px 1981px #FFF, 144px 1707px #FFF, 1232px 818px #FFF, 1905px 326px #FFF, 1710px 355px #FFF, 116px 685px #FFF, 414px 295px #FFF, 518px 23px #FFF, 1480px 562px #FFF, 959px 1021px #FFF, 1724px 1081px #FFF, 1922px 1104px #FFF, 453px 1311px #FFF, 79px 206px #FFF, 747px 1095px #FFF, 1742px 1832px #FFF, 440px 746px #FFF, 1281px 283px #FFF, 1785px 758px #FFF, 1693px 533px #FFF, 1188px 1664px #FFF, 1306px 1995px #FFF, 1363px 136px #FFF, 1838px 900px #FFF, 920px 1465px #FFF, 245px 752px #FFF, 1453px 306px #FFF, 411px 1342px #FFF, 925px 756px #FFF, 205px 353px #FFF, 706px 290px #FFF, 1966px 1298px #FFF, 221px 1731px #FFF, 1021px 1620px #FFF, 1923px 842px #FFF, 18px 726px #FFF, 232px 1302px #FFF, 1312px 448px #FFF, 1725px 1148px #FFF, 519px 378px #FFF, 1307px 721px #FFF, 1784px 620px #FFF, 235px 1326px #FFF, 157px 215px #FFF, 408px 574px #FFF, 291px 1377px #FFF, 2px 1795px #FFF, 659px 7px #FFF, 589px 889px #FFF, 140px 157px #FFF, 200px 1914px #FFF, 1782px 477px #FFF, 1764px 117px #FFF, 1749px 1584px #FFF, 1528px 303px #FFF, 1685px 1601px #FFF, 181px 1633px #FFF, 894px 123px #FFF, 747px 284px #FFF, 1784px 491px #FFF, 1625px 216px #FFF, 1410px 1221px #FFF, 1724px 1151px #FFF, 87px 1998px #FFF, 1662px 26px #FFF, 1619px 1652px #FFF, 1350px 360px #FFF, 1864px 1824px #FFF, 970px 1901px #FFF, 774px 823px #FFF, 1306px 116px #FFF, 1574px 1959px #FFF, 640px 366px #FFF, 234px 47px #FFF, 1176px 1833px #FFF, 939px 406px #FFF, 200px 1604px #FFF, 1077px 1830px #FFF, 1101px 776px #FFF, 441px 495px #FFF, 1252px 176px #FFF, 1842px 1567px #FFF, 618px 591px #FFF, 1760px 239px #FFF, 673px 94px #FFF, 1447px 1086px #FFF, 1272px 1761px #FFF, 309px 1629px #FFF, 1322px 1121px #FFF, 2000px 1116px #FFF, 1520px 232px #FFF, 565px 298px #FFF, 745px 1142px #FFF, 407px 13px #FFF, 486px 496px #FFF, 126px 1316px #FFF, 137px 1944px #FFF, 783px 1830px #FFF, 423px 377px #FFF, 1191px 284px #FFF, 264px 35px #FFF, 1851px 569px #FFF, 442px 1627px #FFF, 1401px 700px #FFF, 1822px 1528px #FFF, 1429px 910px #FFF, 724px 357px #FFF, 526px 1020px #FFF, 262px 307px #FFF, 688px 1903px #FFF, 239px 844px #FFF, 192px 867px #FFF, 1416px 209px #FFF, 1483px 960px #FFF, 1217px 104px #FFF, 858px 1137px #FFF, 1637px 1676px #FFF, 291px 1404px #FFF, 339px 328px #FFF, 445px 752px #FFF, 514px 1969px #FFF, 1533px 146px #FFF, 572px 535px #FFF, 1334px 1824px #FFF, 76px 98px #FFF, 457px 724px #FFF, 1887px 899px #FFF, 1353px 924px #FFF, 819px 936px #FFF, 1237px 1267px #FFF, 1158px 1876px #FFF, 276px 1744px #FFF, 1867px 229px #FFF, 1826px 1993px #FFF, 42px 1356px #FFF, 1975px 225px #FFF, 1256px 1121px #FFF, 1416px 1700px #FFF, 1415px 1350px #FFF, 1558px 278px #FFF, 817px 1899px #FFF, 664px 488px #FFF, 829px 97px #FFF, 1302px 1900px #FFF, 586px 1909px #FFF, 1328px 116px #FFF, 883px 1022px #FFF, 457px 1411px #FFF, 1427px 1391px #FFF, 175px 117px #FFF, 930px 302px #FFF, 1198px 703px #FFF, 460px 1519px #FFF, 1044px 473px #FFF, 1494px 1586px #FFF, 1550px 1921px #FFF, 21px 1834px #FFF, 819px 1798px #FFF, 1893px 549px #FFF, 1870px 798px #FFF, 1604px 1613px #FFF, 1183px 1222px #FFF, 1172px 1847px #FFF, 1926px 1498px #FFF, 1181px 115px #FFF, 79px 1224px #FFF, 95px 1171px #FFF, 1365px 1380px #FFF, 1261px 177px #FFF, 1210px 1937px #FFF, 1875px 1014px #FFF, 209px 406px #FFF, 44px 1949px #FFF, 415px 1912px #FFF, 1431px 1049px #FFF, 1234px 1253px #FFF, 757px 1771px #FFF, 1014px 865px #FFF, 1116px 1437px #FFF, 1564px 281px #FFF, 465px 1975px #FFF, 1708px 1075px #FFF, 164px 28px #FFF, 1209px 1910px #FFF, 912px 1164px #FFF, 191px 1676px #FFF, 1406px 1042px #FFF, 1306px 185px #FFF, 1607px 1743px #FFF, 1408px 433px #FFF, 1019px 942px #FFF, 200px 932px #FFF, 473px 661px #FFF, 774px 258px #FFF, 1790px 1324px #FFF, 164px 1971px #FFF, 1769px 1012px #FFF, 806px 1723px #FFF, 973px 137px #FFF, 1635px 1885px #FFF, 578px 1661px #FFF, 1805px 1479px #FFF, 1123px 1519px #FFF, 337px 1916px #FFF, 1856px 1476px #FFF, 980px 1403px #FFF, 1168px 1819px #FFF, 1319px 455px #FFF, 51px 1660px #FFF, 1862px 1651px #FFF, 1585px 1551px #FFF, 949px 1081px #FFF, 303px 722px #FFF, 1867px 23px #FFF, 1294px 708px #FFF, 101px 1286px #FFF, 770px 971px #FFF, 1152px 372px #FFF, 593px 533px #FFF, 471px 1428px #FFF, 1770px 369px #FFF, 1766px 42px #FFF, 503px 1476px #FFF, 983px 268px #FFF, 403px 1619px #FFF, 290px 833px #FFF, 1419px 1171px #FFF, 816px 1940px #FFF, 260px 1243px #FFF, 1577px 1084px #FFF, 1533px 714px #FFF, 1855px 1868px #FFF, 1904px 884px #FFF, 425px 1155px #FFF, 13px 1663px #FFF, 894px 648px #FFF, 1537px 1764px #FFF, 1248px 224px #FFF, 71px 551px #FFF, 609px 1078px #FFF, 237px 995px #FFF, 1085px 306px #FFF, 1827px 830px #FFF, 676px 644px #FFF, 311px 232px #FFF, 1691px 608px #FFF, 981px 1830px #FFF, 287px 1324px #FFF, 115px 1728px #FFF, 477px 496px #FFF, 1098px 1905px #FFF, 1516px 1594px #FFF, 351px 311px #FFF, 302px 1533px #FFF, 1493px 716px #FFF, 1813px 245px #FFF, 1709px 387px #FFF, 999px 1109px #FFF, 903px 1430px #FFF, 945px 560px #FFF, 1621px 1077px #FFF, 1178px 739px #FFF, 83px 435px #FFF, 1751px 1714px #FFF, 1770px 1603px #FFF, 1380px 1525px #FFF, 308px 971px #FFF, 1213px 1675px #FFF, 1190px 1279px #FFF, 224px 1595px #FFF, 100px 1032px #FFF, 642px 1272px #FFF, 1182px 1720px #FFF, 574px 152px #FFF, 118px 13px #FFF, 813px 656px #FFF, 727px 688px #FFF, 924px 1973px #FFF, 763px 1569px #FFF, 69px 1723px #FFF, 1965px 1837px #FFF, 165px 1047px #FFF, 122px 1772px #FFF, 724px 713px #FFF, 131px 1216px #FFF, 1089px 1390px #FFF, 911px 1386px #FFF, 861px 1683px #FFF, 1180px 856px #FFF; }
  .home-page .moar-stars {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 477px 105px #FFF, 622px 845px #FFF, 405px 1671px #FFF, 1948px 1435px #FFF, 662px 1313px #FFF, 224px 865px #FFF, 783px 341px #FFF, 36px 1703px #FFF, 524px 1770px #FFF, 1971px 296px #FFF, 437px 616px #FFF, 615px 25px #FFF, 1529px 1174px #FFF, 562px 811px #FFF, 225px 406px #FFF, 476px 490px #FFF, 682px 1826px #FFF, 1277px 54px #FFF, 933px 1544px #FFF, 1758px 620px #FFF, 563px 709px #FFF, 1252px 1154px #FFF, 974px 1378px #FFF, 180px 453px #FFF, 132px 1683px #FFF, 662px 1378px #FFF, 1185px 1301px #FFF, 1332px 1045px #FFF, 123px 978px #FFF, 106px 337px #FFF, 1581px 1772px #FFF, 1088px 285px #FFF, 1266px 299px #FFF, 1485px 1205px #FFF, 1319px 1869px #FFF, 830px 863px #FFF, 1404px 1204px #FFF, 670px 61px #FFF, 315px 646px #FFF, 518px 852px #FFF, 1396px 1082px #FFF, 1136px 1911px #FFF, 1797px 1692px #FFF, 607px 183px #FFF, 30px 166px #FFF, 1652px 926px #FFF, 14px 1887px #FFF, 999px 508px #FFF, 1130px 1139px #FFF, 1021px 1028px #FFF, 349px 116px #FFF, 1528px 1591px #FFF, 678px 1504px #FFF, 900px 1118px #FFF, 1849px 1141px #FFF, 1456px 60px #FFF, 1321px 1865px #FFF, 976px 775px #FFF, 691px 978px #FFF, 727px 1458px #FFF, 1565px 102px #FFF, 1953px 1776px #FFF, 123px 152px #FFF, 705px 511px #FFF, 97px 914px #FFF, 1626px 418px #FFF, 1472px 1691px #FFF, 992px 686px #FFF, 1133px 1915px #FFF, 104px 1774px #FFF, 1367px 239px #FFF, 1503px 1624px #FFF, 1334px 1934px #FFF, 505px 302px #FFF, 1836px 1453px #FFF, 1034px 1829px #FFF, 1315px 880px #FFF, 1838px 1153px #FFF, 1437px 477px #FFF, 694px 1179px #FFF, 1942px 1421px #FFF, 756px 376px #FFF, 1878px 434px #FFF, 1347px 539px #FFF, 66px 475px #FFF, 360px 12px #FFF, 1726px 626px #FFF, 1206px 209px #FFF, 508px 1041px #FFF, 1969px 314px #FFF, 891px 1159px #FFF, 13px 309px #FFF, 67px 228px #FFF, 1071px 1513px #FFF, 1394px 171px #FFF, 785px 750px #FFF, 1738px 117px #FFF, 99px 738px #FFF, 282px 330px #FFF, 1246px 1092px #FFF;
    animation: parallaxStar 150s linear infinite; }
    .home-page .moar-stars:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: 477px 105px #FFF, 622px 845px #FFF, 405px 1671px #FFF, 1948px 1435px #FFF, 662px 1313px #FFF, 224px 865px #FFF, 783px 341px #FFF, 36px 1703px #FFF, 524px 1770px #FFF, 1971px 296px #FFF, 437px 616px #FFF, 615px 25px #FFF, 1529px 1174px #FFF, 562px 811px #FFF, 225px 406px #FFF, 476px 490px #FFF, 682px 1826px #FFF, 1277px 54px #FFF, 933px 1544px #FFF, 1758px 620px #FFF, 563px 709px #FFF, 1252px 1154px #FFF, 974px 1378px #FFF, 180px 453px #FFF, 132px 1683px #FFF, 662px 1378px #FFF, 1185px 1301px #FFF, 1332px 1045px #FFF, 123px 978px #FFF, 106px 337px #FFF, 1581px 1772px #FFF, 1088px 285px #FFF, 1266px 299px #FFF, 1485px 1205px #FFF, 1319px 1869px #FFF, 830px 863px #FFF, 1404px 1204px #FFF, 670px 61px #FFF, 315px 646px #FFF, 518px 852px #FFF, 1396px 1082px #FFF, 1136px 1911px #FFF, 1797px 1692px #FFF, 607px 183px #FFF, 30px 166px #FFF, 1652px 926px #FFF, 14px 1887px #FFF, 999px 508px #FFF, 1130px 1139px #FFF, 1021px 1028px #FFF, 349px 116px #FFF, 1528px 1591px #FFF, 678px 1504px #FFF, 900px 1118px #FFF, 1849px 1141px #FFF, 1456px 60px #FFF, 1321px 1865px #FFF, 976px 775px #FFF, 691px 978px #FFF, 727px 1458px #FFF, 1565px 102px #FFF, 1953px 1776px #FFF, 123px 152px #FFF, 705px 511px #FFF, 97px 914px #FFF, 1626px 418px #FFF, 1472px 1691px #FFF, 992px 686px #FFF, 1133px 1915px #FFF, 104px 1774px #FFF, 1367px 239px #FFF, 1503px 1624px #FFF, 1334px 1934px #FFF, 505px 302px #FFF, 1836px 1453px #FFF, 1034px 1829px #FFF, 1315px 880px #FFF, 1838px 1153px #FFF, 1437px 477px #FFF, 694px 1179px #FFF, 1942px 1421px #FFF, 756px 376px #FFF, 1878px 434px #FFF, 1347px 539px #FFF, 66px 475px #FFF, 360px 12px #FFF, 1726px 626px #FFF, 1206px 209px #FFF, 508px 1041px #FFF, 1969px 314px #FFF, 891px 1159px #FFF, 13px 309px #FFF, 67px 228px #FFF, 1071px 1513px #FFF, 1394px 171px #FFF, 785px 750px #FFF, 1738px 117px #FFF, 99px 738px #FFF, 282px 330px #FFF, 1246px 1092px #FFF; }
  .home-page .title {
    margin-top: 1rem;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    color: white;
    text-transform: uppercase;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .home-page .social-icons {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 9; }
    .home-page .social-icons button {
      border-radius: 0 !important; }

@keyframes parallaxStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

.login-page {
  height: 100vh;
  background-image: url("./../../assets/images/login_bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .login-page a {
    color: #6435c9 !important; }
  .login-page .grid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0; }
  .login-page .logo-seg {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9); }
  .login-page .form-seg {
    background-color: rgba(247, 206, 217, 0.4); }

.register-page {
  height: 100vh;
  background-image: url("./../../assets/images/signup_bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .register-page a {
    color: #6435c9 !important; }
  .register-page .grid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0; }
  .register-page .logo-seg {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9); }
  .register-page .form-seg {
    background-color: rgba(104, 181, 157, 0.4); }

.password-reset-page {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .password-reset-page .grid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0; }

.error-page {
  background-color: #222;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  width: 100vw; }
  .error-page .content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .error-page .content h1 {
      font-size: 12rem; }
    .error-page .content h2 {
      font-size: 2em; }
    .error-page .content a {
      text-transform: uppercase; }

.profile-page #application-canvas {
  display: block !important; }

.holospace-page #application-canvas {
  display: block !important; }

.message-form i.icon {
  cursor: pointer;
  margin: 0 !important; }

.top-navigation {
  padding: 2em 2.5em; }
  .top-navigation .text {
    font-family: "Oswald", sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #a2aab2;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    vertical-align: middle; }
  .top-navigation .menu-span.text {
    margin-left: 0.85em; }
  .top-navigation .menu-btn .icon,
  .top-navigation .menu-btn .text {
    display: inline-block;
    vertical-align: middle; }
  .top-navigation .menu-btn .line {
    background-color: #a2aab2;
    height: 3px;
    width: 45px;
    margin-bottom: 7px;
    transition: all 500ms ease-in-out; }
  .top-navigation .menu-btn .line-center {
    position: relative;
    margin-left: -15px;
    transition: all 500ms ease-in-out; }
    .top-navigation .menu-btn .line-center:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #a2aab2;
      transition: all 500ms ease-in-out;
      z-index: 9; }
  .top-navigation .menu-btn:hover .line {
    margin-left: -5px; }
  .top-navigation .menu-btn.open .icon .line-center {
    margin-left: -15px;
    transform: rotate(45deg);
    height: 3px;
    width: 45px; }
    .top-navigation .menu-btn.open .icon .line-center::after {
      transform: rotate(-90deg); }
  .top-navigation .menu-btn.open .icon .line-outer {
    display: none; }
  .top-navigation .menu-btn.open.btn-toggle-menu .text {
    display: none; }
  .top-navigation .search-btn .circle {
    position: relative;
    background-color: transparent;
    height: 23px;
    width: 23px;
    border: 3.5px solid #a2aab2;
    border-radius: 100%;
    transition: all 500ms ease-in-out;
    z-index: 1; }
  .top-navigation .search-btn .handle {
    display: block;
    position: absolute;
    border-width: 0;
    background-color: transparent;
    bottom: 0;
    right: 36%;
    height: 36px;
    width: 3.5px;
    transform: rotate(-45deg); }
    .top-navigation .search-btn .handle:after {
      content: "";
      display: block;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, #a2aab2 75%);
      height: 36px;
      width: 3.5px;
      transition: all 500ms ease-in-out; }
  .top-navigation .search-btn.open .circle {
    transform: scale(0.03);
    background: #a2aab2;
    border-color: #a2aab2; }
  .top-navigation .search-btn.open .handle {
    background-color: #a2aab2;
    transition: all 500ms ease-in-out; }
    .top-navigation .search-btn.open .handle:after {
      background-color: #a2aab2;
      transform-origin: center;
      transform: rotate(90deg); }
