@import url(https://fonts.googleapis.com/css?family=Oswald:700);
*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  height: 100%;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

body > #root > .App {
  color: #fdfdfe;
  min-height: 100%;
  overflow: hidden;
  background-color: transparent !important; }

.background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient(90deg, rgba(255, 77, 77, 0.6) 10%, rgba(255, 129, 131, 0.6)), url("../images/flat-mountains-1080p.jpg") no-repeat;
  background-position: 50% 50%; }

.centered {
  text-align: center; }

.a-link {
  cursor: pointer; }

.banner {
  margin-bottom: 0 !important;
  border-radius: 0 !important; }

.menu i.icon {
  cursor: pointer;
  margin: 0;
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 4px; }
  .menu i.icon:hover {
    background-color: #111; }

.c4-collapsed .no-display {
  display: none !important; }

.user-header {
  padding: 12px 24px;
  bottom: 0;
  width: 240px;
  position: fixed; }
  .user-header .avatar {
    cursor: pointer;
    width: 32px !important;
    height: 32px !important;
    line-height: 32px;
    text-align: center;
    color: #fff !important; }
    .user-header .avatar:hover {
      opacity: 0.8; }
  .user-header .text {
    margin: 0 0.4em;
    font-size: 16px;
    display: inline-block;
    max-height: 32px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .user-header .text .pin {
      color: #646464;
      font-size: 10px;
      display: block;
      text-align: left !important; }
  .user-header .menu {
    float: right;
    line-height: 32px; }
    .user-header .menu i {
      font-size: 18px;
      margin-left: 5px;
      cursor: pointer;
      transition: color 0.3s;
      vertical-align: middle; }

.user {
  position: relative;
  display: inline-block;
  max-height: 32px;
  vertical-align: middle; }
  .user .status {
    position: absolute;
    width: 0.85em;
    height: 0.85em;
    border-radius: 100%;
    right: 0;
    bottom: 0; }
    .user .status.online--true.Show {
      background-color: #00b5ad !important;
      border: 2px solid #00e8de; }
    .user .status.online--true.Away {
      background-color: #fbbd08 !important;
      border: 2px solid #fcca3a; }
    .user .status.online--true.Busy {
      background-color: #db2828 !important;
      border: 2px solid #e25454; }
    .user .status.online--false.Away, .user .status.online--false.Busy, .user .status.online--false.Show {
      background-color: #767676 !important;
      border: 2px solid #909090; }

.user-card {
  min-width: 350px; }
  .user-card .header {
    position: relative;
    margin-top: 3em; }
    .user-card .header .user {
      min-height: 58px !important;
      position: absolute;
      top: 5px;
      left: 5px; }
    .user-card .header .avatar {
      cursor: pointer;
      width: 64px !important;
      height: 64px !important;
      line-height: 64px;
      text-align: center;
      color: #fff !important; }
    .user-card .header .text {
      margin-top: 0.5em;
      margin-left: 4.5em; }
      .user-card .header .text small {
        display: block; }
      .user-card .header .text .pin {
        color: #666;
        font-size: 12px; }

.main-layout {
  display: grid;
  grid-template-columns: 80px 1fr;
  height: 100vh;
  overflow: hidden;
  /*
	___ _____ _________ ______
	|  |_c2t_|___c3t___|     |
	|  |     |         |     |
	|c1| c2m |   c3m   | c4t |
	|  |     |         |_____|
	|__|_____|_________|_c4b_|	
	*/
  /*
	___ _______________ ______
	|  |______c3t______|     |
	|  |               |     |
	|c1|      c3m      | c4t | 
	|  |               |_____|
	|__|_______________|_c4b_|
	*/
  /*
	___ _____ ____________ ___
	|  |_c2t_|_____c3t____|  |
	|  |     |            |c |
	|c1| c2m |     c3m    |4t|
	|  |     |            |__|
	|__|_____|____________|4b|	
	*/ }
  .main-layout .grid-row {
    height: 100vh; }
  .main-layout .grid-row.full {
    display: grid;
    grid-template-columns: 240px 1fr 240px; }
  .main-layout .grid-row.c2-collapsed {
    display: grid;
    grid-template-columns: 0fr 1fr 240px;
    /*
		___ __________________ ___
		|  |________c3t_______|  |
		|  |                  |c |
		|c1|        c3m       |4t| 
		|  |                  |__|
		|__|__________________|4b|			
		*/ }
    .main-layout .grid-row.c2-collapsed.c4-collapsed {
      display: grid;
      grid-template-columns: 0fr 1fr 80px; }
  .main-layout .grid-row.c4-collapsed {
    display: grid;
    grid-template-columns: 240px 1fr 80px; }
  .main-layout .col,
  .main-layout .row {
    color: #fdfdfe;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow: hidden; }
  .main-layout .stretch {
    flex: 1; }
  .main-layout .c1 {
    background-color: #111;
    background-color: rgba(17, 17, 17, 0.8) !important; }
  .main-layout .c2m,
  .main-layout .c2t {
    background-color: #303030; }
  .main-layout .c2m {
    background-color: rgba(48, 48, 48, 0.8) !important; }
  .main-layout .c3m,
  .main-layout .c3t {
    background-color: #424242; }
  .main-layout .c3m {
    background-color: rgba(66, 66, 66, 0.8) !important; }
  .main-layout .c4b,
  .main-layout .c4t {
    background-color: #212121; }
  .main-layout .c4t {
    background-color: rgba(33, 33, 33, 0.8) !important; }

.server-header {
  height: 56px;
  line-height: 56px;
  padding: 0 24px; }
  .server-header .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .server-header .menu {
    float: right; }
    .server-header .menu i {
      font-size: 18px;
      margin-left: 5px;
      cursor: pointer;
      transition: color 0.3s; }

.server-list {
  flex: 1 1 auto;
  height: 0;
  overflow-y: auto; }
  .server-list .server.current .avatar {
    border-radius: 15% !important; }
  .server-list .avatar {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px;
    text-align: center;
    color: #fff !important;
    cursor: pointer; }
    .server-list .avatar:hover {
      border-radius: 15%; }

.server-sidebar .btn {
  margin: 0.8em 0; }

.member-sidebar .header {
  line-height: 56px; }

.member-sidebar .trigger {
  font-size: 18px;
  margin: 0 24px !important;
  cursor: pointer;
  transition: color 0.3s; }
  .member-sidebar .trigger:hover {
    color: #6435c9; }

.member-list {
  flex: 1 1 auto;
  height: 0;
  overflow-y: auto; }
  .member-list .avatar {
    cursor: pointer;
    width: 32px !important;
    height: 32px !important;
    line-height: 32px;
    text-align: center;
    color: #fff !important; }
  .member-list .member {
    margin: 0.5em auto;
    background-color: transparent;
    transition: all 0.5s ease-out; }
    .member-list .member:hover {
      background: black;
      /* For browsers that do not support gradients */
      background: linear-gradient(to right, black, transparent); }
    .member-list .member .text {
      margin-left: 0.4em;
      margin-right: 0.2em;
      vertical-align: middle; }

.c4-collapsed .member i.icon.sun {
  position: absolute; }

.channel-header {
  padding: 0 50px;
  min-height: 56px !important;
  max-height: 56px !important;
  line-height: 56px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .channel-header .trigger {
    display: unset;
    font-size: 18px;
    margin: 0 24px !important;
    cursor: pointer;
    transition: color 0.3s; }
    .channel-header .trigger:hover {
      color: #6435c9; }
  .channel-header .current-channel .name {
    font-size: 18px; }
    .channel-header .current-channel .name i {
      display: unset;
      font-size: 16px;
      color: #999;
      margin-right: 5px; }
  .channel-header .current-channel .topic {
    border-left: 1px solid #999;
    color: #999;
    padding-left: 7px;
    margin-left: 7px; }
  .channel-header .menu {
    float: right; }
    .channel-header .menu i {
      font-size: 18px;
      margin-right: 5px;
      cursor: pointer;
      transition: color 0.3s; }

.channel-list {
  padding: 1em 0;
  flex: 1 1 auto;
  height: 0;
  overflow-y: auto; }
  .channel-list .title {
    color: #fff !important;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 26px; }
    .channel-list .title .add-channel .menu {
      float: right; }
  .channel-list .content {
    color: #999; }
  .channel-list i {
    color: #fff; }
  .channel-list .menu i {
    font-size: 18px;
    margin-right: 24px;
    cursor: pointer;
    transition: color 0.3s; }

.channel-item {
  color: #999;
  border-left: 4px solid transparent;
  height: 40px;
  line-height: 40px;
  position: relative; }
  .channel-item .channel-item-header {
    padding-left: 1.2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .channel-item .channel-item-header .hashtag {
      margin-right: 0.5em;
      font-size: 11px; }
  .channel-item i,
  .channel-item a {
    color: #999 !important; }
  .channel-item .menu {
    visibility: hidden !important; }
  .channel-item:hover, .channel-item.current {
    border-left: 4px solid #6435c9;
    background: #424242;
    /* For browsers that do not support gradients */
    background: linear-gradient(to right, #424242, rgba(66, 66, 66, 0)); }
    .channel-item:hover i,
    .channel-item:hover a,
    .channel-item:hover .text, .channel-item.current i,
    .channel-item.current a,
    .channel-item.current .text {
      color: white !important; }
    .channel-item:hover .menu, .channel-item.current .menu {
      visibility: visible !important;
      position: relative;
      z-index: 3; }
  .channel-item.current:after {
    content: "";
    display: block;
    border: 20px solid transparent;
    border-right-color: rgba(200, 200, 200, 0.1);
    position: absolute;
    bottom: 0;
    right: 0; }

.channel-accordion-item {
  color: #999;
  margin-top: 0 !important; }
  .channel-accordion-item i,
  .channel-accordion-item a {
    color: #999 !important; }
  .channel-accordion-item .menu {
    visibility: hidden !important; }
  .channel-accordion-item .title {
    padding: 0 !important;
    line-height: 40px !important;
    height: 40px;
    border-left: 4px solid transparent;
    padding-left: 0.9em !important;
    position: relative; }
    .channel-accordion-item .title .dropdown.icon {
      vertical-align: middle !important; }
    .channel-accordion-item .title .channel-item-header {
      cursor: pointer; }
      .channel-accordion-item .title .channel-item-header .text,
      .channel-accordion-item .title .channel-item-header a {
        text-transform: none;
        font-weight: normal;
        color: #999; }
      .channel-accordion-item .title .channel-item-header .menu {
        float: right; }
    .channel-accordion-item .title:hover {
      border-left: 4px solid #6435c9;
      background: #424242;
      /* For browsers that do not support gradients */
      background: linear-gradient(to right, #424242, rgba(66, 66, 66, 0)); }
      .channel-accordion-item .title:hover i,
      .channel-accordion-item .title:hover a,
      .channel-accordion-item .title:hover .text {
        color: white !important; }
      .channel-accordion-item .title:hover .menu {
        visibility: visible !important;
        position: relative;
        z-index: 3; }

.channel-accordion-item.current .title {
  border-left: 4px solid #6435c9;
  background: #424242;
  /* For browsers that do not support gradients */
  background: linear-gradient(to right, #424242, rgba(66, 66, 66, 0)); }
  .channel-accordion-item.current .title i,
  .channel-accordion-item.current .title a,
  .channel-accordion-item.current .title .text {
    color: white !important; }
  .channel-accordion-item.current .title .menu {
    visibility: visible !important;
    position: relative;
    z-index: 3; }
  .channel-accordion-item.current .title:after {
    content: "";
    display: block;
    border: 20px solid transparent;
    border-right-color: rgba(200, 200, 200, 0.1);
    position: absolute;
    bottom: 0;
    right: 0; }

.channel-presence {
  padding-left: 2.7em; }
  .channel-presence .avatar {
    width: 24px !important;
    height: 24px !important;
    line-height: 24px;
    text-align: center;
    color: #fff !important; }
  .channel-presence .member {
    margin: 0.5em auto;
    color: #999; }
    .channel-presence .member:hover {
      color: #fff; }
    .channel-presence .member .text {
      vertical-align: middle; }

.chat-room {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.chat-history {
  display: flex;
  flex: 1 1 auto;
  height: 0;
  overflow-y: scroll;
  padding: 24px 14.5px 24px 24px; }
  .chat-history .ui.divider {
    margin: 0 !important; }
  .chat-history .avatar {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px;
    text-align: center;
    color: #fff !important; }

.chat-input {
  padding-top: 18px;
  padding-bottom: 30px;
  border-top: 1px solid rgba(155, 155, 155, 0.7);
  margin: 0 24px;
  position: relative; }

.chat-message {
  margin: 1em 0; }
  .chat-message .avatar {
    float: left; }
  .chat-message .content {
    margin-left: 3.6em; }
    .chat-message .content .message-blocks .block .actions {
      cursor: pointer;
      margin-left: 0.5em;
      visibility: hidden;
      text-decoration: none; }
    .chat-message .content .message-blocks .block .edited {
      margin-left: 0.5em;
      color: #999;
      font-style: italic; }
    .chat-message .content .message-blocks .block:hover {
      text-decoration: underline; }
      .chat-message .content .message-blocks .block:hover .actions {
        visibility: visible; }
    .chat-message .content .header {
      font-size: 16px;
      color: #fff;
      font-weight: bold; }
    .chat-message .content .date {
      color: #ddd;
      margin-left: 0.5em; }
    .chat-message .content .description {
      margin-top: 0.4em; }

.is-typing-list {
  color: #999;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic; }

.home-page {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden; }
  .home-page .some-stars {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1511px 262px #FFF, 1231px 1720px #FFF, 1991px 1638px #FFF, 109px 1848px #FFF, 709px 855px #FFF, 1058px 918px #FFF, 995px 1783px #FFF, 1405px 509px #FFF, 1297px 1701px #FFF, 284px 229px #FFF, 245px 856px #FFF, 1692px 108px #FFF, 876px 789px #FFF, 498px 638px #FFF, 1323px 215px #FFF, 387px 297px #FFF, 483px 377px #FFF, 1411px 1661px #FFF, 1447px 1193px #FFF, 1872px 424px #FFF, 229px 1298px #FFF, 34px 42px #FFF, 1417px 1849px #FFF, 931px 644px #FFF, 907px 430px #FFF, 292px 1549px #FFF, 1225px 601px #FFF, 1353px 1278px #FFF, 1122px 496px #FFF, 1983px 1679px #FFF, 1312px 443px #FFF, 312px 986px #FFF, 557px 617px #FFF, 362px 1390px #FFF, 277px 1218px #FFF, 1479px 532px #FFF, 714px 1267px #FFF, 1005px 1919px #FFF, 250px 410px #FFF, 1465px 612px #FFF, 1266px 1359px #FFF, 799px 938px #FFF, 1923px 1931px #FFF, 850px 3px #FFF, 1297px 880px #FFF, 388px 1279px #FFF, 913px 1023px #FFF, 1026px 1982px #FFF, 1901px 657px #FFF, 724px 1529px #FFF, 433px 1921px #FFF, 489px 1033px #FFF, 1253px 1376px #FFF, 706px 225px #FFF, 1362px 2px #FFF, 1501px 1142px #FFF, 76px 210px #FFF, 964px 1024px #FFF, 1020px 1029px #FFF, 786px 1888px #FFF, 768px 1724px #FFF, 1309px 1171px #FFF, 439px 1130px #FFF, 429px 475px #FFF, 112px 497px #FFF, 164px 1728px #FFF, 1780px 1642px #FFF, 1905px 1155px #FFF, 1425px 1743px #FFF, 536px 698px #FFF, 1187px 1167px #FFF, 1180px 1102px #FFF, 1193px 367px #FFF, 355px 517px #FFF, 1064px 1381px #FFF, 1023px 981px #FFF, 357px 1348px #FFF, 686px 865px #FFF, 525px 1587px #FFF, 1200px 1614px #FFF, 1604px 587px #FFF, 1247px 703px #FFF, 1176px 1028px #FFF, 367px 100px #FFF, 1923px 1349px #FFF, 226px 1866px #FFF, 547px 1321px #FFF, 1931px 1014px #FFF, 832px 1947px #FFF, 1485px 1722px #FFF, 1783px 570px #FFF, 1811px 1516px #FFF, 1964px 1742px #FFF, 897px 1252px #FFF, 1607px 1427px #FFF, 1875px 1992px #FFF, 514px 42px #FFF, 1321px 1431px #FFF, 1756px 1973px #FFF, 412px 673px #FFF, 1088px 1604px #FFF, 1107px 1411px #FFF, 1032px 1649px #FFF, 1046px 622px #FFF, 1417px 228px #FFF, 797px 253px #FFF, 1361px 130px #FFF, 565px 1588px #FFF, 1396px 608px #FFF, 1866px 1334px #FFF, 369px 1191px #FFF, 753px 128px #FFF, 187px 1758px #FFF, 1486px 756px #FFF, 1410px 1394px #FFF, 339px 155px #FFF, 1026px 109px #FFF, 372px 586px #FFF, 1977px 1146px #FFF, 124px 250px #FFF, 414px 1385px #FFF, 1314px 1885px #FFF, 1480px 1326px #FFF, 645px 439px #FFF, 1005px 850px #FFF, 749px 1109px #FFF, 1861px 494px #FFF, 1347px 697px #FFF, 1487px 1782px #FFF, 1399px 1244px #FFF, 34px 52px #FFF, 391px 468px #FFF, 276px 870px #FFF, 276px 1833px #FFF, 1600px 1253px #FFF, 908px 1196px #FFF, 654px 393px #FFF, 1222px 520px #FFF, 1482px 1378px #FFF, 1206px 529px #FFF, 592px 1896px #FFF, 95px 1882px #FFF, 1129px 370px #FFF, 355px 977px #FFF, 502px 169px #FFF, 216px 1538px #FFF, 1223px 721px #FFF, 1877px 40px #FFF, 335px 1166px #FFF, 1812px 971px #FFF, 1524px 1649px #FFF, 248px 1649px #FFF, 1057px 568px #FFF, 407px 1304px #FFF, 1218px 689px #FFF, 1453px 241px #FFF, 912px 1981px #FFF, 658px 810px #FFF, 1553px 1286px #FFF, 1919px 1054px #FFF, 1715px 130px #FFF, 1986px 1845px #FFF, 943px 149px #FFF, 132px 678px #FFF, 1244px 1407px #FFF, 37px 1738px #FFF, 1583px 1104px #FFF, 1469px 1450px #FFF, 761px 1647px #FFF, 984px 521px #FFF, 471px 894px #FFF, 1035px 1214px #FFF, 467px 1479px #FFF, 1536px 1526px #FFF, 440px 1229px #FFF, 1848px 482px #FFF, 1646px 97px #FFF, 1047px 598px #FFF, 1291px 1104px #FFF, 1852px 911px #FFF, 1843px 383px #FFF, 367px 1849px #FFF, 1823px 1138px #FFF, 1471px 1878px #FFF, 911px 625px #FFF, 1455px 491px #FFF, 1231px 887px #FFF, 1050px 1250px #FFF, 125px 973px #FFF, 1306px 1130px #FFF, 1377px 50px #FFF, 836px 1695px #FFF, 1643px 1998px #FFF, 1818px 67px #FFF, 1848px 378px #FFF, 1215px 1624px #FFF, 1381px 315px #FFF, 1612px 1400px #FFF, 97px 1963px #FFF, 350px 817px #FFF;
    animation: parallaxStar 100s linear infinite; }
    .home-page .some-stars:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 1511px 262px #FFF, 1231px 1720px #FFF, 1991px 1638px #FFF, 109px 1848px #FFF, 709px 855px #FFF, 1058px 918px #FFF, 995px 1783px #FFF, 1405px 509px #FFF, 1297px 1701px #FFF, 284px 229px #FFF, 245px 856px #FFF, 1692px 108px #FFF, 876px 789px #FFF, 498px 638px #FFF, 1323px 215px #FFF, 387px 297px #FFF, 483px 377px #FFF, 1411px 1661px #FFF, 1447px 1193px #FFF, 1872px 424px #FFF, 229px 1298px #FFF, 34px 42px #FFF, 1417px 1849px #FFF, 931px 644px #FFF, 907px 430px #FFF, 292px 1549px #FFF, 1225px 601px #FFF, 1353px 1278px #FFF, 1122px 496px #FFF, 1983px 1679px #FFF, 1312px 443px #FFF, 312px 986px #FFF, 557px 617px #FFF, 362px 1390px #FFF, 277px 1218px #FFF, 1479px 532px #FFF, 714px 1267px #FFF, 1005px 1919px #FFF, 250px 410px #FFF, 1465px 612px #FFF, 1266px 1359px #FFF, 799px 938px #FFF, 1923px 1931px #FFF, 850px 3px #FFF, 1297px 880px #FFF, 388px 1279px #FFF, 913px 1023px #FFF, 1026px 1982px #FFF, 1901px 657px #FFF, 724px 1529px #FFF, 433px 1921px #FFF, 489px 1033px #FFF, 1253px 1376px #FFF, 706px 225px #FFF, 1362px 2px #FFF, 1501px 1142px #FFF, 76px 210px #FFF, 964px 1024px #FFF, 1020px 1029px #FFF, 786px 1888px #FFF, 768px 1724px #FFF, 1309px 1171px #FFF, 439px 1130px #FFF, 429px 475px #FFF, 112px 497px #FFF, 164px 1728px #FFF, 1780px 1642px #FFF, 1905px 1155px #FFF, 1425px 1743px #FFF, 536px 698px #FFF, 1187px 1167px #FFF, 1180px 1102px #FFF, 1193px 367px #FFF, 355px 517px #FFF, 1064px 1381px #FFF, 1023px 981px #FFF, 357px 1348px #FFF, 686px 865px #FFF, 525px 1587px #FFF, 1200px 1614px #FFF, 1604px 587px #FFF, 1247px 703px #FFF, 1176px 1028px #FFF, 367px 100px #FFF, 1923px 1349px #FFF, 226px 1866px #FFF, 547px 1321px #FFF, 1931px 1014px #FFF, 832px 1947px #FFF, 1485px 1722px #FFF, 1783px 570px #FFF, 1811px 1516px #FFF, 1964px 1742px #FFF, 897px 1252px #FFF, 1607px 1427px #FFF, 1875px 1992px #FFF, 514px 42px #FFF, 1321px 1431px #FFF, 1756px 1973px #FFF, 412px 673px #FFF, 1088px 1604px #FFF, 1107px 1411px #FFF, 1032px 1649px #FFF, 1046px 622px #FFF, 1417px 228px #FFF, 797px 253px #FFF, 1361px 130px #FFF, 565px 1588px #FFF, 1396px 608px #FFF, 1866px 1334px #FFF, 369px 1191px #FFF, 753px 128px #FFF, 187px 1758px #FFF, 1486px 756px #FFF, 1410px 1394px #FFF, 339px 155px #FFF, 1026px 109px #FFF, 372px 586px #FFF, 1977px 1146px #FFF, 124px 250px #FFF, 414px 1385px #FFF, 1314px 1885px #FFF, 1480px 1326px #FFF, 645px 439px #FFF, 1005px 850px #FFF, 749px 1109px #FFF, 1861px 494px #FFF, 1347px 697px #FFF, 1487px 1782px #FFF, 1399px 1244px #FFF, 34px 52px #FFF, 391px 468px #FFF, 276px 870px #FFF, 276px 1833px #FFF, 1600px 1253px #FFF, 908px 1196px #FFF, 654px 393px #FFF, 1222px 520px #FFF, 1482px 1378px #FFF, 1206px 529px #FFF, 592px 1896px #FFF, 95px 1882px #FFF, 1129px 370px #FFF, 355px 977px #FFF, 502px 169px #FFF, 216px 1538px #FFF, 1223px 721px #FFF, 1877px 40px #FFF, 335px 1166px #FFF, 1812px 971px #FFF, 1524px 1649px #FFF, 248px 1649px #FFF, 1057px 568px #FFF, 407px 1304px #FFF, 1218px 689px #FFF, 1453px 241px #FFF, 912px 1981px #FFF, 658px 810px #FFF, 1553px 1286px #FFF, 1919px 1054px #FFF, 1715px 130px #FFF, 1986px 1845px #FFF, 943px 149px #FFF, 132px 678px #FFF, 1244px 1407px #FFF, 37px 1738px #FFF, 1583px 1104px #FFF, 1469px 1450px #FFF, 761px 1647px #FFF, 984px 521px #FFF, 471px 894px #FFF, 1035px 1214px #FFF, 467px 1479px #FFF, 1536px 1526px #FFF, 440px 1229px #FFF, 1848px 482px #FFF, 1646px 97px #FFF, 1047px 598px #FFF, 1291px 1104px #FFF, 1852px 911px #FFF, 1843px 383px #FFF, 367px 1849px #FFF, 1823px 1138px #FFF, 1471px 1878px #FFF, 911px 625px #FFF, 1455px 491px #FFF, 1231px 887px #FFF, 1050px 1250px #FFF, 125px 973px #FFF, 1306px 1130px #FFF, 1377px 50px #FFF, 836px 1695px #FFF, 1643px 1998px #FFF, 1818px 67px #FFF, 1848px 378px #FFF, 1215px 1624px #FFF, 1381px 315px #FFF, 1612px 1400px #FFF, 97px 1963px #FFF, 350px 817px #FFF; }
  .home-page .stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1318px 702px #FFF, 1046px 925px #FFF, 437px 477px #FFF, 1812px 1895px #FFF, 537px 964px #FFF, 1384px 703px #FFF, 1750px 1846px #FFF, 1056px 1865px #FFF, 1931px 462px #FFF, 1490px 1px #FFF, 791px 65px #FFF, 728px 1787px #FFF, 1093px 1376px #FFF, 275px 939px #FFF, 985px 349px #FFF, 599px 1431px #FFF, 1314px 716px #FFF, 1659px 1507px #FFF, 116px 1215px #FFF, 126px 1412px #FFF, 308px 962px #FFF, 1070px 796px #FFF, 466px 1522px #FFF, 286px 1402px #FFF, 1235px 1976px #FFF, 1057px 1819px #FFF, 1554px 101px #FFF, 56px 430px #FFF, 1307px 1629px #FFF, 856px 86px #FFF, 438px 1191px #FFF, 201px 1795px #FFF, 38px 27px #FFF, 550px 1967px #FFF, 1307px 382px #FFF, 1462px 128px #FFF, 144px 1394px #FFF, 558px 523px #FFF, 275px 452px #FFF, 21px 1707px #FFF, 909px 579px #FFF, 157px 1355px #FFF, 1972px 112px #FFF, 1517px 1206px #FFF, 986px 1426px #FFF, 1061px 37px #FFF, 1125px 620px #FFF, 571px 878px #FFF, 1817px 754px #FFF, 641px 1112px #FFF, 1366px 898px #FFF, 725px 1886px #FFF, 1660px 501px #FFF, 584px 196px #FFF, 181px 1694px #FFF, 674px 934px #FFF, 1473px 1702px #FFF, 260px 595px #FFF, 1810px 768px #FFF, 1203px 806px #FFF, 1265px 1202px #FFF, 1461px 80px #FFF, 818px 1908px #FFF, 731px 23px #FFF, 205px 1175px #FFF, 948px 565px #FFF, 748px 351px #FFF, 1032px 1949px #FFF, 517px 998px #FFF, 1328px 1384px #FFF, 789px 281px #FFF, 902px 435px #FFF, 483px 1006px #FFF, 948px 1388px #FFF, 1135px 1629px #FFF, 1382px 719px #FFF, 1182px 596px #FFF, 1665px 153px #FFF, 209px 407px #FFF, 1784px 104px #FFF, 1771px 1602px #FFF, 1902px 1626px #FFF, 1391px 1194px #FFF, 1251px 57px #FFF, 1895px 785px #FFF, 1966px 1022px #FFF, 1726px 379px #FFF, 568px 676px #FFF, 1598px 1020px #FFF, 506px 1631px #FFF, 397px 98px #FFF, 1836px 936px #FFF, 487px 1764px #FFF, 633px 695px #FFF, 976px 169px #FFF, 1477px 1028px #FFF, 615px 515px #FFF, 1840px 1257px #FFF, 183px 341px #FFF, 210px 299px #FFF, 688px 1251px #FFF, 53px 1031px #FFF, 1296px 624px #FFF, 1128px 1734px #FFF, 565px 1640px #FFF, 151px 1502px #FFF, 571px 1766px #FFF, 1382px 1531px #FFF, 1032px 1500px #FFF, 425px 1225px #FFF, 318px 1538px #FFF, 1110px 1904px #FFF, 723px 339px #FFF, 62px 1153px #FFF, 380px 142px #FFF, 1116px 737px #FFF, 357px 1627px #FFF, 377px 1753px #FFF, 164px 1791px #FFF, 1903px 1432px #FFF, 650px 1688px #FFF, 573px 22px #FFF, 556px 1992px #FFF, 802px 346px #FFF, 455px 775px #FFF, 624px 1620px #FFF, 707px 1816px #FFF, 1830px 1463px #FFF, 723px 1877px #FFF, 653px 1027px #FFF, 734px 962px #FFF, 1258px 320px #FFF, 415px 1812px #FFF, 1068px 1999px #FFF, 1644px 300px #FFF, 529px 1606px #FFF, 996px 1014px #FFF, 1537px 300px #FFF, 1977px 405px #FFF, 1850px 1286px #FFF, 482px 105px #FFF, 466px 819px #FFF, 944px 545px #FFF, 696px 1164px #FFF, 1374px 686px #FFF, 1758px 1991px #FFF, 801px 133px #FFF, 888px 484px #FFF, 609px 632px #FFF, 919px 254px #FFF, 1849px 1049px #FFF, 867px 1316px #FFF, 716px 1365px #FFF, 1530px 1745px #FFF, 1042px 1240px #FFF, 1415px 151px #FFF, 207px 1501px #FFF, 381px 93px #FFF, 1409px 142px #FFF, 898px 462px #FFF, 806px 191px #FFF, 864px 325px #FFF, 198px 70px #FFF, 45px 22px #FFF, 1121px 1860px #FFF, 1957px 1849px #FFF, 1907px 542px #FFF, 521px 171px #FFF, 727px 1348px #FFF, 398px 470px #FFF, 1348px 1756px #FFF, 1471px 286px #FFF, 643px 512px #FFF, 953px 1958px #FFF, 440px 1967px #FFF, 1616px 124px #FFF, 1782px 1102px #FFF, 874px 736px #FFF, 1832px 236px #FFF, 1309px 1600px #FFF, 1776px 856px #FFF, 979px 1309px #FFF, 208px 428px #FFF, 1562px 77px #FFF, 1595px 1036px #FFF, 1350px 1245px #FFF, 1101px 1180px #FFF, 764px 284px #FFF, 1534px 1900px #FFF, 59px 1899px #FFF, 804px 1426px #FFF, 838px 1591px #FFF, 703px 844px #FFF, 1758px 1174px #FFF, 671px 1799px #FFF, 220px 299px #FFF, 1082px 107px #FFF, 61px 1223px #FFF, 891px 129px #FFF, 853px 1218px #FFF, 1393px 1737px #FFF, 1845px 1439px #FFF, 233px 1626px #FFF, 1749px 188px #FFF, 946px 661px #FFF, 464px 397px #FFF, 218px 1772px #FFF, 481px 177px #FFF, 118px 1782px #FFF, 1697px 1734px #FFF, 35px 615px #FFF, 1917px 633px #FFF, 278px 1047px #FFF, 281px 971px #FFF, 646px 1155px #FFF, 541px 166px #FFF, 212px 683px #FFF, 218px 577px #FFF, 523px 1779px #FFF, 1341px 1761px #FFF, 1994px 1169px #FFF, 235px 1060px #FFF, 1263px 1304px #FFF, 793px 1175px #FFF, 1782px 738px #FFF, 970px 172px #FFF, 794px 1421px #FFF, 1332px 965px #FFF, 1374px 1931px #FFF, 1263px 1477px #FFF, 705px 1952px #FFF, 56px 1886px #FFF, 875px 916px #FFF, 1275px 1315px #FFF, 1186px 220px #FFF, 1291px 1523px #FFF, 72px 856px #FFF, 149px 1903px #FFF, 1854px 554px #FFF, 1613px 127px #FFF, 1097px 1691px #FFF, 519px 1625px #FFF, 400px 72px #FFF, 1713px 1881px #FFF, 737px 725px #FFF, 1953px 479px #FFF, 340px 1605px #FFF, 608px 487px #FFF, 562px 161px #FFF, 1730px 1125px #FFF, 1101px 1147px #FFF, 1237px 1541px #FFF, 378px 420px #FFF, 957px 1634px #FFF, 1890px 1519px #FFF, 867px 1067px #FFF, 1330px 603px #FFF, 826px 843px #FFF, 618px 1728px #FFF, 1833px 1449px #FFF, 1254px 979px #FFF, 168px 1535px #FFF, 1316px 1981px #FFF, 888px 1947px #FFF, 209px 1266px #FFF, 1481px 649px #FFF, 531px 1493px #FFF, 1002px 1655px #FFF, 1174px 2px #FFF, 161px 1534px #FFF, 1580px 1185px #FFF, 4px 567px #FFF, 978px 1291px #FFF, 1621px 841px #FFF, 622px 141px #FFF, 681px 97px #FFF, 1424px 1561px #FFF, 1614px 1243px #FFF, 1776px 758px #FFF, 969px 1614px #FFF, 1616px 1615px #FFF, 507px 522px #FFF, 420px 778px #FFF, 491px 874px #FFF, 73px 311px #FFF, 1797px 510px #FFF, 1282px 1509px #FFF, 1997px 772px #FFF, 1667px 1135px #FFF, 1072px 168px #FFF, 388px 752px #FFF, 74px 1678px #FFF, 373px 1338px #FFF, 866px 1232px #FFF, 494px 542px #FFF, 1933px 253px #FFF, 1643px 467px #FFF, 295px 716px #FFF, 1929px 473px #FFF, 1347px 758px #FFF, 864px 132px #FFF, 1269px 610px #FFF, 537px 898px #FFF, 1583px 1753px #FFF, 902px 1379px #FFF, 1485px 895px #FFF, 1425px 266px #FFF, 917px 512px #FFF, 1002px 1606px #FFF, 1904px 1452px #FFF, 1687px 1214px #FFF, 1113px 1040px #FFF, 1979px 1755px #FFF, 1845px 431px #FFF, 1380px 1634px #FFF, 1569px 974px #FFF, 1571px 810px #FFF, 834px 1814px #FFF, 735px 1993px #FFF, 178px 620px #FFF, 584px 963px #FFF, 1323px 660px #FFF, 1402px 1549px #FFF, 493px 193px #FFF, 1589px 806px #FFF, 1166px 418px #FFF, 1981px 1908px #FFF, 1538px 1031px #FFF, 194px 1581px #FFF, 876px 1813px #FFF, 1399px 1271px #FFF, 1811px 1484px #FFF, 701px 783px #FFF, 1532px 40px #FFF, 35px 1835px #FFF, 1358px 1818px #FFF, 74px 1419px #FFF, 1586px 1190px #FFF, 1382px 1975px #FFF, 1447px 655px #FFF, 1206px 592px #FFF, 1696px 268px #FFF, 388px 997px #FFF, 1516px 298px #FFF, 1325px 393px #FFF, 261px 114px #FFF, 1068px 1053px #FFF, 1982px 1840px #FFF, 977px 237px #FFF, 986px 949px #FFF, 355px 755px #FFF, 1211px 32px #FFF, 113px 592px #FFF, 739px 751px #FFF, 817px 1417px #FFF, 346px 1326px #FFF, 797px 626px #FFF, 774px 1548px #FFF, 910px 138px #FFF, 421px 289px #FFF, 371px 1117px #FFF, 1811px 1481px #FFF, 1527px 1401px #FFF, 985px 50px #FFF, 387px 710px #FFF, 278px 512px #FFF, 88px 1967px #FFF, 1543px 1947px #FFF, 1231px 1420px #FFF, 1447px 182px #FFF, 1440px 567px #FFF, 572px 1853px #FFF, 1146px 1695px #FFF, 1670px 336px #FFF, 947px 167px #FFF, 763px 646px #FFF, 934px 1630px #FFF, 271px 1485px #FFF, 1023px 932px #FFF, 1042px 519px #FFF, 1557px 1422px #FFF, 1387px 727px #FFF, 878px 1691px #FFF, 757px 42px #FFF, 1102px 556px #FFF, 1866px 1589px #FFF, 734px 1862px #FFF, 1097px 133px #FFF, 1519px 1955px #FFF, 1751px 1200px #FFF, 502px 258px #FFF, 1954px 663px #FFF, 354px 1653px #FFF, 318px 973px #FFF, 858px 837px #FFF, 1717px 1710px #FFF, 1125px 1337px #FFF, 1654px 493px #FFF, 433px 360px #FFF, 625px 1593px #FFF, 507px 720px #FFF, 1729px 49px #FFF, 649px 967px #FFF, 345px 1699px #FFF, 1688px 1675px #FFF, 791px 952px #FFF, 1945px 1909px #FFF, 1741px 1339px #FFF, 1581px 1701px #FFF, 1078px 953px #FFF, 1883px 204px #FFF, 153px 215px #FFF, 857px 1148px #FFF, 975px 1562px #FFF, 418px 459px #FFF, 98px 1956px #FFF, 953px 907px #FFF, 1465px 72px #FFF, 505px 1835px #FFF, 1045px 1001px #FFF, 651px 1194px #FFF, 968px 1815px #FFF, 1454px 488px #FFF, 740px 647px #FFF, 1851px 598px #FFF, 1977px 1510px #FFF, 1774px 435px #FFF, 1337px 267px #FFF, 1314px 921px #FFF, 1301px 164px #FFF, 545px 388px #FFF, 526px 37px #FFF, 457px 147px #FFF, 1441px 817px #FFF, 1704px 29px #FFF, 1019px 1125px #FFF, 692px 1558px #FFF, 1306px 730px #FFF, 1649px 1088px #FFF, 1831px 1815px #FFF, 358px 68px #FFF, 1171px 186px #FFF, 1500px 1750px #FFF, 1544px 352px #FFF, 169px 875px #FFF, 93px 1676px #FFF, 1978px 1732px #FFF, 941px 1503px #FFF, 5px 1111px #FFF, 1460px 609px #FFF, 636px 1097px #FFF, 1378px 3px #FFF, 282px 84px #FFF, 1816px 1082px #FFF, 1528px 1798px #FFF, 1475px 1723px #FFF, 1538px 1433px #FFF, 1881px 182px #FFF, 1770px 1932px #FFF, 239px 560px #FFF, 1423px 815px #FFF, 1671px 401px #FFF, 953px 1914px #FFF, 1210px 1998px #FFF, 292px 57px #FFF, 305px 1179px #FFF, 171px 855px #FFF, 1179px 787px #FFF, 1966px 1517px #FFF, 48px 1690px #FFF, 1294px 102px #FFF, 1855px 1994px #FFF, 1915px 1091px #FFF, 1546px 150px #FFF, 944px 424px #FFF, 681px 494px #FFF, 281px 780px #FFF, 1069px 102px #FFF, 1606px 133px #FFF, 815px 909px #FFF, 958px 815px #FFF, 77px 1813px #FFF, 97px 306px #FFF, 1188px 1701px #FFF, 1348px 487px #FFF, 1506px 59px #FFF, 1102px 1390px #FFF, 797px 1621px #FFF, 1480px 1763px #FFF, 1226px 222px #FFF, 1036px 691px #FFF, 1060px 1438px #FFF, 1271px 1622px #FFF, 665px 1842px #FFF, 1454px 280px #FFF, 973px 1201px #FFF, 1007px 421px #FFF, 1824px 697px #FFF, 934px 83px #FFF, 1569px 1759px #FFF, 1556px 844px #FFF, 919px 1706px #FFF, 52px 342px #FFF, 242px 235px #FFF, 440px 1587px #FFF, 367px 878px #FFF, 1208px 1920px #FFF, 445px 835px #FFF, 612px 822px #FFF, 486px 1046px #FFF, 1164px 1335px #FFF, 1595px 163px #FFF, 74px 1005px #FFF, 807px 226px #FFF, 1818px 333px #FFF, 1524px 1796px #FFF, 539px 1081px #FFF, 1635px 1420px #FFF, 45px 1437px #FFF, 950px 255px #FFF, 34px 1085px #FFF, 1742px 1689px #FFF, 254px 548px #FFF, 1588px 670px #FFF, 576px 288px #FFF, 1859px 172px #FFF, 456px 200px #FFF, 1111px 1452px #FFF, 129px 1610px #FFF, 1364px 595px #FFF, 1868px 1991px #FFF, 1480px 1679px #FFF, 229px 197px #FFF, 94px 833px #FFF, 1611px 492px #FFF, 962px 1962px #FFF, 1919px 1731px #FFF, 849px 795px #FFF, 1969px 760px #FFF, 391px 1624px #FFF, 243px 704px #FFF, 666px 1419px #FFF, 1860px 63px #FFF, 1587px 1076px #FFF, 1688px 1417px #FFF, 392px 1763px #FFF, 863px 1581px #FFF, 1625px 1466px #FFF, 495px 223px #FFF, 1447px 418px #FFF, 1725px 1222px #FFF, 1570px 1619px #FFF, 1161px 368px #FFF, 1482px 247px #FFF, 131px 409px #FFF, 1302px 1600px #FFF, 802px 307px #FFF, 900px 1737px #FFF, 665px 1839px #FFF, 2000px 1253px #FFF, 260px 138px #FFF, 768px 1018px #FFF, 348px 407px #FFF, 1945px 1024px #FFF, 1816px 1253px #FFF, 459px 820px #FFF, 155px 1507px #FFF, 1083px 1947px #FFF, 383px 258px #FFF, 423px 1564px #FFF, 331px 779px #FFF, 804px 1529px #FFF, 409px 112px #FFF, 1695px 260px #FFF, 558px 1770px #FFF, 335px 1221px #FFF, 1956px 916px #FFF, 1369px 1723px #FFF, 1289px 1214px #FFF, 95px 38px #FFF, 12px 1928px #FFF, 30px 1400px #FFF, 1457px 662px #FFF, 675px 1867px #FFF, 133px 340px #FFF, 1913px 632px #FFF, 810px 55px #FFF, 1065px 372px #FFF, 550px 1936px #FFF, 785px 914px #FFF, 1053px 300px #FFF, 1979px 1734px #FFF, 1992px 567px #FFF, 1919px 1060px #FFF, 191px 1059px #FFF, 431px 1059px #FFF, 253px 197px #FFF, 746px 1545px #FFF, 485px 855px #FFF, 1760px 677px #FFF, 61px 1912px #FFF, 495px 769px #FFF, 1548px 363px #FFF, 423px 1806px #FFF, 1576px 1999px #FFF, 543px 645px #FFF, 1942px 1221px #FFF, 1752px 180px #FFF, 1811px 722px #FFF, 76px 1076px #FFF, 544px 1763px #FFF, 1875px 566px #FFF, 343px 1763px #FFF, 1920px 1604px #FFF, 295px 1478px #FFF, 39px 589px #FFF, 1651px 19px #FFF, 734px 776px #FFF, 1961px 1998px #FFF, 1339px 1680px #FFF, 871px 1532px #FFF, 886px 1501px #FFF, 893px 596px #FFF, 96px 892px #FFF, 218px 1920px #FFF, 1477px 1120px #FFF, 1643px 160px #FFF, 1691px 1431px #FFF, 539px 810px #FFF, 1157px 867px #FFF, 942px 747px #FFF, 28px 417px #FFF, 845px 41px #FFF, 1082px 879px #FFF, 165px 512px #FFF, 1658px 1042px #FFF, 1152px 1554px #FFF, 310px 342px #FFF, 221px 905px #FFF, 407px 801px #FFF, 969px 1374px #FFF, 495px 761px #FFF, 949px 1737px #FFF, 889px 972px #FFF, 1372px 28px #FFF, 673px 1492px #FFF, 1221px 512px #FFF, 501px 715px #FFF, 1223px 1294px #FFF, 170px 746px #FFF, 797px 1552px #FFF, 1683px 1812px #FFF, 1792px 842px #FFF, 956px 1354px #FFF, 1006px 1560px #FFF, 762px 999px #FFF, 1459px 1355px #FFF, 1251px 486px #FFF, 89px 576px #FFF, 501px 1730px #FFF, 1873px 1514px #FFF, 1153px 26px #FFF, 881px 33px #FFF, 1731px 1286px #FFF, 1605px 1666px #FFF, 1702px 487px #FFF, 1079px 1235px #FFF, 1331px 55px #FFF, 484px 618px #FFF, 185px 454px #FFF, 1459px 1513px #FFF, 1680px 1886px #FFF, 1664px 1577px #FFF, 1427px 1216px #FFF, 1952px 1536px #FFF, 606px 1625px #FFF, 471px 89px #FFF, 909px 1761px #FFF, 636px 870px #FFF, 75px 683px #FFF, 1144px 1673px #FFF, 1428px 1733px #FFF, 1822px 1486px #FFF, 1442px 246px #FFF, 1552px 230px #FFF, 1835px 729px #FFF, 1871px 725px #FFF, 1142px 212px #FFF, 144px 714px #FFF, 156px 912px #FFF, 687px 575px #FFF, 1617px 1329px #FFF, 947px 1804px #FFF, 1660px 422px #FFF, 87px 964px #FFF, 959px 351px #FFF, 649px 1400px #FFF, 1764px 671px #FFF, 974px 446px #FFF, 1888px 1760px #FFF;
    animation: parallaxStar 50s linear infinite; }
    .home-page .stars:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 1318px 702px #FFF, 1046px 925px #FFF, 437px 477px #FFF, 1812px 1895px #FFF, 537px 964px #FFF, 1384px 703px #FFF, 1750px 1846px #FFF, 1056px 1865px #FFF, 1931px 462px #FFF, 1490px 1px #FFF, 791px 65px #FFF, 728px 1787px #FFF, 1093px 1376px #FFF, 275px 939px #FFF, 985px 349px #FFF, 599px 1431px #FFF, 1314px 716px #FFF, 1659px 1507px #FFF, 116px 1215px #FFF, 126px 1412px #FFF, 308px 962px #FFF, 1070px 796px #FFF, 466px 1522px #FFF, 286px 1402px #FFF, 1235px 1976px #FFF, 1057px 1819px #FFF, 1554px 101px #FFF, 56px 430px #FFF, 1307px 1629px #FFF, 856px 86px #FFF, 438px 1191px #FFF, 201px 1795px #FFF, 38px 27px #FFF, 550px 1967px #FFF, 1307px 382px #FFF, 1462px 128px #FFF, 144px 1394px #FFF, 558px 523px #FFF, 275px 452px #FFF, 21px 1707px #FFF, 909px 579px #FFF, 157px 1355px #FFF, 1972px 112px #FFF, 1517px 1206px #FFF, 986px 1426px #FFF, 1061px 37px #FFF, 1125px 620px #FFF, 571px 878px #FFF, 1817px 754px #FFF, 641px 1112px #FFF, 1366px 898px #FFF, 725px 1886px #FFF, 1660px 501px #FFF, 584px 196px #FFF, 181px 1694px #FFF, 674px 934px #FFF, 1473px 1702px #FFF, 260px 595px #FFF, 1810px 768px #FFF, 1203px 806px #FFF, 1265px 1202px #FFF, 1461px 80px #FFF, 818px 1908px #FFF, 731px 23px #FFF, 205px 1175px #FFF, 948px 565px #FFF, 748px 351px #FFF, 1032px 1949px #FFF, 517px 998px #FFF, 1328px 1384px #FFF, 789px 281px #FFF, 902px 435px #FFF, 483px 1006px #FFF, 948px 1388px #FFF, 1135px 1629px #FFF, 1382px 719px #FFF, 1182px 596px #FFF, 1665px 153px #FFF, 209px 407px #FFF, 1784px 104px #FFF, 1771px 1602px #FFF, 1902px 1626px #FFF, 1391px 1194px #FFF, 1251px 57px #FFF, 1895px 785px #FFF, 1966px 1022px #FFF, 1726px 379px #FFF, 568px 676px #FFF, 1598px 1020px #FFF, 506px 1631px #FFF, 397px 98px #FFF, 1836px 936px #FFF, 487px 1764px #FFF, 633px 695px #FFF, 976px 169px #FFF, 1477px 1028px #FFF, 615px 515px #FFF, 1840px 1257px #FFF, 183px 341px #FFF, 210px 299px #FFF, 688px 1251px #FFF, 53px 1031px #FFF, 1296px 624px #FFF, 1128px 1734px #FFF, 565px 1640px #FFF, 151px 1502px #FFF, 571px 1766px #FFF, 1382px 1531px #FFF, 1032px 1500px #FFF, 425px 1225px #FFF, 318px 1538px #FFF, 1110px 1904px #FFF, 723px 339px #FFF, 62px 1153px #FFF, 380px 142px #FFF, 1116px 737px #FFF, 357px 1627px #FFF, 377px 1753px #FFF, 164px 1791px #FFF, 1903px 1432px #FFF, 650px 1688px #FFF, 573px 22px #FFF, 556px 1992px #FFF, 802px 346px #FFF, 455px 775px #FFF, 624px 1620px #FFF, 707px 1816px #FFF, 1830px 1463px #FFF, 723px 1877px #FFF, 653px 1027px #FFF, 734px 962px #FFF, 1258px 320px #FFF, 415px 1812px #FFF, 1068px 1999px #FFF, 1644px 300px #FFF, 529px 1606px #FFF, 996px 1014px #FFF, 1537px 300px #FFF, 1977px 405px #FFF, 1850px 1286px #FFF, 482px 105px #FFF, 466px 819px #FFF, 944px 545px #FFF, 696px 1164px #FFF, 1374px 686px #FFF, 1758px 1991px #FFF, 801px 133px #FFF, 888px 484px #FFF, 609px 632px #FFF, 919px 254px #FFF, 1849px 1049px #FFF, 867px 1316px #FFF, 716px 1365px #FFF, 1530px 1745px #FFF, 1042px 1240px #FFF, 1415px 151px #FFF, 207px 1501px #FFF, 381px 93px #FFF, 1409px 142px #FFF, 898px 462px #FFF, 806px 191px #FFF, 864px 325px #FFF, 198px 70px #FFF, 45px 22px #FFF, 1121px 1860px #FFF, 1957px 1849px #FFF, 1907px 542px #FFF, 521px 171px #FFF, 727px 1348px #FFF, 398px 470px #FFF, 1348px 1756px #FFF, 1471px 286px #FFF, 643px 512px #FFF, 953px 1958px #FFF, 440px 1967px #FFF, 1616px 124px #FFF, 1782px 1102px #FFF, 874px 736px #FFF, 1832px 236px #FFF, 1309px 1600px #FFF, 1776px 856px #FFF, 979px 1309px #FFF, 208px 428px #FFF, 1562px 77px #FFF, 1595px 1036px #FFF, 1350px 1245px #FFF, 1101px 1180px #FFF, 764px 284px #FFF, 1534px 1900px #FFF, 59px 1899px #FFF, 804px 1426px #FFF, 838px 1591px #FFF, 703px 844px #FFF, 1758px 1174px #FFF, 671px 1799px #FFF, 220px 299px #FFF, 1082px 107px #FFF, 61px 1223px #FFF, 891px 129px #FFF, 853px 1218px #FFF, 1393px 1737px #FFF, 1845px 1439px #FFF, 233px 1626px #FFF, 1749px 188px #FFF, 946px 661px #FFF, 464px 397px #FFF, 218px 1772px #FFF, 481px 177px #FFF, 118px 1782px #FFF, 1697px 1734px #FFF, 35px 615px #FFF, 1917px 633px #FFF, 278px 1047px #FFF, 281px 971px #FFF, 646px 1155px #FFF, 541px 166px #FFF, 212px 683px #FFF, 218px 577px #FFF, 523px 1779px #FFF, 1341px 1761px #FFF, 1994px 1169px #FFF, 235px 1060px #FFF, 1263px 1304px #FFF, 793px 1175px #FFF, 1782px 738px #FFF, 970px 172px #FFF, 794px 1421px #FFF, 1332px 965px #FFF, 1374px 1931px #FFF, 1263px 1477px #FFF, 705px 1952px #FFF, 56px 1886px #FFF, 875px 916px #FFF, 1275px 1315px #FFF, 1186px 220px #FFF, 1291px 1523px #FFF, 72px 856px #FFF, 149px 1903px #FFF, 1854px 554px #FFF, 1613px 127px #FFF, 1097px 1691px #FFF, 519px 1625px #FFF, 400px 72px #FFF, 1713px 1881px #FFF, 737px 725px #FFF, 1953px 479px #FFF, 340px 1605px #FFF, 608px 487px #FFF, 562px 161px #FFF, 1730px 1125px #FFF, 1101px 1147px #FFF, 1237px 1541px #FFF, 378px 420px #FFF, 957px 1634px #FFF, 1890px 1519px #FFF, 867px 1067px #FFF, 1330px 603px #FFF, 826px 843px #FFF, 618px 1728px #FFF, 1833px 1449px #FFF, 1254px 979px #FFF, 168px 1535px #FFF, 1316px 1981px #FFF, 888px 1947px #FFF, 209px 1266px #FFF, 1481px 649px #FFF, 531px 1493px #FFF, 1002px 1655px #FFF, 1174px 2px #FFF, 161px 1534px #FFF, 1580px 1185px #FFF, 4px 567px #FFF, 978px 1291px #FFF, 1621px 841px #FFF, 622px 141px #FFF, 681px 97px #FFF, 1424px 1561px #FFF, 1614px 1243px #FFF, 1776px 758px #FFF, 969px 1614px #FFF, 1616px 1615px #FFF, 507px 522px #FFF, 420px 778px #FFF, 491px 874px #FFF, 73px 311px #FFF, 1797px 510px #FFF, 1282px 1509px #FFF, 1997px 772px #FFF, 1667px 1135px #FFF, 1072px 168px #FFF, 388px 752px #FFF, 74px 1678px #FFF, 373px 1338px #FFF, 866px 1232px #FFF, 494px 542px #FFF, 1933px 253px #FFF, 1643px 467px #FFF, 295px 716px #FFF, 1929px 473px #FFF, 1347px 758px #FFF, 864px 132px #FFF, 1269px 610px #FFF, 537px 898px #FFF, 1583px 1753px #FFF, 902px 1379px #FFF, 1485px 895px #FFF, 1425px 266px #FFF, 917px 512px #FFF, 1002px 1606px #FFF, 1904px 1452px #FFF, 1687px 1214px #FFF, 1113px 1040px #FFF, 1979px 1755px #FFF, 1845px 431px #FFF, 1380px 1634px #FFF, 1569px 974px #FFF, 1571px 810px #FFF, 834px 1814px #FFF, 735px 1993px #FFF, 178px 620px #FFF, 584px 963px #FFF, 1323px 660px #FFF, 1402px 1549px #FFF, 493px 193px #FFF, 1589px 806px #FFF, 1166px 418px #FFF, 1981px 1908px #FFF, 1538px 1031px #FFF, 194px 1581px #FFF, 876px 1813px #FFF, 1399px 1271px #FFF, 1811px 1484px #FFF, 701px 783px #FFF, 1532px 40px #FFF, 35px 1835px #FFF, 1358px 1818px #FFF, 74px 1419px #FFF, 1586px 1190px #FFF, 1382px 1975px #FFF, 1447px 655px #FFF, 1206px 592px #FFF, 1696px 268px #FFF, 388px 997px #FFF, 1516px 298px #FFF, 1325px 393px #FFF, 261px 114px #FFF, 1068px 1053px #FFF, 1982px 1840px #FFF, 977px 237px #FFF, 986px 949px #FFF, 355px 755px #FFF, 1211px 32px #FFF, 113px 592px #FFF, 739px 751px #FFF, 817px 1417px #FFF, 346px 1326px #FFF, 797px 626px #FFF, 774px 1548px #FFF, 910px 138px #FFF, 421px 289px #FFF, 371px 1117px #FFF, 1811px 1481px #FFF, 1527px 1401px #FFF, 985px 50px #FFF, 387px 710px #FFF, 278px 512px #FFF, 88px 1967px #FFF, 1543px 1947px #FFF, 1231px 1420px #FFF, 1447px 182px #FFF, 1440px 567px #FFF, 572px 1853px #FFF, 1146px 1695px #FFF, 1670px 336px #FFF, 947px 167px #FFF, 763px 646px #FFF, 934px 1630px #FFF, 271px 1485px #FFF, 1023px 932px #FFF, 1042px 519px #FFF, 1557px 1422px #FFF, 1387px 727px #FFF, 878px 1691px #FFF, 757px 42px #FFF, 1102px 556px #FFF, 1866px 1589px #FFF, 734px 1862px #FFF, 1097px 133px #FFF, 1519px 1955px #FFF, 1751px 1200px #FFF, 502px 258px #FFF, 1954px 663px #FFF, 354px 1653px #FFF, 318px 973px #FFF, 858px 837px #FFF, 1717px 1710px #FFF, 1125px 1337px #FFF, 1654px 493px #FFF, 433px 360px #FFF, 625px 1593px #FFF, 507px 720px #FFF, 1729px 49px #FFF, 649px 967px #FFF, 345px 1699px #FFF, 1688px 1675px #FFF, 791px 952px #FFF, 1945px 1909px #FFF, 1741px 1339px #FFF, 1581px 1701px #FFF, 1078px 953px #FFF, 1883px 204px #FFF, 153px 215px #FFF, 857px 1148px #FFF, 975px 1562px #FFF, 418px 459px #FFF, 98px 1956px #FFF, 953px 907px #FFF, 1465px 72px #FFF, 505px 1835px #FFF, 1045px 1001px #FFF, 651px 1194px #FFF, 968px 1815px #FFF, 1454px 488px #FFF, 740px 647px #FFF, 1851px 598px #FFF, 1977px 1510px #FFF, 1774px 435px #FFF, 1337px 267px #FFF, 1314px 921px #FFF, 1301px 164px #FFF, 545px 388px #FFF, 526px 37px #FFF, 457px 147px #FFF, 1441px 817px #FFF, 1704px 29px #FFF, 1019px 1125px #FFF, 692px 1558px #FFF, 1306px 730px #FFF, 1649px 1088px #FFF, 1831px 1815px #FFF, 358px 68px #FFF, 1171px 186px #FFF, 1500px 1750px #FFF, 1544px 352px #FFF, 169px 875px #FFF, 93px 1676px #FFF, 1978px 1732px #FFF, 941px 1503px #FFF, 5px 1111px #FFF, 1460px 609px #FFF, 636px 1097px #FFF, 1378px 3px #FFF, 282px 84px #FFF, 1816px 1082px #FFF, 1528px 1798px #FFF, 1475px 1723px #FFF, 1538px 1433px #FFF, 1881px 182px #FFF, 1770px 1932px #FFF, 239px 560px #FFF, 1423px 815px #FFF, 1671px 401px #FFF, 953px 1914px #FFF, 1210px 1998px #FFF, 292px 57px #FFF, 305px 1179px #FFF, 171px 855px #FFF, 1179px 787px #FFF, 1966px 1517px #FFF, 48px 1690px #FFF, 1294px 102px #FFF, 1855px 1994px #FFF, 1915px 1091px #FFF, 1546px 150px #FFF, 944px 424px #FFF, 681px 494px #FFF, 281px 780px #FFF, 1069px 102px #FFF, 1606px 133px #FFF, 815px 909px #FFF, 958px 815px #FFF, 77px 1813px #FFF, 97px 306px #FFF, 1188px 1701px #FFF, 1348px 487px #FFF, 1506px 59px #FFF, 1102px 1390px #FFF, 797px 1621px #FFF, 1480px 1763px #FFF, 1226px 222px #FFF, 1036px 691px #FFF, 1060px 1438px #FFF, 1271px 1622px #FFF, 665px 1842px #FFF, 1454px 280px #FFF, 973px 1201px #FFF, 1007px 421px #FFF, 1824px 697px #FFF, 934px 83px #FFF, 1569px 1759px #FFF, 1556px 844px #FFF, 919px 1706px #FFF, 52px 342px #FFF, 242px 235px #FFF, 440px 1587px #FFF, 367px 878px #FFF, 1208px 1920px #FFF, 445px 835px #FFF, 612px 822px #FFF, 486px 1046px #FFF, 1164px 1335px #FFF, 1595px 163px #FFF, 74px 1005px #FFF, 807px 226px #FFF, 1818px 333px #FFF, 1524px 1796px #FFF, 539px 1081px #FFF, 1635px 1420px #FFF, 45px 1437px #FFF, 950px 255px #FFF, 34px 1085px #FFF, 1742px 1689px #FFF, 254px 548px #FFF, 1588px 670px #FFF, 576px 288px #FFF, 1859px 172px #FFF, 456px 200px #FFF, 1111px 1452px #FFF, 129px 1610px #FFF, 1364px 595px #FFF, 1868px 1991px #FFF, 1480px 1679px #FFF, 229px 197px #FFF, 94px 833px #FFF, 1611px 492px #FFF, 962px 1962px #FFF, 1919px 1731px #FFF, 849px 795px #FFF, 1969px 760px #FFF, 391px 1624px #FFF, 243px 704px #FFF, 666px 1419px #FFF, 1860px 63px #FFF, 1587px 1076px #FFF, 1688px 1417px #FFF, 392px 1763px #FFF, 863px 1581px #FFF, 1625px 1466px #FFF, 495px 223px #FFF, 1447px 418px #FFF, 1725px 1222px #FFF, 1570px 1619px #FFF, 1161px 368px #FFF, 1482px 247px #FFF, 131px 409px #FFF, 1302px 1600px #FFF, 802px 307px #FFF, 900px 1737px #FFF, 665px 1839px #FFF, 2000px 1253px #FFF, 260px 138px #FFF, 768px 1018px #FFF, 348px 407px #FFF, 1945px 1024px #FFF, 1816px 1253px #FFF, 459px 820px #FFF, 155px 1507px #FFF, 1083px 1947px #FFF, 383px 258px #FFF, 423px 1564px #FFF, 331px 779px #FFF, 804px 1529px #FFF, 409px 112px #FFF, 1695px 260px #FFF, 558px 1770px #FFF, 335px 1221px #FFF, 1956px 916px #FFF, 1369px 1723px #FFF, 1289px 1214px #FFF, 95px 38px #FFF, 12px 1928px #FFF, 30px 1400px #FFF, 1457px 662px #FFF, 675px 1867px #FFF, 133px 340px #FFF, 1913px 632px #FFF, 810px 55px #FFF, 1065px 372px #FFF, 550px 1936px #FFF, 785px 914px #FFF, 1053px 300px #FFF, 1979px 1734px #FFF, 1992px 567px #FFF, 1919px 1060px #FFF, 191px 1059px #FFF, 431px 1059px #FFF, 253px 197px #FFF, 746px 1545px #FFF, 485px 855px #FFF, 1760px 677px #FFF, 61px 1912px #FFF, 495px 769px #FFF, 1548px 363px #FFF, 423px 1806px #FFF, 1576px 1999px #FFF, 543px 645px #FFF, 1942px 1221px #FFF, 1752px 180px #FFF, 1811px 722px #FFF, 76px 1076px #FFF, 544px 1763px #FFF, 1875px 566px #FFF, 343px 1763px #FFF, 1920px 1604px #FFF, 295px 1478px #FFF, 39px 589px #FFF, 1651px 19px #FFF, 734px 776px #FFF, 1961px 1998px #FFF, 1339px 1680px #FFF, 871px 1532px #FFF, 886px 1501px #FFF, 893px 596px #FFF, 96px 892px #FFF, 218px 1920px #FFF, 1477px 1120px #FFF, 1643px 160px #FFF, 1691px 1431px #FFF, 539px 810px #FFF, 1157px 867px #FFF, 942px 747px #FFF, 28px 417px #FFF, 845px 41px #FFF, 1082px 879px #FFF, 165px 512px #FFF, 1658px 1042px #FFF, 1152px 1554px #FFF, 310px 342px #FFF, 221px 905px #FFF, 407px 801px #FFF, 969px 1374px #FFF, 495px 761px #FFF, 949px 1737px #FFF, 889px 972px #FFF, 1372px 28px #FFF, 673px 1492px #FFF, 1221px 512px #FFF, 501px 715px #FFF, 1223px 1294px #FFF, 170px 746px #FFF, 797px 1552px #FFF, 1683px 1812px #FFF, 1792px 842px #FFF, 956px 1354px #FFF, 1006px 1560px #FFF, 762px 999px #FFF, 1459px 1355px #FFF, 1251px 486px #FFF, 89px 576px #FFF, 501px 1730px #FFF, 1873px 1514px #FFF, 1153px 26px #FFF, 881px 33px #FFF, 1731px 1286px #FFF, 1605px 1666px #FFF, 1702px 487px #FFF, 1079px 1235px #FFF, 1331px 55px #FFF, 484px 618px #FFF, 185px 454px #FFF, 1459px 1513px #FFF, 1680px 1886px #FFF, 1664px 1577px #FFF, 1427px 1216px #FFF, 1952px 1536px #FFF, 606px 1625px #FFF, 471px 89px #FFF, 909px 1761px #FFF, 636px 870px #FFF, 75px 683px #FFF, 1144px 1673px #FFF, 1428px 1733px #FFF, 1822px 1486px #FFF, 1442px 246px #FFF, 1552px 230px #FFF, 1835px 729px #FFF, 1871px 725px #FFF, 1142px 212px #FFF, 144px 714px #FFF, 156px 912px #FFF, 687px 575px #FFF, 1617px 1329px #FFF, 947px 1804px #FFF, 1660px 422px #FFF, 87px 964px #FFF, 959px 351px #FFF, 649px 1400px #FFF, 1764px 671px #FFF, 974px 446px #FFF, 1888px 1760px #FFF; }
  .home-page .moar-stars {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1297px 1088px #FFF, 877px 991px #FFF, 1924px 81px #FFF, 901px 1247px #FFF, 1089px 557px #FFF, 453px 1146px #FFF, 620px 1741px #FFF, 1033px 1709px #FFF, 1411px 497px #FFF, 1799px 1580px #FFF, 491px 587px #FFF, 1898px 1269px #FFF, 433px 1576px #FFF, 1060px 728px #FFF, 1186px 1449px #FFF, 533px 665px #FFF, 1609px 1835px #FFF, 649px 1428px #FFF, 1294px 192px #FFF, 1523px 1077px #FFF, 666px 709px #FFF, 85px 1572px #FFF, 64px 1677px #FFF, 1001px 368px #FFF, 1843px 9px #FFF, 1622px 739px #FFF, 1241px 1326px #FFF, 1558px 813px #FFF, 1752px 1039px #FFF, 1402px 1681px #FFF, 1334px 426px #FFF, 1218px 1771px #FFF, 1493px 932px #FFF, 402px 1289px #FFF, 220px 83px #FFF, 1723px 742px #FFF, 572px 306px #FFF, 1315px 1129px #FFF, 1657px 1107px #FFF, 454px 94px #FFF, 825px 1874px #FFF, 1083px 130px #FFF, 862px 260px #FFF, 588px 301px #FFF, 1917px 1969px #FFF, 156px 1016px #FFF, 544px 1828px #FFF, 851px 207px #FFF, 339px 12px #FFF, 539px 929px #FFF, 1189px 1951px #FFF, 1018px 1560px #FFF, 1257px 11px #FFF, 215px 199px #FFF, 1697px 980px #FFF, 418px 1267px #FFF, 1710px 1888px #FFF, 1052px 1906px #FFF, 770px 339px #FFF, 1698px 478px #FFF, 377px 349px #FFF, 1709px 1026px #FFF, 954px 742px #FFF, 1403px 518px #FFF, 131px 761px #FFF, 92px 292px #FFF, 529px 1432px #FFF, 1109px 629px #FFF, 1074px 1488px #FFF, 1470px 445px #FFF, 21px 260px #FFF, 1597px 1381px #FFF, 1040px 1264px #FFF, 1107px 1404px #FFF, 584px 240px #FFF, 950px 528px #FFF, 592px 506px #FFF, 1154px 479px #FFF, 579px 971px #FFF, 752px 1863px #FFF, 1697px 88px #FFF, 476px 361px #FFF, 1777px 876px #FFF, 1626px 1887px #FFF, 134px 1208px #FFF, 1455px 1159px #FFF, 1970px 1188px #FFF, 400px 1651px #FFF, 1114px 1609px #FFF, 1387px 545px #FFF, 946px 1800px #FFF, 1995px 1855px #FFF, 1609px 1837px #FFF, 1658px 1645px #FFF, 467px 1902px #FFF, 1766px 1195px #FFF, 1866px 1974px #FFF, 1015px 582px #FFF, 883px 61px #FFF, 788px 1042px #FFF;
    animation: parallaxStar 150s linear infinite; }
    .home-page .moar-stars:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: 1297px 1088px #FFF, 877px 991px #FFF, 1924px 81px #FFF, 901px 1247px #FFF, 1089px 557px #FFF, 453px 1146px #FFF, 620px 1741px #FFF, 1033px 1709px #FFF, 1411px 497px #FFF, 1799px 1580px #FFF, 491px 587px #FFF, 1898px 1269px #FFF, 433px 1576px #FFF, 1060px 728px #FFF, 1186px 1449px #FFF, 533px 665px #FFF, 1609px 1835px #FFF, 649px 1428px #FFF, 1294px 192px #FFF, 1523px 1077px #FFF, 666px 709px #FFF, 85px 1572px #FFF, 64px 1677px #FFF, 1001px 368px #FFF, 1843px 9px #FFF, 1622px 739px #FFF, 1241px 1326px #FFF, 1558px 813px #FFF, 1752px 1039px #FFF, 1402px 1681px #FFF, 1334px 426px #FFF, 1218px 1771px #FFF, 1493px 932px #FFF, 402px 1289px #FFF, 220px 83px #FFF, 1723px 742px #FFF, 572px 306px #FFF, 1315px 1129px #FFF, 1657px 1107px #FFF, 454px 94px #FFF, 825px 1874px #FFF, 1083px 130px #FFF, 862px 260px #FFF, 588px 301px #FFF, 1917px 1969px #FFF, 156px 1016px #FFF, 544px 1828px #FFF, 851px 207px #FFF, 339px 12px #FFF, 539px 929px #FFF, 1189px 1951px #FFF, 1018px 1560px #FFF, 1257px 11px #FFF, 215px 199px #FFF, 1697px 980px #FFF, 418px 1267px #FFF, 1710px 1888px #FFF, 1052px 1906px #FFF, 770px 339px #FFF, 1698px 478px #FFF, 377px 349px #FFF, 1709px 1026px #FFF, 954px 742px #FFF, 1403px 518px #FFF, 131px 761px #FFF, 92px 292px #FFF, 529px 1432px #FFF, 1109px 629px #FFF, 1074px 1488px #FFF, 1470px 445px #FFF, 21px 260px #FFF, 1597px 1381px #FFF, 1040px 1264px #FFF, 1107px 1404px #FFF, 584px 240px #FFF, 950px 528px #FFF, 592px 506px #FFF, 1154px 479px #FFF, 579px 971px #FFF, 752px 1863px #FFF, 1697px 88px #FFF, 476px 361px #FFF, 1777px 876px #FFF, 1626px 1887px #FFF, 134px 1208px #FFF, 1455px 1159px #FFF, 1970px 1188px #FFF, 400px 1651px #FFF, 1114px 1609px #FFF, 1387px 545px #FFF, 946px 1800px #FFF, 1995px 1855px #FFF, 1609px 1837px #FFF, 1658px 1645px #FFF, 467px 1902px #FFF, 1766px 1195px #FFF, 1866px 1974px #FFF, 1015px 582px #FFF, 883px 61px #FFF, 788px 1042px #FFF; }
  .home-page .title {
    margin-top: 1rem;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    color: white;
    text-transform: uppercase;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .home-page .social-icons {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 9; }
    .home-page .social-icons button {
      border-radius: 0 !important; }

@keyframes parallaxStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

.login-page {
  height: 100vh;
  background-image: url("./../../assets/images/login_bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .login-page a {
    color: #6435c9 !important; }
  .login-page .grid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0; }
  .login-page .logo-seg {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9); }
  .login-page .form-seg {
    background-color: rgba(247, 206, 217, 0.4); }

.register-page {
  height: 100vh;
  background-image: url("./../../assets/images/signup_bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .register-page a {
    color: #6435c9 !important; }
  .register-page .grid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0; }
  .register-page .logo-seg {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9); }
  .register-page .form-seg {
    background-color: rgba(104, 181, 157, 0.4); }

.password-reset-page {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .password-reset-page .grid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0; }

.error-page {
  background-color: #222;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  width: 100vw; }
  .error-page .content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .error-page .content h1 {
      font-size: 12rem; }
    .error-page .content h2 {
      font-size: 2em; }
    .error-page .content a {
      text-transform: uppercase; }

.profile-page #application-canvas {
  display: block !important; }

.holospace-page #application-canvas {
  display: block !important; }

.message-form i.icon {
  cursor: pointer;
  margin: 0 !important; }

.top-navigation {
  padding: 2em 2.5em; }
  .top-navigation .text {
    font-family: "Oswald", sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #a2aab2;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    vertical-align: middle; }
  .top-navigation .menu-span.text {
    margin-left: 0.85em; }
  .top-navigation .menu-btn .icon,
  .top-navigation .menu-btn .text {
    display: inline-block;
    vertical-align: middle; }
  .top-navigation .menu-btn .line {
    background-color: #a2aab2;
    height: 3px;
    width: 45px;
    margin-bottom: 7px;
    transition: all 500ms ease-in-out; }
  .top-navigation .menu-btn .line-center {
    position: relative;
    margin-left: -15px;
    transition: all 500ms ease-in-out; }
    .top-navigation .menu-btn .line-center:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #a2aab2;
      transition: all 500ms ease-in-out;
      z-index: 9; }
  .top-navigation .menu-btn:hover .line {
    margin-left: -5px; }
  .top-navigation .menu-btn.open .icon .line-center {
    margin-left: -15px;
    transform: rotate(45deg);
    height: 3px;
    width: 45px; }
    .top-navigation .menu-btn.open .icon .line-center::after {
      transform: rotate(-90deg); }
  .top-navigation .menu-btn.open .icon .line-outer {
    display: none; }
  .top-navigation .menu-btn.open.btn-toggle-menu .text {
    display: none; }
  .top-navigation .search-btn .circle {
    position: relative;
    background-color: transparent;
    height: 23px;
    width: 23px;
    border: 3.5px solid #a2aab2;
    border-radius: 100%;
    transition: all 500ms ease-in-out;
    z-index: 1; }
  .top-navigation .search-btn .handle {
    display: block;
    position: absolute;
    border-width: 0;
    background-color: transparent;
    bottom: 0;
    right: 36%;
    height: 36px;
    width: 3.5px;
    transform: rotate(-45deg); }
    .top-navigation .search-btn .handle:after {
      content: "";
      display: block;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, #a2aab2 75%);
      height: 36px;
      width: 3.5px;
      transition: all 500ms ease-in-out; }
  .top-navigation .search-btn.open .circle {
    transform: scale(0.03);
    background: #a2aab2;
    border-color: #a2aab2; }
  .top-navigation .search-btn.open .handle {
    background-color: #a2aab2;
    transition: all 500ms ease-in-out; }
    .top-navigation .search-btn.open .handle:after {
      background-color: #a2aab2;
      transform-origin: center;
      transform: rotate(90deg); }
