.member {
  .button {
    padding: 0;
    color: #eee;
    background-color: transparent;

    &:hover {
      color: #eee;
      background-color: transparent;

      img:hover {
        -webkit-filter: brightness(70%);
      }
    }

    &:active,
    &:focus {
      color: #eee;
      background-color: transparent;
    }
  }
}
