// credit: https://codepen.io/saransh/pen/BKJun

@function multiple-box-shadow ($numOfStars) {
	$value: "#{random(2000)}px #{random(2000)}px #FFF";
	@for $i from 2 through $numOfStars {
		$value: "#{$value}, #{random(2000)}px #{random(2000)}px #FFF";
	}
	@return unquote($value);
}

$white: #a2aab2;
$behance: #1769ff;
$facebook: #3b5998;
$github: #6cc644;
$googleplus: #db4437;
$twitch: #6441a5;
$twitter: #1da1f2;
$youtube: #ff0000;

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-large: multiple-box-shadow(100);

.home-page {
	height: 100vh;
	width: 100vw;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	overflow: hidden;

	.some-stars {
		width: 2px;
		height: 2px;
		background: transparent;
		box-shadow: $shadows-medium;
		animation: parallaxStar 100s linear infinite;

		&:after {
			content: " ";
			position: absolute;
			top: 2000px;
			width: 2px;
			height: 2px;
			background: transparent;
			box-shadow: $shadows-medium;
		}
	}

	.stars {
		width: 1px;
		height: 1px;
		background: transparent;
		box-shadow: $shadows-small;
		animation: parallaxStar 50s linear infinite;

		&:after {
			content: " ";
			position: absolute;
			top: 2000px;
			width: 1px;
			height: 1px;
			background: transparent;
			box-shadow: $shadows-small;
		}
	}

	.moar-stars {
		width: 3px;
		height: 3px;
		background: transparent;
		box-shadow: $shadows-large;
		animation: parallaxStar 150s linear infinite;

		&:after {
			content: " ";
			position: absolute;
			top: 2000px;
			width: 3px;
			height: 3px;
			background: transparent;
			box-shadow: $shadows-large;
		}
	}

	#title-0001 {
		text-align: center;
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		z-index: 9;

		.header {
			font-size: 4em;
			-webkit-text-fill-color: transparent;
			.h1-text {
				text-transform: uppercase;
				color: $white;
				background: -webkit-linear-gradient(white, #38495a);
				background-clip: text;
				-webkit-background-clip: text;
			}

			.sub.header {
				font-size: 0.4em;
				color: $white;
				background: -webkit-linear-gradient(white, #38495a);
				background-clip: text;
				-webkit-background-clip: text;
			}
		}
	}

	.social-icons {
		position: fixed;
		top: 55%;
		transform: translateY(-50%);
		right: 0;
		z-index: 9;
		overflow: hidden;
		transition: 0.3s ease;
		transition-delay: 1s;
		&.toggled--true {
			cursor: pointer;
			top: 50%;
			transition-delay: 0s;

			.social-btns i {
				right: 0;
			}
		}

		.share-btn {
			color: #000;
			background: #fff;
			width: 42px;
			height: 42px;
			position: relative;
			outline: none;
			border-color: transparent;
			cursor: pointer;
			i:before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:hover {
				background: darken(#fff, 5%);
			}
		}

		.social-btns i {
			display: block;
			color: #fff;
			width: 42px;
			height: 42px;
			position: relative;
			right: -48px;
			transition: 0.3s ease;
			transition-delay: 0s;
			&:before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:nth-child(1) {
				background: $behance;
				transition-delay: 0.2s;
			}
			&:nth-child(2) {
				background: $facebook;
				transition-delay: 0.3s;
			}
			&:nth-child(3) {
				background: $github;
				transition-delay: 0.4s;
			}
			&:nth-child(4) {
				background: $googleplus;
				transition-delay: 0.5s;
			}
			&:nth-child(5) {
				background: $twitch;
				transition-delay: 0.6s;
			}
			&:nth-child(6) {
				background: $twitter;
				transition-delay: 0.7s;
			}
			&:nth-child(7) {
				background: $youtube;
				transition-delay: 0.8s;
			}
		}
	}
}

@keyframes parallaxStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}
