.password-reset-page {
  height: 100vh;
  // background-image: url("./../../assets/images/some.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  .grid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
}
