$primary: #7a5ac3;

.tabs {
  .tab-labels {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-top: 0;

    li {
      border-bottom: 1px solid #999;
      flex-grow: 1;
      text-align: center;
      display: inline-block;

      button {
        color: #fff;
        padding: 5px;
        width: 100%;
        background-color: transparent;
        border: none;
        outline: transparent;

        &:hover {
          color: $primary;
        }
      }

      &:hover {
        border-bottom: 1px solid $primary;
      }

      &.active {
        border-bottom-color: $primary;

        button {
          color: $primary;
        }
      }
    }
  }

  .tab-content {}
}
