@import url(https://fonts.googleapis.com/css?family=Oswald:700);
$white: #a2aab2;
$black: #000;
$primary: #6435c9;
$transitionTime: 500ms;

@media screen and (max-width: 480px) {
	.menu-span.text {
		visibility: hidden !important;
		display: none !important;
	}
}

.top-navigation {
	padding: 2em 2.5em;

	.text {
		font-family: "Oswald", sans-serif;
		font-size: 1.4em;
		font-weight: 700;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $white;
		background: -webkit-linear-gradient(white, #38495a);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		vertical-align: middle;
	}

	.menu-span.text {
		margin-left: 0.85em;
		visibility: visible;
		display: inline;
	}

	.menu-btn {
		.icon,
		.text {
			display: inline-block;
			vertical-align: middle;
		}

		.line {
			background-color: $white;
			height: 3px;
			width: 45px;
			margin-bottom: 7px;
			transition: all $transitionTime ease-in-out;
		}

		.line-center {
			position: relative;
			margin-left: -15px;
			transition: all $transitionTime ease-in-out;

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $white;
				transition: all $transitionTime ease-in-out;
				z-index: 9;
			}
		}

		&:hover {
			.line {
				margin-left: -5px;
			}
		}
	} //<END> .menu-btn

	.menu-btn.open {
		.icon {
			.line-center {
				margin-left: -15px;
				transform: rotate(45deg);
				height: 3px;
				width: 45px;

				&::after {
					transform: rotate(-90deg);
				}
			}

			.line-outer {
				display: none;
			}
		}

		&.btn-toggle-menu .text {
			display: none;
		}
	} //<END> .menu-btn.open

	.search-btn {
		.circle {
			position: relative;
			background-color: transparent;
			height: 23px;
			width: 23px;
			border: 3.5px solid $white;
			border-radius: 100%;
			transition: all $transitionTime ease-in-out;
			z-index: 1;
		}

		.handle {
			display: block;
			position: absolute;
			border-width: 0;
			background-color: transparent;
			bottom: 0;
			right: 36%;
			height: 36px;
			width: 3.5px;
			transform: rotate(-45deg);
			// z-index: -1;
			&:after {
				content: "";
				display: block;
				//background-color: $white;
				background: linear-gradient(
					to bottom,
					rgba(255, 255, 255, 0) 0%,
					rgba(255, 255, 255, 0) 25%,
					rgba(255, 255, 255, 0) 50%,
					rgba(162, 170, 178, 1) 75%
				);
				height: 36px;
				width: 3.5px;
				transition: all $transitionTime ease-in-out;
			}
		}
	} //<END> .search-btn

	.search-btn.open {
		.circle {
			transform: scale(0.03);
			background: $white;
			border-color: $white;
		}

		.handle {
			background-color: $white;
			transition: all $transitionTime ease-in-out;

			&:after {
				background-color: $white;
				transform-origin: center;
				transform: rotate(90deg);
			}
		}
	} //<END> .search-btn.open
}
