.chat-message {
	margin: 1em 0;
	// border-bottom: 1px solid rgba(155, 155, 155, 0.7);

	.avatar {
		float: left;
	}

	.content {
		margin-left: 3.6em;

		.message-blocks {
			.block {
				.actions {
					cursor: pointer;
					margin-left: 0.5em;
					visibility: hidden;
					text-decoration: none;
				}

				.edited {
					margin-left: 0.5em;
					color: #999;
					font-style: italic;
				}

				&:hover {
					text-decoration: underline;
					.actions {
						visibility: visible;
					}
				}
			}
		}

		.header {
			font-size: 16px;
			color: #fff;
			font-weight: bold;
		}

		.date {
			color: #ddd;
			margin-left: 0.5em;
		}

		.description {
			margin-top: 0.4em;
		}
	}
}
