.chats-history {
  display: flex;
  flex: 1 1 auto;
  height: 0;
  overflow-y: auto;
  position: relative;

  .comments {
    max-width: 100%;
  }

  .comment {
    background-color: rgba(155,155,155,0.2) !important;
    padding: 7px 10px !important;
    position: relative;

    .author,
    .text {
      color: #ddd;

      &:hover {
        .actions {
          visibility: visible;
        }
      }

      .edited {
        font-size: 10px;
        color: #999;
      }
    }

    .metadata {
      color: #666;
    }

    .actions {
      visibility: hidden;
    }
  }
}
