.voip-header {
	height: 48px;
	line-height: 48px;
	position: absolute;
	bottom: 56px;
	right: 0;
	border: 2px solid rgba(0, 0, 0, 0.3);
	width: 240px;

	.signal.icon {
		margin-right: 0.5em;
	}

	.text {
		display: inline-block;
		line-height: 20px;

		small {
			color: #999;
			display: block;
		}
	}

	.menu {
		float: right;

		i {
			font-size: 18px;
			margin-left: 5px;
			cursor: pointer;
			transition: color 0.3s;
		}
	}
}
