//TODO: want canvas to be fullscreen behind the grid which will have rgba sections
#application-canvas {
  display: block;
  //width: 100vw;
  //height: 100vh;
  //position: absolute;
  //top: 0; bottom: 0; left: 0; right: 0;
  //z-index: 0;
}
