.add-channel {
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header {
    margin: 0;
    text-transform: uppercase;
  }

  .icon.button {
    color: #eee;
    padding: 0.515em;
    background-color: transparent;

    &:hover {
      color: #eee;
      background-color: #111;
    }

    &:active,
    &:focus {
      color: #eee;
      background-color: transparent;
    }
  }
}
