.channel {
  display: flex !important;
  justify-content: space-between;
  margin-left: 4px;
  flex: 1;

  &.is-current-channel,
  &:hover {
    margin-left: 0;
    background-color: #424242;
    border-left: 4px solid $primary;

    a {
      color: #f1f1f1;
    }

    button {
      visibility: visible !important;
    }
  }

  .prepend {
    font-size: 13px !important;
    margin-right: 10px;
  }

  .channel-link {
    color: #999;
    padding: 8px 1em;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button {
    background: transparent !important;
    outline: transparent !important;
    border: none !important;
    color: #999 !important;
    margin-right: 1em !important;
    visibility: hidden !important;
    &:hover {
      color: #f1f1f1 !important;
    }
  }
}
