.server-list {
	flex: 1 1 auto;
	height: 0;
	overflow-y: auto;

	.server {
		&.current {
			.avatar {
				border-radius: 20% !important;
				animation: none !important;
			}
		}
	}

	.avatar {
		width: 40px !important;
		height: 40px !important;
		line-height: 40px;
		text-align: center;
		color: #fff !important;
		cursor: pointer;
		// border-radius: 50%;
		animation-name: fix;
		animation-timing-function: ease-in-out;
		animation-duration: 0.5s;

		&:hover {
			border-radius: 20%;
			animation-name: borders;
			animation-duration: 0.5s;
			animation-timing-function: ease-in-out;
		}
	}
}

@keyframes borders {
	0% {
		border-radius: 50%;
	}
	33% {
		border-radius: 15%;
	}
	66% {
		border-radius: 25%;
	}
	100% {
		border-radius: 20%;
	}
}

@keyframes fix {
	from {
		border-radius: 20%;
	}
	to {
		border-radius: 50%;
	}
}
