html{
 height: 100%;
}

body > #root > .App {
  min-height: 100%;
  overflow: hidden;
}

.a-link {
  cursor: pointer;
}
a {
  color: #6435c9 !important;
}

@import "./components/pages/loginPage";
@import "./components/pages/registerPage";

@import "./components/pages/profilePage";

@import "./components/pages/errorPage";
