html {
  height: 100%; }

body > #root > .App {
  min-height: 100%;
  overflow: hidden; }

.a-link {
  cursor: pointer; }

a {
  color: #6435c9 !important; }

.login-page {
  height: 100vh;
  background-image: url("./../../assets/images/login_bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .login-page .grid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0; }
  .login-page .logo-seg {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9); }
  .login-page .form-seg {
    background-color: rgba(247, 206, 217, 0.4); }

.register-page {
  height: 100vh;
  background-image: url("./../../assets/images/signup_bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .register-page .grid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0; }
  .register-page .logo-seg {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9); }
  .register-page .form-seg {
    background-color: rgba(104, 181, 157, 0.4); }
