@import url(https://fonts.googleapis.com/css?family=Oswald:700);
html {
  height: 100%; }

body > #root > .App {
  min-height: 100%;
  overflow: hidden; }

.a-link {
  cursor: pointer; }

.centered {
  text-align: center; }

.top-nav {
  padding: 2em 2.5em; }
  .top-nav .text {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #a2aab2;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    vertical-align: middle; }
  .top-nav .menu-span.text {
    margin-left: 0.85em; }
  .top-nav .menu-btn .icon,
  .top-nav .menu-btn .text {
    display: inline-block;
    vertical-align: middle; }
  .top-nav .menu-btn .line {
    background-color: #a2aab2;
    height: 3px;
    width: 45px;
    margin-bottom: 7px;
    transition: all 500ms ease-in-out; }
  .top-nav .menu-btn .line-center {
    position: relative;
    margin-left: -15px;
    transition: all 500ms ease-in-out; }
    .top-nav .menu-btn .line-center:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #a2aab2;
      transition: all 500ms ease-in-out;
      z-index: 9; }
  .top-nav .menu-btn:hover .line {
    margin-left: -5px; }
  .top-nav .menu-btn.open .icon .line-center {
    margin-left: -15px;
    transform: rotate(45deg);
    height: 3px;
    width: 45px; }
    .top-nav .menu-btn.open .icon .line-center::after {
      transform: rotate(-90deg); }
  .top-nav .menu-btn.open .icon .line-outer {
    display: none; }
  .top-nav .menu-btn.open.btn-toggle-menu .text {
    display: none; }
  .top-nav .search-btn .circle {
    position: relative;
    background-color: transparent;
    height: 23px;
    width: 23px;
    border: 3.5px solid #a2aab2;
    border-radius: 100%;
    transition: all 500ms ease-in-out;
    z-index: 1; }
  .top-nav .search-btn .handle {
    display: block;
    position: absolute;
    border-width: 0;
    background-color: transparent;
    bottom: 0;
    right: 36%;
    height: 36px;
    width: 3.5px;
    transform: rotate(-45deg); }
    .top-nav .search-btn .handle:after {
      content: '';
      display: block;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, #a2aab2 75%);
      height: 36px;
      width: 3.5px;
      transition: all 500ms ease-in-out; }
  .top-nav .search-btn.open .circle {
    transform: scale(0.03);
    background: #a2aab2;
    border-color: #a2aab2; }
  .top-nav .search-btn.open .handle {
    background-color: #a2aab2;
    transition: all 500ms ease-in-out; }
    .top-nav .search-btn.open .handle:after {
      background-color: #a2aab2;
      transform-origin: center;
      transform: rotate(90deg); }

.profile-header {
  padding: 0 1em;
  height: 28px;
  display: flex;
  justify-content: space-between;
  line-height: 28px; }

.home-page {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden; }
  .home-page .some-stars {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1154px 1330px #FFF, 530px 288px #FFF, 1011px 1757px #FFF, 320px 1878px #FFF, 854px 1662px #FFF, 1237px 176px #FFF, 1836px 292px #FFF, 1669px 892px #FFF, 635px 1551px #FFF, 794px 807px #FFF, 1076px 1683px #FFF, 1028px 335px #FFF, 79px 58px #FFF, 495px 232px #FFF, 541px 472px #FFF, 1469px 912px #FFF, 1767px 196px #FFF, 1765px 698px #FFF, 1593px 362px #FFF, 942px 554px #FFF, 667px 644px #FFF, 1991px 951px #FFF, 1137px 1175px #FFF, 1693px 1731px #FFF, 37px 104px #FFF, 107px 1074px #FFF, 1112px 1445px #FFF, 162px 52px #FFF, 1875px 1562px #FFF, 1571px 1862px #FFF, 1741px 453px #FFF, 1223px 714px #FFF, 1191px 1449px #FFF, 51px 1285px #FFF, 290px 1633px #FFF, 681px 531px #FFF, 538px 686px #FFF, 712px 268px #FFF, 796px 1414px #FFF, 711px 1846px #FFF, 140px 1407px #FFF, 62px 1722px #FFF, 1061px 672px #FFF, 1801px 1752px #FFF, 379px 1816px #FFF, 1716px 679px #FFF, 748px 320px #FFF, 1309px 1101px #FFF, 215px 652px #FFF, 1784px 1565px #FFF, 943px 1006px #FFF, 1404px 1789px #FFF, 1793px 419px #FFF, 1524px 998px #FFF, 984px 943px #FFF, 739px 770px #FFF, 572px 114px #FFF, 752px 1093px #FFF, 896px 1028px #FFF, 887px 98px #FFF, 513px 879px #FFF, 198px 1868px #FFF, 558px 1020px #FFF, 1210px 230px #FFF, 1674px 1961px #FFF, 1211px 1810px #FFF, 204px 401px #FFF, 1361px 199px #FFF, 1911px 780px #FFF, 83px 1613px #FFF, 1734px 1728px #FFF, 1536px 1277px #FFF, 1963px 1452px #FFF, 1085px 1284px #FFF, 463px 340px #FFF, 692px 1598px #FFF, 579px 1200px #FFF, 465px 1902px #FFF, 252px 1440px #FFF, 1282px 1888px #FFF, 1598px 441px #FFF, 1435px 888px #FFF, 306px 1054px #FFF, 338px 1061px #FFF, 901px 1046px #FFF, 1964px 485px #FFF, 850px 1011px #FFF, 1441px 1080px #FFF, 168px 1457px #FFF, 713px 1156px #FFF, 1459px 927px #FFF, 938px 912px #FFF, 1065px 1638px #FFF, 1792px 1829px #FFF, 1455px 1372px #FFF, 824px 540px #FFF, 1894px 402px #FFF, 1842px 596px #FFF, 822px 1149px #FFF, 1741px 1070px #FFF, 1803px 289px #FFF, 1111px 18px #FFF, 1855px 1188px #FFF, 1568px 1030px #FFF, 1770px 1987px #FFF, 745px 1509px #FFF, 726px 1729px #FFF, 1252px 403px #FFF, 1518px 802px #FFF, 1168px 259px #FFF, 1129px 1392px #FFF, 130px 1728px #FFF, 480px 429px #FFF, 562px 967px #FFF, 1914px 855px #FFF, 1024px 928px #FFF, 718px 227px #FFF, 634px 1200px #FFF, 1122px 699px #FFF, 476px 461px #FFF, 1446px 1055px #FFF, 149px 1466px #FFF, 1485px 1164px #FFF, 205px 1846px #FFF, 667px 288px #FFF, 545px 511px #FFF, 1680px 1327px #FFF, 666px 1387px #FFF, 1066px 42px #FFF, 1580px 118px #FFF, 765px 695px #FFF, 1252px 1588px #FFF, 1333px 508px #FFF, 1511px 1490px #FFF, 416px 211px #FFF, 297px 735px #FFF, 515px 984px #FFF, 1442px 651px #FFF, 522px 1507px #FFF, 1667px 693px #FFF, 900px 1724px #FFF, 1733px 1105px #FFF, 418px 1349px #FFF, 1928px 11px #FFF, 1154px 1279px #FFF, 738px 1040px #FFF, 877px 33px #FFF, 1015px 1724px #FFF, 1362px 1766px #FFF, 1744px 551px #FFF, 1022px 160px #FFF, 1057px 1191px #FFF, 1056px 532px #FFF, 96px 748px #FFF, 1023px 1014px #FFF, 1555px 371px #FFF, 863px 794px #FFF, 1435px 747px #FFF, 1907px 796px #FFF, 1338px 1588px #FFF, 1554px 1004px #FFF, 851px 794px #FFF, 182px 732px #FFF, 1044px 1949px #FFF, 165px 373px #FFF, 1708px 1447px #FFF, 616px 1007px #FFF, 1236px 1139px #FFF, 736px 1490px #FFF, 942px 1964px #FFF, 1333px 730px #FFF, 1032px 1549px #FFF, 1425px 1955px #FFF, 1455px 314px #FFF, 1775px 1175px #FFF, 1px 1769px #FFF, 173px 397px #FFF, 1865px 573px #FFF, 391px 1271px #FFF, 1561px 64px #FFF, 30px 1369px #FFF, 43px 1373px #FFF, 1177px 282px #FFF, 1750px 836px #FFF, 30px 1494px #FFF, 1184px 368px #FFF, 186px 1047px #FFF, 74px 931px #FFF, 1042px 1336px #FFF, 1314px 94px #FFF, 342px 1053px #FFF, 722px 1328px #FFF, 1775px 1469px #FFF, 605px 965px #FFF, 1474px 1383px #FFF, 760px 41px #FFF, 358px 564px #FFF, 1257px 438px #FFF, 1681px 425px #FFF, 1274px 777px #FFF;
    animation: parallaxStar 100s linear infinite; }
    .home-page .some-stars:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 1154px 1330px #FFF, 530px 288px #FFF, 1011px 1757px #FFF, 320px 1878px #FFF, 854px 1662px #FFF, 1237px 176px #FFF, 1836px 292px #FFF, 1669px 892px #FFF, 635px 1551px #FFF, 794px 807px #FFF, 1076px 1683px #FFF, 1028px 335px #FFF, 79px 58px #FFF, 495px 232px #FFF, 541px 472px #FFF, 1469px 912px #FFF, 1767px 196px #FFF, 1765px 698px #FFF, 1593px 362px #FFF, 942px 554px #FFF, 667px 644px #FFF, 1991px 951px #FFF, 1137px 1175px #FFF, 1693px 1731px #FFF, 37px 104px #FFF, 107px 1074px #FFF, 1112px 1445px #FFF, 162px 52px #FFF, 1875px 1562px #FFF, 1571px 1862px #FFF, 1741px 453px #FFF, 1223px 714px #FFF, 1191px 1449px #FFF, 51px 1285px #FFF, 290px 1633px #FFF, 681px 531px #FFF, 538px 686px #FFF, 712px 268px #FFF, 796px 1414px #FFF, 711px 1846px #FFF, 140px 1407px #FFF, 62px 1722px #FFF, 1061px 672px #FFF, 1801px 1752px #FFF, 379px 1816px #FFF, 1716px 679px #FFF, 748px 320px #FFF, 1309px 1101px #FFF, 215px 652px #FFF, 1784px 1565px #FFF, 943px 1006px #FFF, 1404px 1789px #FFF, 1793px 419px #FFF, 1524px 998px #FFF, 984px 943px #FFF, 739px 770px #FFF, 572px 114px #FFF, 752px 1093px #FFF, 896px 1028px #FFF, 887px 98px #FFF, 513px 879px #FFF, 198px 1868px #FFF, 558px 1020px #FFF, 1210px 230px #FFF, 1674px 1961px #FFF, 1211px 1810px #FFF, 204px 401px #FFF, 1361px 199px #FFF, 1911px 780px #FFF, 83px 1613px #FFF, 1734px 1728px #FFF, 1536px 1277px #FFF, 1963px 1452px #FFF, 1085px 1284px #FFF, 463px 340px #FFF, 692px 1598px #FFF, 579px 1200px #FFF, 465px 1902px #FFF, 252px 1440px #FFF, 1282px 1888px #FFF, 1598px 441px #FFF, 1435px 888px #FFF, 306px 1054px #FFF, 338px 1061px #FFF, 901px 1046px #FFF, 1964px 485px #FFF, 850px 1011px #FFF, 1441px 1080px #FFF, 168px 1457px #FFF, 713px 1156px #FFF, 1459px 927px #FFF, 938px 912px #FFF, 1065px 1638px #FFF, 1792px 1829px #FFF, 1455px 1372px #FFF, 824px 540px #FFF, 1894px 402px #FFF, 1842px 596px #FFF, 822px 1149px #FFF, 1741px 1070px #FFF, 1803px 289px #FFF, 1111px 18px #FFF, 1855px 1188px #FFF, 1568px 1030px #FFF, 1770px 1987px #FFF, 745px 1509px #FFF, 726px 1729px #FFF, 1252px 403px #FFF, 1518px 802px #FFF, 1168px 259px #FFF, 1129px 1392px #FFF, 130px 1728px #FFF, 480px 429px #FFF, 562px 967px #FFF, 1914px 855px #FFF, 1024px 928px #FFF, 718px 227px #FFF, 634px 1200px #FFF, 1122px 699px #FFF, 476px 461px #FFF, 1446px 1055px #FFF, 149px 1466px #FFF, 1485px 1164px #FFF, 205px 1846px #FFF, 667px 288px #FFF, 545px 511px #FFF, 1680px 1327px #FFF, 666px 1387px #FFF, 1066px 42px #FFF, 1580px 118px #FFF, 765px 695px #FFF, 1252px 1588px #FFF, 1333px 508px #FFF, 1511px 1490px #FFF, 416px 211px #FFF, 297px 735px #FFF, 515px 984px #FFF, 1442px 651px #FFF, 522px 1507px #FFF, 1667px 693px #FFF, 900px 1724px #FFF, 1733px 1105px #FFF, 418px 1349px #FFF, 1928px 11px #FFF, 1154px 1279px #FFF, 738px 1040px #FFF, 877px 33px #FFF, 1015px 1724px #FFF, 1362px 1766px #FFF, 1744px 551px #FFF, 1022px 160px #FFF, 1057px 1191px #FFF, 1056px 532px #FFF, 96px 748px #FFF, 1023px 1014px #FFF, 1555px 371px #FFF, 863px 794px #FFF, 1435px 747px #FFF, 1907px 796px #FFF, 1338px 1588px #FFF, 1554px 1004px #FFF, 851px 794px #FFF, 182px 732px #FFF, 1044px 1949px #FFF, 165px 373px #FFF, 1708px 1447px #FFF, 616px 1007px #FFF, 1236px 1139px #FFF, 736px 1490px #FFF, 942px 1964px #FFF, 1333px 730px #FFF, 1032px 1549px #FFF, 1425px 1955px #FFF, 1455px 314px #FFF, 1775px 1175px #FFF, 1px 1769px #FFF, 173px 397px #FFF, 1865px 573px #FFF, 391px 1271px #FFF, 1561px 64px #FFF, 30px 1369px #FFF, 43px 1373px #FFF, 1177px 282px #FFF, 1750px 836px #FFF, 30px 1494px #FFF, 1184px 368px #FFF, 186px 1047px #FFF, 74px 931px #FFF, 1042px 1336px #FFF, 1314px 94px #FFF, 342px 1053px #FFF, 722px 1328px #FFF, 1775px 1469px #FFF, 605px 965px #FFF, 1474px 1383px #FFF, 760px 41px #FFF, 358px 564px #FFF, 1257px 438px #FFF, 1681px 425px #FFF, 1274px 777px #FFF; }
  .home-page .stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 982px 1875px #FFF, 442px 1586px #FFF, 1630px 1830px #FFF, 1706px 1639px #FFF, 347px 1068px #FFF, 1487px 1957px #FFF, 639px 437px #FFF, 640px 1195px #FFF, 1352px 1974px #FFF, 613px 1056px #FFF, 538px 1772px #FFF, 1883px 879px #FFF, 257px 1232px #FFF, 1048px 1640px #FFF, 1709px 1280px #FFF, 713px 484px #FFF, 496px 1358px #FFF, 103px 1315px #FFF, 1587px 1481px #FFF, 235px 576px #FFF, 1367px 1486px #FFF, 26px 1887px #FFF, 968px 973px #FFF, 1978px 1584px #FFF, 1125px 529px #FFF, 1383px 1397px #FFF, 1173px 1241px #FFF, 1608px 454px #FFF, 908px 688px #FFF, 864px 823px #FFF, 808px 753px #FFF, 754px 1846px #FFF, 1053px 1795px #FFF, 110px 610px #FFF, 1730px 1886px #FFF, 134px 1572px #FFF, 869px 1554px #FFF, 447px 1097px #FFF, 1893px 481px #FFF, 933px 424px #FFF, 551px 864px #FFF, 1198px 1205px #FFF, 1905px 395px #FFF, 641px 1990px #FFF, 995px 719px #FFF, 112px 246px #FFF, 233px 454px #FFF, 1648px 610px #FFF, 484px 1169px #FFF, 342px 334px #FFF, 1915px 1735px #FFF, 1273px 1853px #FFF, 1940px 1807px #FFF, 1864px 1275px #FFF, 1922px 38px #FFF, 287px 16px #FFF, 1470px 873px #FFF, 939px 39px #FFF, 1303px 1790px #FFF, 756px 1214px #FFF, 446px 785px #FFF, 1620px 797px #FFF, 235px 1870px #FFF, 1521px 561px #FFF, 454px 1946px #FFF, 599px 1872px #FFF, 153px 768px #FFF, 64px 224px #FFF, 194px 1016px #FFF, 844px 848px #FFF, 1390px 1243px #FFF, 1195px 104px #FFF, 464px 1779px #FFF, 253px 817px #FFF, 1282px 123px #FFF, 469px 462px #FFF, 1323px 1783px #FFF, 578px 1844px #FFF, 1158px 834px #FFF, 49px 747px #FFF, 173px 627px #FFF, 361px 1193px #FFF, 1292px 1216px #FFF, 459px 1675px #FFF, 1380px 1484px #FFF, 996px 1778px #FFF, 1502px 1499px #FFF, 745px 885px #FFF, 841px 859px #FFF, 286px 1501px #FFF, 1309px 708px #FFF, 1361px 1433px #FFF, 1735px 139px #FFF, 969px 659px #FFF, 1127px 1242px #FFF, 122px 1939px #FFF, 287px 974px #FFF, 722px 478px #FFF, 573px 1490px #FFF, 629px 814px #FFF, 544px 1911px #FFF, 671px 850px #FFF, 332px 512px #FFF, 694px 1683px #FFF, 185px 107px #FFF, 230px 1674px #FFF, 651px 798px #FFF, 1261px 7px #FFF, 1753px 1209px #FFF, 188px 1817px #FFF, 774px 224px #FFF, 1931px 1941px #FFF, 899px 40px #FFF, 223px 1696px #FFF, 1187px 83px #FFF, 406px 840px #FFF, 1253px 826px #FFF, 1361px 1530px #FFF, 441px 927px #FFF, 1733px 635px #FFF, 1486px 1311px #FFF, 224px 22px #FFF, 1934px 518px #FFF, 1314px 1924px #FFF, 959px 189px #FFF, 384px 798px #FFF, 1123px 1713px #FFF, 1311px 1521px #FFF, 513px 429px #FFF, 1658px 1737px #FFF, 546px 651px #FFF, 1497px 1675px #FFF, 1875px 1269px #FFF, 966px 592px #FFF, 1187px 1439px #FFF, 1669px 903px #FFF, 442px 1116px #FFF, 835px 1598px #FFF, 1872px 1923px #FFF, 1327px 1802px #FFF, 1929px 386px #FFF, 555px 880px #FFF, 1104px 1842px #FFF, 631px 1994px #FFF, 131px 952px #FFF, 1104px 1448px #FFF, 633px 1260px #FFF, 720px 1086px #FFF, 1496px 1234px #FFF, 1770px 1368px #FFF, 1507px 526px #FFF, 1739px 1066px #FFF, 433px 1198px #FFF, 1662px 896px #FFF, 892px 448px #FFF, 482px 1693px #FFF, 873px 783px #FFF, 988px 1391px #FFF, 692px 994px #FFF, 396px 1140px #FFF, 1245px 1926px #FFF, 427px 103px #FFF, 1819px 63px #FFF, 1502px 1666px #FFF, 1772px 1855px #FFF, 1678px 29px #FFF, 789px 1325px #FFF, 193px 1825px #FFF, 1907px 1433px #FFF, 521px 362px #FFF, 803px 461px #FFF, 150px 333px #FFF, 1631px 1124px #FFF, 1503px 1918px #FFF, 79px 704px #FFF, 173px 1467px #FFF, 1724px 823px #FFF, 1569px 1815px #FFF, 77px 1728px #FFF, 1068px 1473px #FFF, 80px 1869px #FFF, 795px 718px #FFF, 1014px 1046px #FFF, 665px 264px #FFF, 1005px 1324px #FFF, 921px 331px #FFF, 817px 1076px #FFF, 1111px 1774px #FFF, 847px 773px #FFF, 605px 1668px #FFF, 1168px 143px #FFF, 148px 474px #FFF, 1708px 1381px #FFF, 1190px 1249px #FFF, 188px 930px #FFF, 448px 1605px #FFF, 1327px 944px #FFF, 1009px 332px #FFF, 908px 765px #FFF, 366px 1748px #FFF, 1059px 400px #FFF, 980px 564px #FFF, 1026px 1700px #FFF, 1595px 693px #FFF, 1547px 16px #FFF, 315px 1122px #FFF, 1317px 1159px #FFF, 137px 1912px #FFF, 245px 992px #FFF, 249px 611px #FFF, 895px 1086px #FFF, 1528px 1406px #FFF, 1077px 89px #FFF, 700px 1541px #FFF, 1501px 1467px #FFF, 1068px 1938px #FFF, 262px 1650px #FFF, 1658px 138px #FFF, 739px 1834px #FFF, 1436px 1214px #FFF, 672px 797px #FFF, 675px 1753px #FFF, 1228px 324px #FFF, 15px 1139px #FFF, 973px 1353px #FFF, 1810px 405px #FFF, 1569px 1607px #FFF, 1893px 865px #FFF, 199px 1836px #FFF, 1657px 1906px #FFF, 565px 993px #FFF, 1316px 1577px #FFF, 441px 1682px #FFF, 1502px 1926px #FFF, 439px 85px #FFF, 182px 1315px #FFF, 1589px 1547px #FFF, 465px 1216px #FFF, 929px 441px #FFF, 1392px 498px #FFF, 1921px 1837px #FFF, 476px 1820px #FFF, 652px 1624px #FFF, 855px 885px #FFF, 154px 1517px #FFF, 65px 1451px #FFF, 269px 1830px #FFF, 928px 459px #FFF, 891px 1613px #FFF, 1762px 1841px #FFF, 1814px 719px #FFF, 1283px 160px #FFF, 1851px 1126px #FFF, 73px 390px #FFF, 1906px 214px #FFF, 767px 102px #FFF, 143px 1289px #FFF, 651px 690px #FFF, 1739px 1985px #FFF, 1885px 529px #FFF, 876px 895px #FFF, 1183px 742px #FFF, 1095px 1770px #FFF, 393px 337px #FFF, 1999px 766px #FFF, 398px 994px #FFF, 230px 821px #FFF, 22px 1312px #FFF, 1598px 1516px #FFF, 1013px 202px #FFF, 1321px 63px #FFF, 1900px 1697px #FFF, 223px 190px #FFF, 688px 1669px #FFF, 868px 444px #FFF, 1670px 1924px #FFF, 413px 958px #FFF, 521px 68px #FFF, 1855px 1311px #FFF, 854px 1428px #FFF, 65px 1211px #FFF, 1164px 716px #FFF, 1544px 1320px #FFF, 1583px 970px #FFF, 859px 1761px #FFF, 1638px 1609px #FFF, 339px 7px #FFF, 1179px 1659px #FFF, 770px 616px #FFF, 1457px 313px #FFF, 191px 1897px #FFF, 592px 1941px #FFF, 1274px 925px #FFF, 1098px 790px #FFF, 1736px 593px #FFF, 1325px 1003px #FFF, 1706px 1273px #FFF, 372px 1194px #FFF, 145px 1720px #FFF, 1773px 1973px #FFF, 829px 798px #FFF, 1721px 1578px #FFF, 1896px 1948px #FFF, 250px 1630px #FFF, 1559px 18px #FFF, 1371px 1221px #FFF, 334px 1398px #FFF, 961px 621px #FFF, 24px 1729px #FFF, 879px 551px #FFF, 1826px 1934px #FFF, 394px 349px #FFF, 1474px 1864px #FFF, 715px 105px #FFF, 965px 516px #FFF, 474px 519px #FFF, 1580px 755px #FFF, 1363px 88px #FFF, 1362px 746px #FFF, 1605px 968px #FFF, 172px 369px #FFF, 1601px 1613px #FFF, 500px 1045px #FFF, 552px 1876px #FFF, 1016px 683px #FFF, 1330px 1993px #FFF, 1348px 1537px #FFF, 470px 1694px #FFF, 572px 1819px #FFF, 1106px 1875px #FFF, 1328px 652px #FFF, 330px 1098px #FFF, 1135px 1675px #FFF, 504px 890px #FFF, 1491px 429px #FFF, 1239px 56px #FFF, 1814px 1670px #FFF, 1155px 194px #FFF, 179px 1715px #FFF, 1920px 350px #FFF, 153px 1139px #FFF, 836px 431px #FFF, 425px 1041px #FFF, 799px 246px #FFF, 194px 1951px #FFF, 622px 1001px #FFF, 680px 34px #FFF, 1000px 743px #FFF, 734px 208px #FFF, 1378px 577px #FFF, 11px 1942px #FFF, 18px 163px #FFF, 412px 887px #FFF, 896px 461px #FFF, 1873px 271px #FFF, 921px 1197px #FFF, 486px 1060px #FFF, 1211px 1196px #FFF, 1838px 1902px #FFF, 338px 1221px #FFF, 262px 1496px #FFF, 796px 242px #FFF, 369px 1301px #FFF, 1485px 430px #FFF, 215px 1345px #FFF, 506px 4px #FFF, 1215px 1481px #FFF, 1109px 1211px #FFF, 155px 1712px #FFF, 1022px 269px #FFF, 553px 795px #FFF, 881px 279px #FFF, 936px 630px #FFF, 311px 674px #FFF, 1264px 657px #FFF, 690px 1893px #FFF, 1344px 782px #FFF, 712px 1975px #FFF, 1116px 494px #FFF, 1732px 221px #FFF, 1497px 1705px #FFF, 401px 1667px #FFF, 84px 1405px #FFF, 1275px 1806px #FFF, 1728px 1196px #FFF, 1710px 1196px #FFF, 1643px 704px #FFF, 1653px 938px #FFF, 748px 870px #FFF, 708px 573px #FFF, 1149px 842px #FFF, 1018px 1456px #FFF, 1290px 1630px #FFF, 217px 1767px #FFF, 1662px 702px #FFF, 1254px 1264px #FFF, 442px 1314px #FFF, 1928px 359px #FFF, 139px 1368px #FFF, 1922px 176px #FFF, 215px 123px #FFF, 1521px 1737px #FFF, 1533px 478px #FFF, 1999px 1360px #FFF, 789px 1734px #FFF, 1369px 1546px #FFF, 1726px 1717px #FFF, 838px 1179px #FFF, 1526px 1402px #FFF, 877px 77px #FFF, 12px 316px #FFF, 640px 1174px #FFF, 949px 1830px #FFF, 421px 555px #FFF, 1257px 318px #FFF, 1162px 1773px #FFF, 1902px 875px #FFF, 1586px 1548px #FFF, 219px 925px #FFF, 997px 254px #FFF, 151px 1056px #FFF, 1674px 178px #FFF, 544px 780px #FFF, 1760px 504px #FFF, 1628px 956px #FFF, 1384px 1766px #FFF, 790px 1327px #FFF, 31px 5px #FFF, 543px 686px #FFF, 1889px 85px #FFF, 1844px 192px #FFF, 1736px 710px #FFF, 609px 1256px #FFF, 15px 168px #FFF, 1231px 995px #FFF, 1614px 1226px #FFF, 1615px 1512px #FFF, 254px 1552px #FFF, 168px 1946px #FFF, 1911px 1232px #FFF, 1543px 1001px #FFF, 1724px 1719px #FFF, 639px 1781px #FFF, 977px 1087px #FFF, 1670px 1433px #FFF, 1892px 304px #FFF, 1195px 219px #FFF, 1572px 1277px #FFF, 671px 514px #FFF, 147px 1019px #FFF, 1114px 1622px #FFF, 1632px 900px #FFF, 1800px 557px #FFF, 350px 435px #FFF, 1270px 810px #FFF, 726px 94px #FFF, 713px 1453px #FFF, 1764px 722px #FFF, 1319px 1820px #FFF, 1415px 12px #FFF, 1928px 624px #FFF, 1902px 1384px #FFF, 751px 773px #FFF, 1060px 466px #FFF, 396px 1643px #FFF, 106px 645px #FFF, 1891px 1940px #FFF, 724px 1999px #FFF, 858px 749px #FFF, 1667px 1023px #FFF, 1516px 989px #FFF, 1941px 961px #FFF, 1750px 1273px #FFF, 27px 1330px #FFF, 960px 919px #FFF, 826px 1385px #FFF, 565px 1647px #FFF, 1038px 1849px #FFF, 473px 1298px #FFF, 6px 460px #FFF, 602px 1356px #FFF, 920px 1314px #FFF, 745px 59px #FFF, 1615px 1386px #FFF, 1081px 544px #FFF, 331px 1014px #FFF, 421px 55px #FFF, 1584px 475px #FFF, 1006px 561px #FFF, 1090px 158px #FFF, 47px 426px #FFF, 1954px 132px #FFF, 1384px 793px #FFF, 666px 693px #FFF, 1632px 255px #FFF, 286px 1735px #FFF, 982px 817px #FFF, 1695px 1928px #FFF, 884px 352px #FFF, 850px 1130px #FFF, 1341px 1145px #FFF, 310px 139px #FFF, 294px 1783px #FFF, 914px 1398px #FFF, 1991px 1401px #FFF, 1281px 805px #FFF, 237px 1410px #FFF, 160px 1492px #FFF, 686px 1593px #FFF, 725px 1509px #FFF, 1406px 904px #FFF, 1208px 323px #FFF, 1494px 802px #FFF, 423px 1331px #FFF, 1478px 368px #FFF, 178px 208px #FFF, 1448px 963px #FFF, 873px 565px #FFF, 1106px 1701px #FFF, 1299px 1128px #FFF, 574px 1245px #FFF, 1833px 228px #FFF, 1664px 1115px #FFF, 1508px 1764px #FFF, 1650px 1115px #FFF, 1383px 1964px #FFF, 1181px 1191px #FFF, 1729px 492px #FFF, 1161px 452px #FFF, 59px 1711px #FFF, 1491px 992px #FFF, 544px 995px #FFF, 394px 41px #FFF, 1992px 922px #FFF, 1632px 1909px #FFF, 1456px 838px #FFF, 902px 410px #FFF, 1436px 1500px #FFF, 1405px 879px #FFF, 37px 1457px #FFF, 1827px 1444px #FFF, 1476px 1787px #FFF, 1042px 1162px #FFF, 1915px 1965px #FFF, 64px 1801px #FFF, 1056px 619px #FFF, 1834px 1910px #FFF, 65px 258px #FFF, 1163px 167px #FFF, 1470px 606px #FFF, 1287px 860px #FFF, 1587px 1200px #FFF, 1077px 158px #FFF, 1319px 672px #FFF, 1630px 895px #FFF, 1183px 1580px #FFF, 1941px 1705px #FFF, 1927px 1435px #FFF, 1702px 830px #FFF, 1413px 586px #FFF, 312px 218px #FFF, 1286px 1110px #FFF, 623px 278px #FFF, 845px 1719px #FFF, 802px 603px #FFF, 145px 387px #FFF, 675px 579px #FFF, 1263px 1775px #FFF, 305px 979px #FFF, 749px 1190px #FFF, 1138px 1845px #FFF, 1576px 918px #FFF, 342px 793px #FFF, 1301px 456px #FFF, 1357px 409px #FFF, 849px 349px #FFF, 525px 1735px #FFF, 1392px 705px #FFF, 1705px 1096px #FFF, 1695px 1575px #FFF, 567px 1358px #FFF, 1031px 1584px #FFF, 735px 1427px #FFF, 332px 916px #FFF, 312px 1062px #FFF, 924px 768px #FFF, 632px 1790px #FFF, 1667px 378px #FFF, 1930px 336px #FFF, 1664px 484px #FFF, 1641px 1166px #FFF, 626px 377px #FFF, 1256px 1419px #FFF, 1515px 333px #FFF, 1536px 948px #FFF, 1266px 1353px #FFF, 1459px 651px #FFF, 519px 1049px #FFF, 1963px 1409px #FFF, 1776px 1052px #FFF, 650px 1552px #FFF, 478px 1404px #FFF, 684px 1360px #FFF, 1580px 1014px #FFF, 288px 1136px #FFF, 1034px 1271px #FFF, 1611px 1574px #FFF, 286px 776px #FFF, 191px 825px #FFF, 1919px 944px #FFF, 1045px 1327px #FFF, 1475px 1133px #FFF, 435px 345px #FFF, 822px 1517px #FFF, 1308px 592px #FFF, 806px 1724px #FFF, 859px 1370px #FFF, 1980px 684px #FFF, 1766px 740px #FFF, 1712px 703px #FFF, 1440px 466px #FFF, 944px 1671px #FFF, 539px 155px #FFF, 1625px 649px #FFF, 1933px 1573px #FFF, 1217px 1742px #FFF, 958px 1560px #FFF, 645px 1396px #FFF, 1404px 745px #FFF, 445px 1032px #FFF, 242px 420px #FFF, 140px 1304px #FFF, 828px 1883px #FFF, 74px 12px #FFF, 661px 1155px #FFF, 1021px 1508px #FFF, 1939px 1996px #FFF, 1030px 973px #FFF, 1951px 1324px #FFF, 1290px 434px #FFF, 56px 1082px #FFF, 98px 709px #FFF, 728px 945px #FFF, 324px 476px #FFF, 1522px 12px #FFF, 1084px 1119px #FFF, 900px 1712px #FFF, 418px 957px #FFF, 671px 800px #FFF, 1302px 1706px #FFF, 375px 1796px #FFF, 1903px 1693px #FFF, 54px 1352px #FFF, 1723px 926px #FFF, 721px 1814px #FFF, 536px 1500px #FFF, 1287px 1736px #FFF, 1310px 252px #FFF, 1305px 1338px #FFF, 1330px 498px #FFF, 197px 367px #FFF, 1594px 896px #FFF, 1736px 1807px #FFF, 641px 1522px #FFF, 1740px 819px #FFF, 1962px 254px #FFF, 149px 94px #FFF, 1302px 545px #FFF, 290px 1802px #FFF, 1258px 1049px #FFF, 196px 1979px #FFF, 1118px 593px #FFF, 218px 599px #FFF, 156px 607px #FFF, 784px 1527px #FFF, 937px 1538px #FFF, 876px 1812px #FFF, 649px 1984px #FFF, 1844px 1564px #FFF, 189px 318px #FFF, 1470px 1099px #FFF, 1777px 730px #FFF, 971px 313px #FFF, 900px 124px #FFF, 975px 405px #FFF, 1644px 978px #FFF, 1403px 1881px #FFF, 439px 577px #FFF, 857px 989px #FFF, 1735px 48px #FFF, 699px 1215px #FFF, 440px 1293px #FFF, 1042px 643px #FFF, 663px 793px #FFF, 583px 1373px #FFF, 678px 1463px #FFF, 1906px 1456px #FFF, 874px 1733px #FFF, 1444px 1303px #FFF, 137px 915px #FFF;
    animation: parallaxStar 50s linear infinite; }
    .home-page .stars:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 982px 1875px #FFF, 442px 1586px #FFF, 1630px 1830px #FFF, 1706px 1639px #FFF, 347px 1068px #FFF, 1487px 1957px #FFF, 639px 437px #FFF, 640px 1195px #FFF, 1352px 1974px #FFF, 613px 1056px #FFF, 538px 1772px #FFF, 1883px 879px #FFF, 257px 1232px #FFF, 1048px 1640px #FFF, 1709px 1280px #FFF, 713px 484px #FFF, 496px 1358px #FFF, 103px 1315px #FFF, 1587px 1481px #FFF, 235px 576px #FFF, 1367px 1486px #FFF, 26px 1887px #FFF, 968px 973px #FFF, 1978px 1584px #FFF, 1125px 529px #FFF, 1383px 1397px #FFF, 1173px 1241px #FFF, 1608px 454px #FFF, 908px 688px #FFF, 864px 823px #FFF, 808px 753px #FFF, 754px 1846px #FFF, 1053px 1795px #FFF, 110px 610px #FFF, 1730px 1886px #FFF, 134px 1572px #FFF, 869px 1554px #FFF, 447px 1097px #FFF, 1893px 481px #FFF, 933px 424px #FFF, 551px 864px #FFF, 1198px 1205px #FFF, 1905px 395px #FFF, 641px 1990px #FFF, 995px 719px #FFF, 112px 246px #FFF, 233px 454px #FFF, 1648px 610px #FFF, 484px 1169px #FFF, 342px 334px #FFF, 1915px 1735px #FFF, 1273px 1853px #FFF, 1940px 1807px #FFF, 1864px 1275px #FFF, 1922px 38px #FFF, 287px 16px #FFF, 1470px 873px #FFF, 939px 39px #FFF, 1303px 1790px #FFF, 756px 1214px #FFF, 446px 785px #FFF, 1620px 797px #FFF, 235px 1870px #FFF, 1521px 561px #FFF, 454px 1946px #FFF, 599px 1872px #FFF, 153px 768px #FFF, 64px 224px #FFF, 194px 1016px #FFF, 844px 848px #FFF, 1390px 1243px #FFF, 1195px 104px #FFF, 464px 1779px #FFF, 253px 817px #FFF, 1282px 123px #FFF, 469px 462px #FFF, 1323px 1783px #FFF, 578px 1844px #FFF, 1158px 834px #FFF, 49px 747px #FFF, 173px 627px #FFF, 361px 1193px #FFF, 1292px 1216px #FFF, 459px 1675px #FFF, 1380px 1484px #FFF, 996px 1778px #FFF, 1502px 1499px #FFF, 745px 885px #FFF, 841px 859px #FFF, 286px 1501px #FFF, 1309px 708px #FFF, 1361px 1433px #FFF, 1735px 139px #FFF, 969px 659px #FFF, 1127px 1242px #FFF, 122px 1939px #FFF, 287px 974px #FFF, 722px 478px #FFF, 573px 1490px #FFF, 629px 814px #FFF, 544px 1911px #FFF, 671px 850px #FFF, 332px 512px #FFF, 694px 1683px #FFF, 185px 107px #FFF, 230px 1674px #FFF, 651px 798px #FFF, 1261px 7px #FFF, 1753px 1209px #FFF, 188px 1817px #FFF, 774px 224px #FFF, 1931px 1941px #FFF, 899px 40px #FFF, 223px 1696px #FFF, 1187px 83px #FFF, 406px 840px #FFF, 1253px 826px #FFF, 1361px 1530px #FFF, 441px 927px #FFF, 1733px 635px #FFF, 1486px 1311px #FFF, 224px 22px #FFF, 1934px 518px #FFF, 1314px 1924px #FFF, 959px 189px #FFF, 384px 798px #FFF, 1123px 1713px #FFF, 1311px 1521px #FFF, 513px 429px #FFF, 1658px 1737px #FFF, 546px 651px #FFF, 1497px 1675px #FFF, 1875px 1269px #FFF, 966px 592px #FFF, 1187px 1439px #FFF, 1669px 903px #FFF, 442px 1116px #FFF, 835px 1598px #FFF, 1872px 1923px #FFF, 1327px 1802px #FFF, 1929px 386px #FFF, 555px 880px #FFF, 1104px 1842px #FFF, 631px 1994px #FFF, 131px 952px #FFF, 1104px 1448px #FFF, 633px 1260px #FFF, 720px 1086px #FFF, 1496px 1234px #FFF, 1770px 1368px #FFF, 1507px 526px #FFF, 1739px 1066px #FFF, 433px 1198px #FFF, 1662px 896px #FFF, 892px 448px #FFF, 482px 1693px #FFF, 873px 783px #FFF, 988px 1391px #FFF, 692px 994px #FFF, 396px 1140px #FFF, 1245px 1926px #FFF, 427px 103px #FFF, 1819px 63px #FFF, 1502px 1666px #FFF, 1772px 1855px #FFF, 1678px 29px #FFF, 789px 1325px #FFF, 193px 1825px #FFF, 1907px 1433px #FFF, 521px 362px #FFF, 803px 461px #FFF, 150px 333px #FFF, 1631px 1124px #FFF, 1503px 1918px #FFF, 79px 704px #FFF, 173px 1467px #FFF, 1724px 823px #FFF, 1569px 1815px #FFF, 77px 1728px #FFF, 1068px 1473px #FFF, 80px 1869px #FFF, 795px 718px #FFF, 1014px 1046px #FFF, 665px 264px #FFF, 1005px 1324px #FFF, 921px 331px #FFF, 817px 1076px #FFF, 1111px 1774px #FFF, 847px 773px #FFF, 605px 1668px #FFF, 1168px 143px #FFF, 148px 474px #FFF, 1708px 1381px #FFF, 1190px 1249px #FFF, 188px 930px #FFF, 448px 1605px #FFF, 1327px 944px #FFF, 1009px 332px #FFF, 908px 765px #FFF, 366px 1748px #FFF, 1059px 400px #FFF, 980px 564px #FFF, 1026px 1700px #FFF, 1595px 693px #FFF, 1547px 16px #FFF, 315px 1122px #FFF, 1317px 1159px #FFF, 137px 1912px #FFF, 245px 992px #FFF, 249px 611px #FFF, 895px 1086px #FFF, 1528px 1406px #FFF, 1077px 89px #FFF, 700px 1541px #FFF, 1501px 1467px #FFF, 1068px 1938px #FFF, 262px 1650px #FFF, 1658px 138px #FFF, 739px 1834px #FFF, 1436px 1214px #FFF, 672px 797px #FFF, 675px 1753px #FFF, 1228px 324px #FFF, 15px 1139px #FFF, 973px 1353px #FFF, 1810px 405px #FFF, 1569px 1607px #FFF, 1893px 865px #FFF, 199px 1836px #FFF, 1657px 1906px #FFF, 565px 993px #FFF, 1316px 1577px #FFF, 441px 1682px #FFF, 1502px 1926px #FFF, 439px 85px #FFF, 182px 1315px #FFF, 1589px 1547px #FFF, 465px 1216px #FFF, 929px 441px #FFF, 1392px 498px #FFF, 1921px 1837px #FFF, 476px 1820px #FFF, 652px 1624px #FFF, 855px 885px #FFF, 154px 1517px #FFF, 65px 1451px #FFF, 269px 1830px #FFF, 928px 459px #FFF, 891px 1613px #FFF, 1762px 1841px #FFF, 1814px 719px #FFF, 1283px 160px #FFF, 1851px 1126px #FFF, 73px 390px #FFF, 1906px 214px #FFF, 767px 102px #FFF, 143px 1289px #FFF, 651px 690px #FFF, 1739px 1985px #FFF, 1885px 529px #FFF, 876px 895px #FFF, 1183px 742px #FFF, 1095px 1770px #FFF, 393px 337px #FFF, 1999px 766px #FFF, 398px 994px #FFF, 230px 821px #FFF, 22px 1312px #FFF, 1598px 1516px #FFF, 1013px 202px #FFF, 1321px 63px #FFF, 1900px 1697px #FFF, 223px 190px #FFF, 688px 1669px #FFF, 868px 444px #FFF, 1670px 1924px #FFF, 413px 958px #FFF, 521px 68px #FFF, 1855px 1311px #FFF, 854px 1428px #FFF, 65px 1211px #FFF, 1164px 716px #FFF, 1544px 1320px #FFF, 1583px 970px #FFF, 859px 1761px #FFF, 1638px 1609px #FFF, 339px 7px #FFF, 1179px 1659px #FFF, 770px 616px #FFF, 1457px 313px #FFF, 191px 1897px #FFF, 592px 1941px #FFF, 1274px 925px #FFF, 1098px 790px #FFF, 1736px 593px #FFF, 1325px 1003px #FFF, 1706px 1273px #FFF, 372px 1194px #FFF, 145px 1720px #FFF, 1773px 1973px #FFF, 829px 798px #FFF, 1721px 1578px #FFF, 1896px 1948px #FFF, 250px 1630px #FFF, 1559px 18px #FFF, 1371px 1221px #FFF, 334px 1398px #FFF, 961px 621px #FFF, 24px 1729px #FFF, 879px 551px #FFF, 1826px 1934px #FFF, 394px 349px #FFF, 1474px 1864px #FFF, 715px 105px #FFF, 965px 516px #FFF, 474px 519px #FFF, 1580px 755px #FFF, 1363px 88px #FFF, 1362px 746px #FFF, 1605px 968px #FFF, 172px 369px #FFF, 1601px 1613px #FFF, 500px 1045px #FFF, 552px 1876px #FFF, 1016px 683px #FFF, 1330px 1993px #FFF, 1348px 1537px #FFF, 470px 1694px #FFF, 572px 1819px #FFF, 1106px 1875px #FFF, 1328px 652px #FFF, 330px 1098px #FFF, 1135px 1675px #FFF, 504px 890px #FFF, 1491px 429px #FFF, 1239px 56px #FFF, 1814px 1670px #FFF, 1155px 194px #FFF, 179px 1715px #FFF, 1920px 350px #FFF, 153px 1139px #FFF, 836px 431px #FFF, 425px 1041px #FFF, 799px 246px #FFF, 194px 1951px #FFF, 622px 1001px #FFF, 680px 34px #FFF, 1000px 743px #FFF, 734px 208px #FFF, 1378px 577px #FFF, 11px 1942px #FFF, 18px 163px #FFF, 412px 887px #FFF, 896px 461px #FFF, 1873px 271px #FFF, 921px 1197px #FFF, 486px 1060px #FFF, 1211px 1196px #FFF, 1838px 1902px #FFF, 338px 1221px #FFF, 262px 1496px #FFF, 796px 242px #FFF, 369px 1301px #FFF, 1485px 430px #FFF, 215px 1345px #FFF, 506px 4px #FFF, 1215px 1481px #FFF, 1109px 1211px #FFF, 155px 1712px #FFF, 1022px 269px #FFF, 553px 795px #FFF, 881px 279px #FFF, 936px 630px #FFF, 311px 674px #FFF, 1264px 657px #FFF, 690px 1893px #FFF, 1344px 782px #FFF, 712px 1975px #FFF, 1116px 494px #FFF, 1732px 221px #FFF, 1497px 1705px #FFF, 401px 1667px #FFF, 84px 1405px #FFF, 1275px 1806px #FFF, 1728px 1196px #FFF, 1710px 1196px #FFF, 1643px 704px #FFF, 1653px 938px #FFF, 748px 870px #FFF, 708px 573px #FFF, 1149px 842px #FFF, 1018px 1456px #FFF, 1290px 1630px #FFF, 217px 1767px #FFF, 1662px 702px #FFF, 1254px 1264px #FFF, 442px 1314px #FFF, 1928px 359px #FFF, 139px 1368px #FFF, 1922px 176px #FFF, 215px 123px #FFF, 1521px 1737px #FFF, 1533px 478px #FFF, 1999px 1360px #FFF, 789px 1734px #FFF, 1369px 1546px #FFF, 1726px 1717px #FFF, 838px 1179px #FFF, 1526px 1402px #FFF, 877px 77px #FFF, 12px 316px #FFF, 640px 1174px #FFF, 949px 1830px #FFF, 421px 555px #FFF, 1257px 318px #FFF, 1162px 1773px #FFF, 1902px 875px #FFF, 1586px 1548px #FFF, 219px 925px #FFF, 997px 254px #FFF, 151px 1056px #FFF, 1674px 178px #FFF, 544px 780px #FFF, 1760px 504px #FFF, 1628px 956px #FFF, 1384px 1766px #FFF, 790px 1327px #FFF, 31px 5px #FFF, 543px 686px #FFF, 1889px 85px #FFF, 1844px 192px #FFF, 1736px 710px #FFF, 609px 1256px #FFF, 15px 168px #FFF, 1231px 995px #FFF, 1614px 1226px #FFF, 1615px 1512px #FFF, 254px 1552px #FFF, 168px 1946px #FFF, 1911px 1232px #FFF, 1543px 1001px #FFF, 1724px 1719px #FFF, 639px 1781px #FFF, 977px 1087px #FFF, 1670px 1433px #FFF, 1892px 304px #FFF, 1195px 219px #FFF, 1572px 1277px #FFF, 671px 514px #FFF, 147px 1019px #FFF, 1114px 1622px #FFF, 1632px 900px #FFF, 1800px 557px #FFF, 350px 435px #FFF, 1270px 810px #FFF, 726px 94px #FFF, 713px 1453px #FFF, 1764px 722px #FFF, 1319px 1820px #FFF, 1415px 12px #FFF, 1928px 624px #FFF, 1902px 1384px #FFF, 751px 773px #FFF, 1060px 466px #FFF, 396px 1643px #FFF, 106px 645px #FFF, 1891px 1940px #FFF, 724px 1999px #FFF, 858px 749px #FFF, 1667px 1023px #FFF, 1516px 989px #FFF, 1941px 961px #FFF, 1750px 1273px #FFF, 27px 1330px #FFF, 960px 919px #FFF, 826px 1385px #FFF, 565px 1647px #FFF, 1038px 1849px #FFF, 473px 1298px #FFF, 6px 460px #FFF, 602px 1356px #FFF, 920px 1314px #FFF, 745px 59px #FFF, 1615px 1386px #FFF, 1081px 544px #FFF, 331px 1014px #FFF, 421px 55px #FFF, 1584px 475px #FFF, 1006px 561px #FFF, 1090px 158px #FFF, 47px 426px #FFF, 1954px 132px #FFF, 1384px 793px #FFF, 666px 693px #FFF, 1632px 255px #FFF, 286px 1735px #FFF, 982px 817px #FFF, 1695px 1928px #FFF, 884px 352px #FFF, 850px 1130px #FFF, 1341px 1145px #FFF, 310px 139px #FFF, 294px 1783px #FFF, 914px 1398px #FFF, 1991px 1401px #FFF, 1281px 805px #FFF, 237px 1410px #FFF, 160px 1492px #FFF, 686px 1593px #FFF, 725px 1509px #FFF, 1406px 904px #FFF, 1208px 323px #FFF, 1494px 802px #FFF, 423px 1331px #FFF, 1478px 368px #FFF, 178px 208px #FFF, 1448px 963px #FFF, 873px 565px #FFF, 1106px 1701px #FFF, 1299px 1128px #FFF, 574px 1245px #FFF, 1833px 228px #FFF, 1664px 1115px #FFF, 1508px 1764px #FFF, 1650px 1115px #FFF, 1383px 1964px #FFF, 1181px 1191px #FFF, 1729px 492px #FFF, 1161px 452px #FFF, 59px 1711px #FFF, 1491px 992px #FFF, 544px 995px #FFF, 394px 41px #FFF, 1992px 922px #FFF, 1632px 1909px #FFF, 1456px 838px #FFF, 902px 410px #FFF, 1436px 1500px #FFF, 1405px 879px #FFF, 37px 1457px #FFF, 1827px 1444px #FFF, 1476px 1787px #FFF, 1042px 1162px #FFF, 1915px 1965px #FFF, 64px 1801px #FFF, 1056px 619px #FFF, 1834px 1910px #FFF, 65px 258px #FFF, 1163px 167px #FFF, 1470px 606px #FFF, 1287px 860px #FFF, 1587px 1200px #FFF, 1077px 158px #FFF, 1319px 672px #FFF, 1630px 895px #FFF, 1183px 1580px #FFF, 1941px 1705px #FFF, 1927px 1435px #FFF, 1702px 830px #FFF, 1413px 586px #FFF, 312px 218px #FFF, 1286px 1110px #FFF, 623px 278px #FFF, 845px 1719px #FFF, 802px 603px #FFF, 145px 387px #FFF, 675px 579px #FFF, 1263px 1775px #FFF, 305px 979px #FFF, 749px 1190px #FFF, 1138px 1845px #FFF, 1576px 918px #FFF, 342px 793px #FFF, 1301px 456px #FFF, 1357px 409px #FFF, 849px 349px #FFF, 525px 1735px #FFF, 1392px 705px #FFF, 1705px 1096px #FFF, 1695px 1575px #FFF, 567px 1358px #FFF, 1031px 1584px #FFF, 735px 1427px #FFF, 332px 916px #FFF, 312px 1062px #FFF, 924px 768px #FFF, 632px 1790px #FFF, 1667px 378px #FFF, 1930px 336px #FFF, 1664px 484px #FFF, 1641px 1166px #FFF, 626px 377px #FFF, 1256px 1419px #FFF, 1515px 333px #FFF, 1536px 948px #FFF, 1266px 1353px #FFF, 1459px 651px #FFF, 519px 1049px #FFF, 1963px 1409px #FFF, 1776px 1052px #FFF, 650px 1552px #FFF, 478px 1404px #FFF, 684px 1360px #FFF, 1580px 1014px #FFF, 288px 1136px #FFF, 1034px 1271px #FFF, 1611px 1574px #FFF, 286px 776px #FFF, 191px 825px #FFF, 1919px 944px #FFF, 1045px 1327px #FFF, 1475px 1133px #FFF, 435px 345px #FFF, 822px 1517px #FFF, 1308px 592px #FFF, 806px 1724px #FFF, 859px 1370px #FFF, 1980px 684px #FFF, 1766px 740px #FFF, 1712px 703px #FFF, 1440px 466px #FFF, 944px 1671px #FFF, 539px 155px #FFF, 1625px 649px #FFF, 1933px 1573px #FFF, 1217px 1742px #FFF, 958px 1560px #FFF, 645px 1396px #FFF, 1404px 745px #FFF, 445px 1032px #FFF, 242px 420px #FFF, 140px 1304px #FFF, 828px 1883px #FFF, 74px 12px #FFF, 661px 1155px #FFF, 1021px 1508px #FFF, 1939px 1996px #FFF, 1030px 973px #FFF, 1951px 1324px #FFF, 1290px 434px #FFF, 56px 1082px #FFF, 98px 709px #FFF, 728px 945px #FFF, 324px 476px #FFF, 1522px 12px #FFF, 1084px 1119px #FFF, 900px 1712px #FFF, 418px 957px #FFF, 671px 800px #FFF, 1302px 1706px #FFF, 375px 1796px #FFF, 1903px 1693px #FFF, 54px 1352px #FFF, 1723px 926px #FFF, 721px 1814px #FFF, 536px 1500px #FFF, 1287px 1736px #FFF, 1310px 252px #FFF, 1305px 1338px #FFF, 1330px 498px #FFF, 197px 367px #FFF, 1594px 896px #FFF, 1736px 1807px #FFF, 641px 1522px #FFF, 1740px 819px #FFF, 1962px 254px #FFF, 149px 94px #FFF, 1302px 545px #FFF, 290px 1802px #FFF, 1258px 1049px #FFF, 196px 1979px #FFF, 1118px 593px #FFF, 218px 599px #FFF, 156px 607px #FFF, 784px 1527px #FFF, 937px 1538px #FFF, 876px 1812px #FFF, 649px 1984px #FFF, 1844px 1564px #FFF, 189px 318px #FFF, 1470px 1099px #FFF, 1777px 730px #FFF, 971px 313px #FFF, 900px 124px #FFF, 975px 405px #FFF, 1644px 978px #FFF, 1403px 1881px #FFF, 439px 577px #FFF, 857px 989px #FFF, 1735px 48px #FFF, 699px 1215px #FFF, 440px 1293px #FFF, 1042px 643px #FFF, 663px 793px #FFF, 583px 1373px #FFF, 678px 1463px #FFF, 1906px 1456px #FFF, 874px 1733px #FFF, 1444px 1303px #FFF, 137px 915px #FFF; }
  .home-page .moar-stars {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 991px 1692px #FFF, 1845px 135px #FFF, 1485px 1220px #FFF, 968px 264px #FFF, 706px 927px #FFF, 1943px 473px #FFF, 149px 1562px #FFF, 247px 1291px #FFF, 1192px 752px #FFF, 681px 1234px #FFF, 1076px 595px #FFF, 744px 1817px #FFF, 1386px 1453px #FFF, 961px 1779px #FFF, 320px 1852px #FFF, 1137px 350px #FFF, 1424px 510px #FFF, 1682px 234px #FFF, 94px 1637px #FFF, 575px 1155px #FFF, 1616px 1872px #FFF, 828px 1943px #FFF, 1386px 504px #FFF, 813px 543px #FFF, 538px 1591px #FFF, 686px 1960px #FFF, 1999px 520px #FFF, 1020px 1942px #FFF, 996px 1857px #FFF, 1625px 899px #FFF, 789px 1146px #FFF, 771px 1711px #FFF, 971px 1586px #FFF, 718px 614px #FFF, 627px 883px #FFF, 437px 377px #FFF, 307px 825px #FFF, 1978px 1675px #FFF, 804px 745px #FFF, 1136px 1136px #FFF, 1752px 24px #FFF, 1564px 1773px #FFF, 514px 1329px #FFF, 1932px 934px #FFF, 769px 1416px #FFF, 1730px 1808px #FFF, 90px 263px #FFF, 1065px 1099px #FFF, 467px 1245px #FFF, 397px 511px #FFF, 1142px 1130px #FFF, 81px 226px #FFF, 1219px 962px #FFF, 1538px 1030px #FFF, 1223px 986px #FFF, 1424px 796px #FFF, 1426px 1724px #FFF, 1182px 799px #FFF, 431px 874px #FFF, 1937px 152px #FFF, 1059px 1926px #FFF, 1104px 1180px #FFF, 1203px 659px #FFF, 117px 1955px #FFF, 307px 973px #FFF, 525px 1418px #FFF, 1698px 910px #FFF, 314px 1523px #FFF, 340px 1079px #FFF, 929px 1939px #FFF, 1823px 450px #FFF, 1345px 1962px #FFF, 174px 1968px #FFF, 1211px 1187px #FFF, 459px 715px #FFF, 238px 1079px #FFF, 1786px 72px #FFF, 311px 745px #FFF, 346px 1785px #FFF, 226px 1873px #FFF, 60px 707px #FFF, 1458px 603px #FFF, 676px 330px #FFF, 1908px 1909px #FFF, 391px 372px #FFF, 377px 1317px #FFF, 370px 1501px #FFF, 247px 58px #FFF, 177px 564px #FFF, 1161px 986px #FFF, 1312px 1160px #FFF, 700px 1761px #FFF, 441px 279px #FFF, 1447px 785px #FFF, 889px 634px #FFF, 1590px 1843px #FFF, 433px 1891px #FFF, 182px 60px #FFF, 414px 267px #FFF, 1521px 302px #FFF;
    animation: parallaxStar 150s linear infinite; }
    .home-page .moar-stars:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: 991px 1692px #FFF, 1845px 135px #FFF, 1485px 1220px #FFF, 968px 264px #FFF, 706px 927px #FFF, 1943px 473px #FFF, 149px 1562px #FFF, 247px 1291px #FFF, 1192px 752px #FFF, 681px 1234px #FFF, 1076px 595px #FFF, 744px 1817px #FFF, 1386px 1453px #FFF, 961px 1779px #FFF, 320px 1852px #FFF, 1137px 350px #FFF, 1424px 510px #FFF, 1682px 234px #FFF, 94px 1637px #FFF, 575px 1155px #FFF, 1616px 1872px #FFF, 828px 1943px #FFF, 1386px 504px #FFF, 813px 543px #FFF, 538px 1591px #FFF, 686px 1960px #FFF, 1999px 520px #FFF, 1020px 1942px #FFF, 996px 1857px #FFF, 1625px 899px #FFF, 789px 1146px #FFF, 771px 1711px #FFF, 971px 1586px #FFF, 718px 614px #FFF, 627px 883px #FFF, 437px 377px #FFF, 307px 825px #FFF, 1978px 1675px #FFF, 804px 745px #FFF, 1136px 1136px #FFF, 1752px 24px #FFF, 1564px 1773px #FFF, 514px 1329px #FFF, 1932px 934px #FFF, 769px 1416px #FFF, 1730px 1808px #FFF, 90px 263px #FFF, 1065px 1099px #FFF, 467px 1245px #FFF, 397px 511px #FFF, 1142px 1130px #FFF, 81px 226px #FFF, 1219px 962px #FFF, 1538px 1030px #FFF, 1223px 986px #FFF, 1424px 796px #FFF, 1426px 1724px #FFF, 1182px 799px #FFF, 431px 874px #FFF, 1937px 152px #FFF, 1059px 1926px #FFF, 1104px 1180px #FFF, 1203px 659px #FFF, 117px 1955px #FFF, 307px 973px #FFF, 525px 1418px #FFF, 1698px 910px #FFF, 314px 1523px #FFF, 340px 1079px #FFF, 929px 1939px #FFF, 1823px 450px #FFF, 1345px 1962px #FFF, 174px 1968px #FFF, 1211px 1187px #FFF, 459px 715px #FFF, 238px 1079px #FFF, 1786px 72px #FFF, 311px 745px #FFF, 346px 1785px #FFF, 226px 1873px #FFF, 60px 707px #FFF, 1458px 603px #FFF, 676px 330px #FFF, 1908px 1909px #FFF, 391px 372px #FFF, 377px 1317px #FFF, 370px 1501px #FFF, 247px 58px #FFF, 177px 564px #FFF, 1161px 986px #FFF, 1312px 1160px #FFF, 700px 1761px #FFF, 441px 279px #FFF, 1447px 785px #FFF, 889px 634px #FFF, 1590px 1843px #FFF, 433px 1891px #FFF, 182px 60px #FFF, 414px 267px #FFF, 1521px 302px #FFF; }
  .home-page .title {
    margin-top: 1rem;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    color: white;
    text-transform: uppercase;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .home-page .social-icons {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 9; }
    .home-page .social-icons button {
      border-radius: 0 !important; }

@keyframes parallaxStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

.login-page {
  height: 100vh;
  background-image: url("./../../assets/images/login_bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .login-page a {
    color: #6435c9 !important; }
  .login-page .grid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0; }
  .login-page .logo-seg {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9); }
  .login-page .form-seg {
    background-color: rgba(247, 206, 217, 0.4); }

.register-page {
  height: 100vh;
  background-image: url("./../../assets/images/signup_bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .register-page a {
    color: #6435c9 !important; }
  .register-page .grid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0; }
  .register-page .logo-seg {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9); }
  .register-page .form-seg {
    background-color: rgba(104, 181, 157, 0.4); }

.password-reset-page {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .password-reset-page .grid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0; }

.error-page {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  width: 100vw; }
  .error-page .content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .error-page .content h1 {
      font-size: 12rem; }
    .error-page .content h2 {
      font-size: 2em; }
    .error-page .content a {
      text-transform: uppercase; }

.vr-page {
  background-color: #000; }
  .vr-page .c2m {
    background-color: rgba(155, 155, 155, 0.2); }
  .vr-page .chat-room .header {
    text-align: center; }
  .vr-page .chat-room .avatar {
    display: none !important; }
  .vr-page .chat-room .content {
    margin: 0 !important; }
  .vr-page .chat-msg-input .custom-form {
    margin-bottom: 1em; }
    .vr-page .chat-msg-input .custom-form label {
      font-size: inherit; }
  .vr-page .members {
    text-align: center;
    margin-top: 0.5em; }
    .vr-page .members h3 {
      display: none; }
    .vr-page .members .content {
      display: none; }

.current-user {
  display: flex;
  justify-content: space-between;
  padding: 0 1em; }
  .current-user .button {
    padding: 0;
    color: #eee;
    background-color: transparent; }
    .current-user .button:hover {
      color: #eee;
      background-color: transparent; }
      .current-user .button:hover img:hover {
        -webkit-filter: brightness(70%); }
    .current-user .button:active, .current-user .button:focus {
      color: #eee;
      background-color: transparent; }
  .current-user .user-options .icon.button {
    padding: 0.515em; }
    .current-user .user-options .icon.button:hover {
      background-color: #111; }

.user {
  display: flex; }
  .user .content {
    flex: 1;
    margin-left: 6px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .user .content .pin {
      color: #646464;
      font-size: 10px;
      display: block;
      text-align: left !important; }
  .user .avatar {
    position: relative;
    height: 28px; }
    .user .avatar img {
      min-width: 28px;
      max-width: 28px;
      min-height: 28px;
      max-height: 28px; }
    .user .avatar .online--true {
      width: 13px;
      height: 13px;
      border-radius: 100%;
      position: absolute;
      background-color: #767676 !important;
      border: 2px solid #222;
      bottom: 0;
      right: 0; }
      .user .avatar .online--true.Show {
        background-color: #00b5ad !important; }
      .user .avatar .online--true.Away {
        background-color: #fbbd08 !important; }
      .user .avatar .online--true.Busy {
        background-color: #db2828 !important; }
    .user .avatar .online--false {
      width: 13px;
      height: 13px;
      border-radius: 100%;
      position: absolute;
      background-color: #767676 !important;
      border: 2px solid #222;
      bottom: 0;
      right: 0; }
      .user .avatar .online--false.Away, .user .avatar .online--false.Busy, .user .avatar .online--false.Show {
        background-color: #767676 !important; }

.user-model-customization {
  margin: 0 1em;
  height: 100%;
  display: flex; }
  .user-model-customization .tabs {
    flex: 1; }
  .user-model-customization .tab-content {
    height: calc(100% - 27px - 1em); }
  .user-model-customization .pane {
    height: 100%; }
  .user-model-customization .accordion {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column; }
    .user-model-customization .accordion.active {
      flex: 1; }
    .user-model-customization .accordion .title:not(:first-of-type) {
      margin-top: 4px; }
    .user-model-customization .accordion .title {
      color: #f1f1f1 !important;
      font-size: 16px !important;
      background-color: rgba(0, 0, 0, 0.3);
      font-size: bold;
      text-transform: capitalize; }
      .user-model-customization .accordion .title.active, .user-model-customization .accordion .title:hover {
        background-color: rgba(0, 0, 0, 0.5); }
      .user-model-customization .accordion .title .icon {
        color: #6435c9; }
    .user-model-customization .accordion .content {
      padding: 8px !important;
      background-color: rgba(0, 0, 0, 0.3); }
      .user-model-customization .accordion .content.active {
        flex: 1; }

.user-card .content,
.user-card .content.extra {
  border-top: none !important; }
  .user-card .content .custom-form > .group,
  .user-card .content.extra .custom-form > .group {
    margin-bottom: 0.5rem; }

.main-options .icon.button {
  color: #eee;
  padding: 0.515em;
  background-color: transparent; }
  .main-options .icon.button:hover {
    color: #eee;
    background-color: #111; }
  .main-options .icon.button:active, .main-options .icon.button:focus {
    color: #eee;
    background-color: transparent; }

.tabs .tab-labels {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin-top: 0; }
  .tabs .tab-labels li {
    border-bottom: 1px solid #999;
    flex-grow: 1;
    text-align: center;
    display: inline-block; }
    .tabs .tab-labels li button {
      color: #fff;
      padding: 5px;
      width: 100%;
      background-color: transparent;
      border: none;
      outline: transparent; }
      .tabs .tab-labels li button:hover {
        color: #7a5ac3; }
    .tabs .tab-labels li:hover {
      border-bottom: 1px solid #7a5ac3; }
    .tabs .tab-labels li.active {
      border-bottom-color: #7a5ac3; }
      .tabs .tab-labels li.active button {
        color: #7a5ac3; }

.current-server {
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .current-server .header {
    margin: 0 !important;
    line-height: 28px;
    height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .current-server .icon.button {
    color: #eee;
    padding: 0.515em;
    background-color: transparent; }
    .current-server .icon.button:hover {
      color: #eee;
      background-color: #111; }
    .current-server .icon.button:active, .current-server .icon.button:focus {
      color: #eee;
      background-color: transparent; }

.server img {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 100%; }

.server.is-current-server img, .server:hover img {
  border-radius: 25%; }

.server-list {
  flex: 1 1 auto;
  height: 0;
  overflow-y: auto; }

.servers {
  display: flex;
  flex: 1;
  flex-direction: column; }
  .servers ::-webkit-scrollbar {
    width: 0;
    background: transparent; }

.member .button {
  padding: 0;
  color: #eee;
  background-color: transparent; }
  .member .button:hover {
    color: #eee;
    background-color: transparent; }
    .member .button:hover img:hover {
      -webkit-filter: brightness(70%); }
  .member .button:active, .member .button:focus {
    color: #eee;
    background-color: transparent; }

.members-list {
  flex: 1 1 auto;
  height: 0;
  overflow-y: auto; }

.members {
  margin: 0 1em;
  display: flex;
  flex: 1;
  flex-direction: column; }
  .members .main-header {
    height: 32px;
    line-height: 32px;
    margin-bottom: 1.5em; }

.custom-form {
  transition: all 0.5s ease-out;
  /* active state */
  /* styling required tags */
  /* input:required ~ label::after {
    content: ' *';
    color: red;
  } */
  /* styling no-required tags */ }
  .custom-form .group {
    position: relative; }
  .custom-form input {
    font-size: 1.2em;
    padding: 10px 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: transparent;
    padding-right: 50px !important; }
    .custom-form input:focus {
      outline: none;
      border-bottom: 1px solid #6435c9; }
    .custom-form input:not(:placeholder-shown):invalid {
      color: red;
      border-bottom: 1px solid red; }
  .custom-form input:placeholder-shown ~ label,
  .custom-form label {
    color: #999;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    top: 10px;
    transition: 0.2s ease all; }
  .custom-form input:focus ~ label,
  .custom-form input:not(:placeholder-shown) ~ label {
    transform: translateY(-25px);
    font-size: 1em;
    color: #6435c9; }
  .custom-form input:not(:placeholder-shown):invalid ~ label {
    transform: translateY(-25px);
    font-size: 1em;
    color: red; }
  .custom-form input:not([required]) ~ label::after,
  .custom-form textarea:not([required]) ~ label::after {
    content: ' (optional)'; }
  .custom-form .emoji-btn,
  .custom-form .search-form-btns {
    position: absolute;
    right: 0;
    top: 12px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #6435c9;
    opacity: 0.75;
    cursor: pointer; }
    .custom-form .emoji-btn:hover,
    .custom-form .search-form-btns:hover {
      opacity: 1; }
  .custom-form.dark input {
    caret-color: white;
    color: white; }

.accordion-channel-list .channel-link {
  margin-left: 1.25rem; }

.accordion-channel-list .title {
  padding: 0 !important;
  position: relative;
  height: 35.6px;
  display: flex !important;
  align-items: center !important; }
  .accordion-channel-list .title .dropdown.icon {
    position: absolute;
    left: 1rem; }

.accordion-channel-list .content {
  margin-left: 4px;
  padding-left: 2.25rem !important;
  color: #999; }

.accordion-channel-list .list.channel-presence {
  white-space: nowrap; }
  .accordion-channel-list .list.channel-presence .content {
    padding-left: 0.5rem !important; }
  .accordion-channel-list .list.channel-presence .header {
    font-size: 0.95rem !important; }

.add-channel {
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .add-channel .header {
    margin: 0;
    text-transform: uppercase; }
  .add-channel .icon.button {
    color: #eee;
    padding: 0.515em;
    background-color: transparent; }
    .add-channel .icon.button:hover {
      color: #eee;
      background-color: #111; }
    .add-channel .icon.button:active, .add-channel .icon.button:focus {
      color: #eee;
      background-color: transparent; }

.channel {
  display: flex !important;
  justify-content: space-between;
  margin-left: 4px;
  flex: 1; }
  .channel.is-current-channel, .channel:hover {
    margin-left: 0;
    background-color: #424242;
    border-left: 4px solid #6435c9; }
    .channel.is-current-channel a, .channel:hover a {
      color: #f1f1f1; }
    .channel.is-current-channel button, .channel:hover button {
      visibility: visible !important; }
  .channel .prepend {
    font-size: 13px !important;
    margin-right: 10px; }
  .channel .channel-link {
    color: #999;
    padding: 8px 1em;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .channel button {
    background: transparent !important;
    outline: transparent !important;
    border: none !important;
    color: #999 !important;
    margin-right: 1em !important;
    visibility: hidden !important; }
    .channel button:hover {
      color: #f1f1f1 !important; }

.channels-list {
  flex: 1 1 auto;
  height: 0;
  overflow-y: auto; }

.channels {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column; }
  .channels ::-webkit-scrollbar {
    width: 0;
    background: transparent; }

.current-channel {
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .current-channel span {
    color: #999; }
  .current-channel .name-topic {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1; }
  .current-channel .header {
    margin: 0 !important;
    line-height: 28px;
    height: 28px;
    display: inline-block; }
  .current-channel .topic {
    font-size: 14px;
    border-left: 1px solid #999;
    padding-left: 7px;
    margin-left: 7px;
    flex: 1; }

.chat-msg-input .custom-form {
  padding-top: 1.5em;
  margin-bottom: 3em; }
  .chat-msg-input .custom-form input {
    caret-color: white;
    color: white; }
  .chat-msg-input .custom-form label {
    font-size: 18px; }

.chat-room {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  overflow: hidden; }

.chats-history {
  flex: 1 1 auto;
  height: 0;
  overflow-y: auto;
  position: relative; }
  .chats-history .comments {
    max-width: 100%; }
  .chats-history .comment {
    background-color: rgba(155, 155, 155, 0.2) !important;
    padding: 7px 10px !important; }
    .chats-history .comment:hover .actions {
      visibility: visible; }
    .chats-history .comment .author,
    .chats-history .comment .text {
      color: #ddd; }
      .chats-history .comment .author .edited,
      .chats-history .comment .text .edited {
        font-size: 10px;
        color: #999; }
    .chats-history .comment .metadata {
      color: #666; }
    .chats-history .comment .actions {
      position: absolute;
      right: 10px;
      bottom: 7px;
      visibility: hidden; }

.site-grid-r2 {
  display: grid;
  grid-template-columns: 1fr 15fr;
  height: 100vh;
  overflow: hidden; }
  .site-grid-r2 .section {
    padding: 1em 0;
    color: white;
    overflow: hidden; }

.site-grid-r1 {
  display: grid;
  grid-template-columns: 16fr;
  height: 100vh;
  overflow: hidden; }

.banner {
  margin-bottom: 0 !important;
  border-radius: 0 !important; }

.one-r,
.two-r {
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.grid {
  display: grid;
  flex: 1; }
  .grid .section {
    padding: 1em 0;
    color: white;
    overflow: hidden; }
  .grid .nested {
    display: flex;
    flex-direction: column;
    overflow: hidden; }
  .grid .stretch {
    flex: 1; }

/*
___ _____ ____________
|  |_c2t_|____c3t____|
|  |     |           |
|c1| c2m |    c3m    |
|  |_____|           |
|__|_c2b_|___________|

*/
.grid-3c {
  grid-template-columns: 3fr 12fr; }

/*
______ ___________ ___
|_c2t_|____c3t____|  |
|     |           |  |
| c2m |   c3m     |c4|
|_____|           |  |
|_c2b_|___________|__|

*/
.grid-3c-vr {
  grid-template-columns: 3fr 12fr 1fr; }

/*
___ _____ _________ ___
|  |_c2t_|___c3t___|  |
|  |     |         |  |
|c1| c2m |   c3m   |c4|
|  |_____|         |  |
|__|_c2b_|_________|__|

*/
.grid-4c {
  grid-template-columns: 3fr 9fr 3fr; }

.c1 {
  background-color: #111; }

.c2m,
.c3m {
  color: #ddd; }

.c2m,
.c2t {
  background-color: #303030; }

.c3m,
.c3t {
  background-color: #424242; }

.c2b,
.c4 {
  background-color: #212121; }

.c2b,
.c2t,
.c3t {
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1)); }

.c2b,
.c2t,
.c3t {
  line-height: 28px; }

.dmsg-btn,
.user-btn {
  text-align: center; }

.c1,
.c4 {
  display: flex;
  flex-direction: column; }
